Repository SigmaHQ/sigma, changes with the labels that .github/labeler.yml gives for each.
All labels: Rules, Emerging-Threats, Threat-Hunting, MacOS, Windows, Linux, Maintenance, Review Needed

chore: update ATT&CK heatmap
  other/sigma_attack_nav_coverage.json
Labels: Review Needed

chore: update deprecated csv
  deprecated/deprecated.csv
  deprecated/deprecated.json
Labels: Rules, Review Needed

chore: promote older rules status from `experimental` to `test`
  rules-emerging-threats/2024/Exploits/CVE-2024-50623/proc_creation_win_exploit_cve_2024_50623_cleo.yml
  rules-emerging-threats/2024/Malware/Generic/file_event_win_malware_generic_creation_configuration_rats.yml
  rules-emerging-threats/2024/Malware/Lummac-Stealer/proc_creation_win_malware_lummac_more_vbc.yml
  rules/cloud/aws/cloudtrail/aws_delete_saml_provider.yml
  rules/cloud/aws/cloudtrail/aws_ec2_import_key_pair_activity.yml
  rules/cloud/aws/cloudtrail/aws_lambda_function_url.yml
  rules/cloud/aws/cloudtrail/aws_rds_dbcluster_actions.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_attempted_dll_load.yml
  rules/windows/dns_query/dns_query_win_quickassist.yml
  rules/windows/process_creation/proc_creation_win_quickassist_execution.yml
Labels: Rules, Emerging-Threats, Windows, Review Needed

chore: archive new rule references and update cache file
  .github/latest_archiver_output.md
  tests/rule-references.txt
Labels: Maintenance, Review Needed

add rule for proxy logs detecting Cisco ASA/FP exploit CVE-2025-20333
  rules-emerging-threats/2025/Exploits/CVE-2025-20333/proxy_exploit_cve_2025_20333.yml
Labels: Rules, Emerging-Threats, Review Needed

fix: tags and logsource issues
  rules-emerging-threats/2025/Exploits/CVE-2025-20333/proxy_exploit_cve_2025_20333.yml
  rules-emerging-threats/2025/Exploits/CVE-2025-20333/web_exploit_cve_2025_20333.yml
  tests/logsource.json
Labels: Rules, Emerging-Threats, Maintenance, Review Needed

fix selection names and conditions
  rules/windows/process_creation/proc_creation_win_explorer_break_process_tree.yml
  rules/windows/process_creation/proc_creation_win_msdt_answer_file_exec.yml
  rules/windows/process_creation/proc_creation_win_rpcping_credential_capture.yml
Labels: Rules, Windows, Review Needed

Update proc_creation_win_rpcping_credential_capture.yml
  rules/windows/process_creation/proc_creation_win_rpcping_credential_capture.yml
Labels: Rules, Windows, Review Needed

apply suggestions
  rules-emerging-threats/2025/Exploits/CVE-2025-59287/proc_creation_win_exploit_cve_2025_59287.yml
  rules-emerging-threats/2025/Exploits/CVE-2025-59287/win_wsus_exploit_cve_2025_59287.yml
Labels: Rules, Emerging-Threats, Review Needed

remove trailing space
  rules-emerging-threats/2025/Exploits/CVE-2025-59287/proc_creation_win_exploit_cve_2025_59287.yml
Labels: Rules, Emerging-Threats, Review Needed

Update rules/windows/process_creation/proc_creation_win_explorer_break_process_tree.yml
  rules/windows/process_creation/proc_creation_win_explorer_break_process_tree.yml
Labels: Rules, Windows, Review Needed

.github/labeler.yml:

Rules:
    - 'deprecated/**/*'
    - 'rules/**/*'
    - 'rules-compliance/**/*'
    - 'rules-dfir/**/*'
    - 'rules-emerging-threats/**/*'
    - 'rules-placeholder/**/*'
    - 'rules-threat-hunting/**/*'
Emerging-Threats:
    - 'rules-emerging-threats/**/*'
Threat-Hunting:
    - 'rules-threat-hunting/**/*'
MacOS:
    - 'rules/macos/**/*'
    - 'rules-compliance/macos/**/*'
    - 'rules-dfir/macos/**/*'
    - 'rules-emerging-threats/macos/**/*'
    - 'rules-placeholder/macos/**/*'
    - 'rules-threat-hunting/macos/**/*'
Windows:
    - 'rules/windows/**/*'
    - 'rules-compliance/windows/**/*'
    - 'rules-dfir/windows/**/*'
    - 'rules-emerging-threats/windows/**/*'
    - 'rules-placeholder/windows/**/*'
    - 'rules-threat-hunting/windows/**/*'
Linux:
    - 'rules/linux/**/*'
    - 'rules-compliance/linux/**/*'
    - 'rules-dfir/linux/**/*'
    - 'rules-emerging-threats/linux/**/*'
    - 'rules-placeholder/linux/**/*'
    - 'rules-threat-hunting/linux/**/*'
Maintenance:
    - 'documentation/**/*'
    - 'tests/**/*'
    - '.github/**/*'
    - 'README.md'
    - 'Releases.md'
Review Needed:
    - '**/*'
