Repository SigmaHQ/sigma, pull requests merged in 2021-08, with the labels that each got.

#1827 2 new rules (Little Corporal Maldoc and keyword generic version of "ProxyShell MSExchange MailBox Export Pattern")
  rules/windows/other/win_exchange_proxyshell_mailbox_export.yml
  rules/windows/process_access/sysmon_littlecorporal_generated_maldoc.yml
  rules/windows/process_creation/win_exchange_proxyshell_mailboxexport.yml
Labels: duplicate

#1855 Rule to detect Coti sqlcmd
  rules/windows/process_creation/process_creation_coti_sqlcmd.yml
Labels: work_in_progress

#1854 rule: Antivirus hacktool events, Procdump rules refactoring
  rules/windows/file_event/sysmon_lsass_memory_dump_file_creation.yml
  rules/windows/malware/av_hacktool.yml
  rules/windows/powershell/powershell_suspicious_keywords.yml
  rules/windows/process_creation/win_procdump.yml
  rules/windows/process_creation/win_renamed_procdump.yml
  rules/windows/process_creation/win_susp_procdump.yml
Labels: rules

#1837 generalise amsi bypass rule to CobaltStrike BOF injection pattern
  rules/windows/process_access/sysmon_cobaltstrike_bof_injection_pattern.yml
Labels: rules

#1825 rule: ProxyLogon web_cve_2021_26858_iis_rce.yml
  rules/web/web_cve_2021_26858_iis_rce.yml
Labels: rules, work_in_progress

#1863 azure_keyvault_key_modified_or_deleted.yml
  rules/cloud/azure/azure_keyvault_key_modified_or_deleted.yml
Labels: rules

#1864 azure_keyvault_modified_or_deleted.yml
  rules/cloud/azure/azure_keyvault_modified_or_deleted.yml
Labels: rules

#1872 fix: FPs with WMIADAP.exe
  rules/windows/image_load/sysmon_wmi_module_load.yml
Labels: rules

#1870 Fix some false positives in renamed powershell
  rules/windows/powershell/powershell_alternate_powershell_hosts.yml
  rules/windows/powershell/powershell_renamed_powershell.yml
Labels: rules

#1869 [OSCD] powershell_trigger_profiles T1546.013
  rules/windows/powershell/powershell_trigger_profiles.yml
Labels: rules

#1874 Update win_nltest_query.yml
  rules/windows/process_creation/win_nltest_query.yml
  rules/windows/process_creation/win_nltest_recon.yml
Labels: rules

#1865 azure_keyvault_secrets_modified_or_deleted.yml
  rules/cloud/azure/azure_keyvault_secrets_modified_or_deleted.yml
Labels: rules

#1876 Update AWS CloudTrail rules
  rules/cloud/aws/aws_elasticache_security_group_created.yml
  rules/cloud/aws/aws_elasticache_security_group_modified_or_deleted.yml
  rules/cloud/aws/aws_s3_data_management_tampering.yml
  rules/cloud/aws/aws_snapshot_backup_exfiltration.yml
Labels: rules

#1868 Added rule for zero day CVE-2021-22123 in Fortinet WAFs
  rules/web/web_fortinet_cve_2021_22123_exploit.yml
Labels: rules, work_in_progress

#1890 update ref from conti_leak
  rules/windows/builtin/win_software_discovery.yml
Labels: rules

#1883 microsoft365_user_restricted_from_sending_email.yml
  rules/cloud/m365/microsoft365_user_restricted_from_sending_email.yml
Labels: rules

#1884 microsoft365_potential_ransomware_activity.yml
  rules/cloud/m365/microsoft365_potential_ransomware_activity.yml
Labels: rules

#1885 microsoft365_unusual_volume_of_file_deletion.yml
  rules/cloud/m365/microsoft365_unusual_volume_of_file_deletion.yml
Labels: rules

#1893 Adding a rule to detect WriteHijack DLL exploitation by PowerUp
  rules/windows/file_event/sysmon_detect_powerup_dllhijacking.yml
Labels: rules

#1858 Replace pr718
  rules/cloud/azure/azure_creating_number_of_resources_detection.yml
  rules/cloud/azure/azure_granting_permission_detection.yml
  rules/cloud/azure/azure_rare_operations.yml
  rules/network/zeek/zeek_dns_mining_pools.yml
  rules/network/zeek/zeek_dns_torproxy.yml
  rules/web/sql_injection_keywords.yml
  rules/web/xss_keywords.yml
  rules/windows/builtin/win_event_log_cleared.yml
Labels: rules

#1892 Powershell Cleanup
  rules/windows/create_remote_thread/sysmon_powershell_code_injection.yml
  rules/windows/file_event/sysmon_suspicious_powershell_profile_create.yml
  rules/windows/powershell/powershell_CL_Invocation_LOLScript.yml
  rules/windows/powershell/powershell_CL_Invocation_LOLScript_v2.yml
  rules/windows/powershell/powershell_CL_Mutexverifiers_LOLScript.yml
  rules/windows/powershell/powershell_CL_Mutexverifiers_LOLScript_v2.yml
  rules/windows/powershell/powershell_accessing_win_api.yml
  rules/windows/powershell/powershell_adrecon_execution.yml
  rules/windows/powershell/powershell_automated_collection.yml
  rules/windows/powershell/powershell_bad_opsec_artifacts.yml
  rules/windows/powershell/powershell_clear_powershell_history.yml
  rules/windows/powershell/powershell_create_local_user.yml
  rules/windows/powershell/powershell_data_compressed.yml
  rules/windows/powershell/powershell_decompress_commands.yml
  rules/windows/powershell/powershell_dnscat_execution.yml
  rules/windows/powershell/powershell_get_clipboard.yml
  rules/windows/powershell/powershell_icmp_exfiltration.yml
  rules/windows/powershell/powershell_invoke_nightmare.yml
  rules/windows/powershell/powershell_invoke_obfuscation_clip+.yml
  rules/windows/powershell/powershell_invoke_obfuscation_obfuscated_iex.yml
  rules/windows/powershell/powershell_invoke_obfuscation_stdin+.yml
  rules/windows/powershell/powershell_invoke_obfuscation_var+.yml
  rules/windows/powershell/powershell_invoke_obfuscation_via_compress.yml
  rules/windows/powershell/powershell_invoke_obfuscation_via_rundll.yml
  rules/windows/powershell/powershell_invoke_obfuscation_via_stdin.yml
  rules/windows/powershell/powershell_invoke_obfuscation_via_use_clip.yml
  rules/windows/powershell/powershell_invoke_obfuscation_via_use_mhsta.yml
  rules/windows/powershell/powershell_invoke_obfuscation_via_use_rundll32.yml
  rules/windows/powershell/powershell_invoke_obfuscation_via_var++.yml
  rules/windows/powershell/powershell_malicious_commandlets.yml
  rules/windows/powershell/powershell_malicious_keywords.yml
  rules/windows/powershell/powershell_nishang_malicious_commandlets.yml
  rules/windows/powershell/powershell_ntfs_ads_access.yml
  rules/windows/powershell/powershell_powercat.yml
  rules/windows/powershell/powershell_powerview_malicious_commandlets.yml
  rules/windows/powershell/powershell_prompt_credentials.yml
  rules/windows/powershell/powershell_psattack.yml
  rules/windows/powershell/powershell_remote_powershell_session.yml
  rules/windows/powershell/powershell_shellcode_b64.yml
  rules/windows/powershell/powershell_shellintel_malicious_commandlets.yml
  rules/windows/powershell/powershell_suspicious_export_pfxcertificate.yml
  rules/windows/powershell/powershell_suspicious_getprocess_lsass.yml
  rules/windows/powershell/powershell_suspicious_invocation_specific.yml
  rules/windows/powershell/powershell_suspicious_keywords.yml
  rules/windows/powershell/powershell_suspicious_mail_acces.yml
  rules/windows/powershell/powershell_suspicious_mounted_share_deletion.yml
  rules/windows/powershell/powershell_suspicious_recon.yml
  rules/windows/powershell/powershell_winlogon_helper_dll.yml
  rules/windows/powershell/powershell_wmimplant.yml
  rules/windows/process_creation/win_powershell_cmdline_reversed_strings.yml
  rules/windows/process_creation/win_powershell_cmdline_special_characters.yml
  rules/windows/process_creation/win_powershell_cmdline_specific_comb_methods.yml
Labels: rules

#1856 [Ready] SQL & SQLite rule fields selection
  tools/sigma/backends/sql.py
  tools/sigma/backends/sqlite.py
Labels: backends

#1887 fix sigmac error "has no len()"
  tools/sigma/backends/base.py
Labels: backends

#1877 Add t1546 redcanary rules
  rules/windows/powershell/powershell_wmi_persistence.yml
  rules/windows/process_creation/win_susp_netsh_dll_persistence.yml
  rules/windows/process_creation/win_susp_screensaver_reg.yml
Labels: rules

#1889 Update AWS CloudTrail rules
  rules/cloud/aws/aws_ec2_disable_encryption.yml
  rules/cloud/aws/aws_ec2_download_userdata.yml
  rules/cloud/aws/aws_ec2_vm_export_failure.yml
  rules/cloud/aws/aws_iam_backdoor_users_keys.yml
  rules/cloud/aws/aws_rds_change_master_password.yml
  rules/cloud/aws/aws_rds_public_db_restore.yml
  rules/cloud/aws/aws_sts_assumerole_misuse.yml
Labels: rules

#1900 Add fields to event log cleared
  rules/windows/builtin/win_event_log_cleared.yml
Labels: rules

#1899 feat: Add rule for malicious CSR export on Exchange
  rules/windows/other/win_exchange_proxyshell_certificate_generation.yml
Labels: rules

#1902 Create zeek_dce_rpc_potential_petit_potam_efs_rpc_call.yml
  rules/network/zeek/zeek_dce_rpc_potential_petit_potam_efs_rpc_call.yml
Labels: rules

#1901 Redcanary Powershell Suspicious Win32_PnPEntity T1120
  rules/windows/powershell/powershell_detect_vm_env.yml
  rules/windows/powershell/powershell_suspicious_win32_pnpentity.yml
  rules/windows/process_creation/win_possible_applocker_bypass.yml
Labels: rules

#1909 condition fix and add fields
  rules/network/zeek/zeek_dce_rpc_potential_petit_potam_efs_rpc_call.yml
Labels: rules

#1904 Microsoft 365 Rules
  rules/cloud/m365/microsoft365_activity_by_terminated_user.yml
  rules/cloud/m365/microsoft365_activity_from_anonymous_ip_addresses.yml
  rules/cloud/m365/microsoft365_activity_from_infrequent_country.yml
  rules/cloud/m365/microsoft365_data_exfiltration_to_unsanctioned_app.yml
  rules/cloud/m365/microsoft365_from_suspicious_ip_addresses.yml
  rules/cloud/m365/microsoft365_logon_from_risky_ip_address.yml
  rules/cloud/m365/microsoft365_suspicious_inbox_forwarding.yml
  rules/cloud/m365/microsoft365_suspicious_oauth_app_file_download_activities.yml
Labels: rules

#1910 gworkspace_user_assigned_admin_role.yml
  rules/cloud/gworkspace/gworkspace_user_granted_admin_privileges.yml
Labels: rules

#1905 improve rule
  rules/network/zeek/zeek_dns_mining_pools.yml
Labels: rules

#1906 improve zeek_dce_rpc_smb_spoolss_named_pipe
  rules/network/zeek/zeek_dce_rpc_smb_spoolss_named_pipe.yml
Labels: rules

#1908 improve rule logic zeek_default_cobalt_strike_certificate.yml
  rules/network/zeek/zeek_default_cobalt_strike_certificate.yml
Labels: rules

#1913 Zeek DCE_RPC PrintNightmare
  rules/network/zeek/zeek_dce_rpc_printnightmare_print_driver_install.yml
Labels: rules

#1898 rule: EfsPotato Named Pipe, splwow64, RazerInstaller
  rules/windows/pipe_created/sysmon_efspotato_namedpipe.yml
  rules/windows/process_creation/win_susp_razorinstaller_explorer.yml
  rules/windows/process_creation/win_susp_splwow64.yml
Labels: rules

#1918 Added rule for Arcadyan Router Exploitations
  rules/web/web_arcadyan_router_cve_2021_20090_2021_20091_exploit.yml
Labels: rules

#1922 add gworkspace_user_granted_admin_privileges.yml
  rules/cloud/gworkspace/gworkspace_user_granted_admin_privileges.yml
Labels: rules

#1939 rule: UAC bypass by mocking dirs
  rules/windows/process_creation/win_susp_uac_bypass_trustedpath.yml
Labels: rules

#1940 Powershell correction
  rules/windows/powershell/powershell_alternate_powershell_hosts.yml
  rules/windows/powershell/powershell_delete_volume_shadow_copies.yml
  rules/windows/powershell/powershell_xor_commandline.yml
Labels: rules

#1938 Fix Pass the Hash and NotPetya Ransomware rule
  rules/windows/builtin/win_pass_the_hash.yml
  rules/windows/process_creation/win_malware_notpetya.yml
Labels: rules

#1957 Added new malwarebytes reference for Cab File Expansion rule
  rules/windows/process_creation/sysmon_expand_cabinet_files.yml
Labels: rules

#1960 sysmon_dns_over_https_enabled.yml
  rules/windows/registry_event/sysmon_dns_over_https_enabled.yml
Labels: rules
