Repository SigmaHQ/sigma, pull requests merged in 2021-09, with the labels that each got.

#1961 SideWalk User-Agent used by Sparkling Goblin
  rules/proxy/proxy_ua_apt.yml
Labels: rules

#1959 Update PowerShell rules
  rules/windows/builtin/win_powershell_web_request.yml
  rules/windows/powershell/powershell_invoke_nightmare.yml
  rules/windows/powershell/powershell_remote_powershell_session.yml
  rules/windows/powershell/powershell_suspicious_keywords.yml
  rules/windows/powershell/powershell_wmimplant.yml
  rules/windows/powershell/powershell_wsman_com_provider_no_powershell.yml
Labels: rules

#1958 Bulk of new rules, mainly UAC Bypasses
  rules/windows/file_event/sysmon_uac_bypass_cleanmgr_tmpfile.yml
  rules/windows/file_event/sysmon_uac_bypass_consent_comctl32.yml
  rules/windows/file_event/sysmon_uac_bypass_dotnet_profiler.yml
  rules/windows/file_event/sysmon_uac_bypass_ieinstal.yml
  rules/windows/file_event/sysmon_uac_bypass_msconfig_gui.yml
  rules/windows/file_event/sysmon_uac_bypass_ntfs_reparse_point.yml
  rules/windows/file_event/sysmon_uac_bypass_winsat.yml
  rules/windows/file_event/sysmon_uac_bypass_wmp.yml
  rules/windows/other/win_exchange_proxyshell_remove_mailbox_export.yml
  rules/windows/process_access/sysmon_uac_bypass_wow64_logger.yml
  rules/windows/process_creation/win_cmstp_com_object_access.yml
  rules/windows/process_creation/win_hktl_uacme_uac_bypass.yml
  rules/windows/process_creation/win_uac_bypass_changepk_slui.yml
  rules/windows/process_creation/win_uac_bypass_cleanmgr.yml
  rules/windows/process_creation/win_uac_bypass_computerdefaults.yml
  rules/windows/process_creation/win_uac_bypass_consent_comctl32.yml
  rules/windows/process_creation/win_uac_bypass_dismhost.yml
  rules/windows/process_creation/win_uac_bypass_ieinstal.yml
  rules/windows/process_creation/win_uac_bypass_msconfig_gui.yml
  rules/windows/process_creation/win_uac_bypass_ntfs_reparse_point.yml
  rules/windows/process_creation/win_uac_bypass_pkgmgr_dism.yml
  rules/windows/process_creation/win_uac_bypass_winsat.yml
  rules/windows/process_creation/win_uac_bypass_wmp.yml
  rules/windows/process_creation/win_uac_bypass_wsreset.yml
  rules/windows/registry_event/sysmon_uac_bypass_sdclt.yml
  rules/windows/registry_event/sysmon_uac_bypass_shell_open.yml
  rules/windows/registry_event/sysmon_uac_bypass_winsat.yml
  rules/windows/registry_event/sysmon_uac_bypass_wmp.yml
  tests/test_rules.py
Labels: rules

#1699 Fixed transformation modifier for keywords
  rules/windows/builtin/win_susp_msmpeng_crash.yml
Labels: rules

#1965 Add tags when missing
  rules/windows/builtin/win_av_relevant_match.yml
  rules/windows/builtin/win_ntfs_vuln_exploit.yml
  rules/windows/builtin/win_scm_database_privileged_operation.yml
  rules/windows/builtin/win_susp_failed_guest_logon.yml
  rules/windows/malware/av_hacktool.yml
  rules/windows/malware/av_relevant_files.yml
  rules/windows/malware/win_mal_darkside.yml
  rules/windows/malware/win_mal_ryuk.yml
  rules/windows/network_connection/sysmon_susp_prog_location_network_connection.yml
  rules/windows/powershell/powershell_invoke_nightmare.yml
Labels: rules

#1962 Elasticsearch Backend fix small corner cases of quotes and wildcards
  tools/sigma/backends/elasticsearch.py
Labels: backends

#1944 [Elastic] Add support for authors and subtechniques
  tools/sigma/backends/elasticsearch.py
Labels: backends

#1921 Azure Sentinel support
  tools/config/ala.yml
  tools/sigma/backends/ala.py
  tools/sigma/backends/mixins.py
Labels: backends

#1969 More Named Pipe Rules and WMI rule refactoring
  rules/windows/pipe_created/sysmon_mal_namedpipes.yml
  rules/windows/pipe_created/sysmon_susp_wmi_consumer_namedpipe.yml
  rules/windows/wmi_event/sysmon_wmi_susp_encoded_scripts.yml
  rules/windows/wmi_event/sysmon_wmi_susp_scripting.yml
Labels: rules

#1973 Remove duplicate and regex improvements
  rules/windows/pipe_created/sysmon_mal_cobaltstrike_re.yml
Labels: rules

#1977 Update AWS STS AssumeRole Misuse rule
  rules/cloud/aws/aws_sts_assumerole_misuse.yml
Labels: rules

#1975 Redcanary t1564.004 test 2
  rules/windows/powershell/powershell_ntfs_ads_access.yml
  rules/windows/powershell/powershell_store_file_in_alternate_data_stream.yml
Labels: rules

#1978 Update AWS Update Login Profile rule
  rules/cloud/aws/aws_update_login_profile.yml
Labels: rules

#1982 azure_network_firewall_policy_modified_or_deleted.yml
  rules/cloud/azure/azure_network_firewall_policy_modified_or_deleted.yml
Labels: rules

#1983 azure_service_principal_created.yml
  rules/cloud/azure/azure_service_principal_created.yml
Labels: rules

#1984 azure_app_credential_modification.yml
  rules/cloud/azure/azure_app_credential_modification.yml
Labels: rules

#1988 fixed rule date to match specification
  rules/windows/builtin/win_arbitrary_shell_execution_via_settingcontent.yml
  rules/windows/builtin/win_asr_bypass_via_appvlp_re.yml
  rules/windows/process_creation/win_sticky_keys_unauthenticated_privileged_console_access.yml
Labels: rules

#1990 Additional UAC Bypasses (2)
  rules/windows/registry_event/sysmon_uac_bypass_shell_open.yml
Labels: rules

#1985 Adding Petitpotam/ADCS attack vector detections
  rules/windows/builtin/win_petitpotam_network_share.yml
  rules/windows/builtin/win_petitpotam_susp_tgt_request.yml
Labels: rules

#1970 Redcanary t1564.004 ADS test 1
  rules/windows/process_creation/process_creation_alternate_data_streams.yml
Labels: rules

#1987 New Rule - Linux-Auditd-System Information Discovery
  rules/linux/auditd/lnx_auditd_system_info_discovery.yml
Labels: rules

#1974 Add missing Tags
  rules/windows/file_event/sysmon_tsclient_filewrite_startup.yml
  rules/windows/other/win_defender_amsi_trigger.yml
  rules/windows/other/win_defender_threat.yml
  rules/windows/process_creation/win_malware_conti_shadowcopy.yml
  rules/windows/process_creation/win_malware_dtrack.yml
  rules/windows/process_creation/win_susp_cmd_shadowcopy_access.yml
  rules/windows/process_creation/win_susp_rundll32_inline_vbs.yml
  rules/windows/process_creation/win_susp_screenconnect_access.yml
  rules/windows/process_creation/win_susp_userinit_child.yml
  rules/windows/registry_event/sysmon_reg_vbs_payload_stored.yml
  rules/windows/registry_event/sysmon_suspicious_keyboard_layout_load.yml
  rules/windows/registry_event/sysmon_sysinternals_eula_accepted.yml
Labels: rules

#1991 Azure rules
  rules/cloud/azure/azure_application_deleted.yml
  rules/cloud/azure/azure_device_no_longer_managed_or_compliant.yml
  rules/cloud/azure/azure_device_or_configuration_modified_or_deleted.yml
  rules/cloud/azure/azure_owner_removed_from_application_or_service_principal.yml
  rules/cloud/azure/azure_service_principal_removed.yml
Labels: rules

#1994 Update sysmon_mal_cobaltstrike_re.yml
  rules/windows/pipe_created/sysmon_mal_cobaltstrike_re.yml
Labels: rules

#1993 New Rule - Linux-Audio-Capture
  rules/linux/auditd/lnx_auditd_audio_capture.yml
Labels: rules

#1996 azure_federation_modified.yml
  rules/cloud/azure/azure_federation_modified.yml
Labels: rules

#1997 New Rule - Linux Hidden Files and Directories
  rules/linux/auditd/lnx_auditd_hidden_files_directories.yml
Labels: rules

#2000 Split frack113 global rules
  rules/windows/builtin/win_susp_athremotefxvgpudisablementcommand.yml
  rules/windows/powershell/powershell_classic_powercat.yml
  rules/windows/powershell/powershell_classic_susp_athremotefxvgpudisablementcommand.yml
  rules/windows/powershell/powershell_classic_susp_zip_compress.yml
  rules/windows/powershell/powershell_susp_athremotefxvgpudisablementcommand.yml
  rules/windows/powershell/powershell_susp_zip_compress.yml
  rules/windows/process_creation/process_creation_susp_athremotefxvgpudisablementcommand.yml
  rules/windows/process_creation/process_creation_susp_zip_compress.yml
  rules/windows/sysmon/sysmon_config_modification_error.yml
  rules/windows/sysmon/sysmon_config_modification_status.yml
Labels: rules

#2002 Add missing Tags #1974
  rules/linux/auditd/lnx_auditd_susp_exe_folders.yml
  rules/linux/lnx_buffer_overflows.yml
  rules/linux/lnx_clamav.yml
  rules/linux/lnx_ldso_preload_injection.yml
  rules/linux/lnx_shell_susp_log_entries.yml
  rules/linux/lnx_shellshock.yml
  rules/linux/lnx_ssh_cve_2018_15473.yml
  rules/linux/lnx_susp_failed_logons_single_source.yml
  rules/linux/lnx_susp_guacamole.yml
  rules/linux/lnx_symlink_etc_passwd.yml
  rules/linux/modsecurity/modsec_mulitple_blocks.yml
  rules/windows/process_creation/win_apt_mustangpanda.yml
  rules/windows/process_creation/win_exchange_proxylogon_oabvirtualdir.yml
  rules/windows/process_creation/win_malware_conti.yml
  rules/windows/process_creation/win_purplesharp_indicators.yml
  rules/windows/process_creation/win_susp_codepage_switch.yml
  rules/windows/process_creation/win_susp_regedit_trustedinstaller.yml
  rules/windows/process_creation/win_vul_java_remote_debugging.yml
Labels: rules

#2001 filter: empty thumbprint, PetitPotam rule
  rules/windows/builtin/win_petitpotam_susp_tgt_request.yml
Labels: rules

#2004 Update sysmon_dns_over_https_enabled.yml
  rules/windows/registry_event/sysmon_dns_over_https_enabled.yml
Labels: rules

#2003 CVE-2021-40444 process pattern
  rules/windows/process_creation/win_susp_control_cve_2021_40444.yml
Labels: rules

#2005 Add missing tags to rule
  rules/windows/process_creation/process_mailboxexport_share.yml
  rules/windows/process_creation/win_apt_hafnium.yml
  rules/windows/process_creation/win_malware_conti_7zip.yml
  rules/windows/process_creation/win_malware_formbook.yml
  rules/windows/process_creation/win_reg_add_run_key.yml
  rules/windows/process_creation/win_susp_psexex_paexec_flags.yml
  rules/windows/process_creation/win_susp_renamed_debugview.yml
  rules/windows/process_creation/win_susp_renamed_paexec.yml
  rules/windows/process_creation/win_susp_rundll32_no_params.yml
  rules/windows/process_creation/win_susp_service_dir.yml
  rules/windows/process_creation/win_susp_splwow64.yml
  rules/windows/process_creation/win_susp_vbscript_unc2452.yml
Labels: rules

#2007 New Rule - Linux Auditd Hidden Files - Steganography
  rules/linux/auditd/lnx_auditd_hidden_zip_files_steganography.yml
  rules/linux/auditd/lnx_auditd_unzip_hidden_zip_files_steganography.yml
Labels: rules

#2008 Split global sysmon rules
  rules/windows/dns_query/dns_query_dns_hybridconnectionmgr_servicebus.yml
  rules/windows/file_event/file_event_cve_2021_31979_cve_2021_33771_exploits.yml
  rules/windows/file_event/file_event_pingback_backdoor.yml
  rules/windows/file_event/file_event_wmiprvse_wbemcomn_dll_hijack.yml
  rules/windows/image_load/image_load_pingback_backdoor.yml
  rules/windows/image_load/image_load_wmiprvse_wbemcomn_dll_hijack.yml
  rules/windows/process_creation/process_creation_abusing_windows_telemetry_for_persistence.yml
  rules/windows/process_creation/process_creation_pingback_backdoor.yml
  rules/windows/registry_event/registry_event_abusing_windows_telemetry_for_persistence.yml
  rules/windows/registry_event/registry_event_cve_2021_31979_cve_2021_33771_exploits.yml
Labels: rules

#1956 Adding Various Rules To Monitor Process Creations in Sysmon, Event Logs & EDR
  rules/windows/process_creation/Monitor_LOLBins_Process_Creations_by_Office_applications.yml
  rules/windows/process_creation/Monitor_LOLBins_process_creations_with_Wmiprvse_parent_process.yml
  rules/windows/process_creation/Monitor_Office_Applications_Spawning_WMI_command-line.yml
  rules/windows/process_creation/Monitor_executable_and_script_files_creation_by_Office_applications_using_file_extentions.yml
  rules/windows/process_creation/process_creation_command_execution_by_office_applications.yml
  rules/windows/process_creation/process_creation_office_application_from_proxy_executing_regsvr32_with_payload.yml
  rules/windows/sysmon/Monitor_Office_Applications_from_proxy_executing_regsvr32_with_payload.yml
  rules/windows/sysmon/Monitor_executable_and_script_files_creation_by_Office_applications_using_file_extentions.yml
  rules/windows/sysmon/Office_Applications_Spawning_WMI_command-line.yml
Labels: rules

#2010 Create web_cve_2021_40539_manageengine_adselfservice_exploit.yml
  rules/web/web_cve_2021_40539_manageengine_adselfservice_exploit.yml
Labels: rules

#2013 Just some fixes.
  rules/windows/process_creation/Monitor_executable_and_script_files_creation_by_Office_applications_using_file_extentions.yml
  rules/windows/process_creation/process_creation_office_application_from_proxy_executing_regsvr32_with_payload.yml
  rules/windows/sysmon/Monitor_Office_Applications_from_proxy_executing_regsvr32_with_payload.yml
  rules/windows/sysmon/Monitor_executable_and_script_files_creation_by_Office_applications_using_file_extentions.yml
  tools/sigma/backends/lacework.py
Labels: enhancement, rules

#2011 Added rule for Atlassian Confluence CVE-2021-26084
  rules/windows/process_creation/sysmon_atlassian_confluence_cve_2021_26084_exploit.yml
Labels: rules

#2015 Propose making rule more generic than just ipify
  rules/network/net_susp_ipify.yml
Labels: rules

#2016 Mapped OriginalFileName in DeviceProcessEvents
  tools/sigma/backends/mdatp.py
Labels: backends

#2018 New Linux Auditd Rules - Steghide Steganography
  rules/linux/auditd/lnx_auditd_steghide_embed_steganography.yml
  rules/linux/auditd/lnx_auditd_steghide_extract_steganography.yml
Labels: rules

#2026 Update web_cve_2021_40539_manageengine_adselfservice_exploit.yml
  rules/web/web_cve_2021_40539_manageengine_adselfservice_exploit.yml
Labels: rules

#2024 azure_new_cloudshell_created.yml
  rules/cloud/azure/azure_new_cloudshell_created.yml
Labels: rules

#2023 Okta Rules
  rules/cloud/okta/okta_admin_role_assigned_to_user_or_group.yml
  rules/cloud/okta/okta_api_token_created.yml
  rules/cloud/okta/okta_api_token_revoked.yml
  rules/cloud/okta/okta_application_modified_or_deleted.yml
  rules/cloud/okta/okta_application_sign-on_policy_modified_or_deleted.yml
  rules/cloud/okta/okta_mfa_reset_or_deactivated.yml
  rules/cloud/okta/okta_network_zone_deactivated_or_deleted.yml
  rules/cloud/okta/okta_policy_modified_or_deleted.yml
  rules/cloud/okta/okta_policy_rule_modified_or_deleted.yml
  rules/cloud/okta/okta_security_threat_detected.yml
  rules/cloud/okta/okta_unauthorized_access_to_app.yml
  rules/cloud/okta/okta_user_account_locked_out.yml
Labels: rules

#2025 Update win_file_winword_cve_2021_40444.yml
  rules/windows/file_event/win_file_winword_cve_2021_40444.yml
Labels: rules

#2027 Fix registry TargetObject
  rules/windows/registry_event/sysmon_apt_leviathan.yml
  rules/windows/registry_event/sysmon_apt_oceanlotus_registry.yml
  rules/windows/registry_event/sysmon_office_test_regadd.yml
  rules/windows/registry_event/win_outlook_c2_registry_key.yml
  rules/windows/registry_event/win_portproxy_registry_key.yml
Labels: rules

#2009 Added New OpenSearch Monitor Backend
  tools/config/winlogbeat.yml
  tools/sigma/backends/opensearch.py
Labels: backends

#2030 ecs-okta.yml
  tools/config/ecs-okta.yml
Labels: backends

#2028 New Rule - Linux - Auditd - Screen Capture with xwd
  rules/linux/auditd/lnx_auditd_screencaputre_xwd.yml
Labels: rules

#2019 Split 2 global rules and normalyze name
  rules/windows/dns_query/dns_query_hybridconnectionmgr_servicebus.yml
  rules/windows/dns_query/dns_query_mega_nz.yml
  rules/windows/dns_query/dns_query_possible_dns_rebinding.yml
  rules/windows/driver_load/driver_load_susp_temp_use.yml
  rules/windows/driver_load/driver_load_vuln_dell_driver.yml
  rules/windows/driver_load/driver_load_windivert.yml
  rules/windows/malware/file_event_mal_octopus_scanner.yml
  rules/windows/malware/process_creation_mal_blue_mockingbird.yml
  rules/windows/malware/process_creation_mal_darkside_ransomware.yml
  rules/windows/malware/process_creation_mal_lockergoga_ransomware.yml
  rules/windows/malware/process_creation_mal_ryuk.yml
  rules/windows/malware/registry_event_mal_azorult.yml
  rules/windows/malware/registry_event_mal_blue_mockingbird.yml
  rules/windows/malware/registry_event_mal_flowcloud.yml
  rules/windows/malware/registry_event_mal_ursnif.yml
  rules/windows/malware/win_mal_blue_mockingbird.yml
Labels: global_rule

#2032 Add validation for LimaCharlie logical sub operators.
  tools/sigma/backends/limacharlie.py
Labels: backends

#2020 Split some global process_creation rules
  rules/windows/deprecated/process_creation_syncappvpublishingserver_exe.yml
  rules/windows/file_event/file_event_advanced_ip_scanner.yml
  rules/windows/powershell/powershell_syncappvpublishingserver_exe.yml
  rules/windows/process_creation/process_creation_advanced_ip_scanner.yml
  rules/windows/process_creation/process_creation_syncappvpublishingserver_execute_arbitrary_powershell.yml
  rules/windows/process_creation/process_creation_syncappvpublishingserver_vbs_execute_powershell.yml
Labels: global_rule

#2039 Update web_cve_2021_40539_manageengine_adselfservice_exploit.yml
  rules/web/web_cve_2021_40539_manageengine_adselfservice_exploit.yml
Labels: rules

#2037 Clean win outlook registry todaypage
  rules/windows/registry_event/win_outlook_registry_todaypage.yml
Labels: rules

#2035 Fix bad category in possible_privilege_escalation_via_service_registry_permissions
  rules/windows/process_creation/process_creation_possible_privilege_escalation_via_service_registry_permissions.yml
Labels: rules

#2036 [Turla Mosquito] fix detection from references
  rules/windows/registry_event/sysmon_registry_persistence_search_order.yml
Labels: rules

#2042 OMIGOD SCX RunAsProvider ExecuteShellCommand
  rules/linux/auditd/lnx_auditd_omigod_scx_runasprovider_executeshellcommand.yml
Labels: rules

#2041 fix detection in sysmon_susp_mic_cam_access
  rules/windows/registry_event/sysmon_susp_mic_cam_access.yml
Labels: rules

#2040 cleanup condition win_outlook_registry_webview.yml
  rules/windows/registry_event/win_outlook_registry_webview.yml
Labels: rules

#2047 OMIGOD - Explore the use of SCX ExecuteScript to execute scripts using /bin/sh shell
  rules/linux/auditd/lnx_auditd_omigod_scx_runasprovider_executescript.yml
Labels: rules

#2046 Fix invalid registry _Class
  rules/windows/registry_event/sysmon_apt_oceanlotus_registry.yml
  rules/windows/registry_event/sysmon_registry_persistence_key_linking.yml
  rules/windows/registry_event/sysmon_uac_bypass_sdclt.yml
  rules/windows/registry_event/sysmon_uac_bypass_shell_open.yml
Labels: rules

#2048 Fix config banckends name
  tools/config/carbon-black-eedr.yml
  tools/config/carbon-black.yml
  tools/config/ecs-auditd.yml
  tools/config/ecs-dns.yml
  tools/config/ecs-filebeat.yml
  tools/config/ecs-zeek-corelight.yml
  tools/config/ecs-zeek-elastic-beats-implementation.yml
  tools/config/logstash-zeek-default-json.yml
  tools/config/winlogbeat-modules-enabled.yml
  tools/sigma/sigma_configurations_check.py
  tools/sigma_configurations_check
Labels: backends

#2051 fix duplicate name file
  rules/windows/file_event/file_event_uac_bypass_winsat.yml
  rules/windows/file_event/file_event_uac_bypass_wmp.yml
  rules/windows/registry_event/registry_event_uac_bypass_winsat.yml
  rules/windows/registry_event/registry_event_uac_bypass_wmp.yml
Labels: rules

#2054 Zeek detection for OMIGOD HTTP RCE
  rules/network/zeek/zeek_http_omigod_no_auth_rce.yml
Labels: rules

#2060 New Rule - Linux - Auditd - Screencapture with Import Tool
  rules/linux/auditd/lnx_auditd_screencapture_import.yml
Labels: rules

#2057 Add two rules
  rules/linux/lnx_clear_syslog.yml
  rules/windows/powershell/powershell_memorydump_getstoragediagnosticinfo.yml
Labels: rules

#2062 win-apt-greenbug-fix small change to B64encoded value of '/server='
  rules/windows/process_creation/win_apt_greenbug_may20.yml
Labels: rules

#2066 Okta author
  rules/cloud/okta/okta_admin_role_assigned_to_user_or_group.yml
  rules/cloud/okta/okta_api_token_created.yml
  rules/cloud/okta/okta_api_token_revoked.yml
  rules/cloud/okta/okta_application_modified_or_deleted.yml
  rules/cloud/okta/okta_application_sign-on_policy_modified_or_deleted.yml
  rules/cloud/okta/okta_mfa_reset_or_deactivated.yml
  rules/cloud/okta/okta_network_zone_deactivated_or_deleted.yml
  rules/cloud/okta/okta_policy_modified_or_deleted.yml
  rules/cloud/okta/okta_policy_rule_modified_or_deleted.yml
  rules/cloud/okta/okta_security_threat_detected.yml
  rules/cloud/okta/okta_unauthorized_access_to_app.yml
  rules/cloud/okta/okta_user_account_locked_out.yml
Labels: rules

#2068 Typos
  rules/windows/file_event/win_file_winword_cve_2021_40444.yml
  rules/windows/process_creation/sysmon_atlassian_confluence_cve_2021_26084_exploit.yml
Labels: rules

#2067 aws_suspicious_saml_activity.yml
  rules/cloud/aws_suspicious_saml_activity.yml
Labels: rules

#2065 Fix filename test validation
  rules/cloud/gcp/gcp_dlp_re_identifies_sensitive_information.yml
  rules/cloud/okta/okta_application_sign_on_policy_modified_or_deleted.yml
  rules/network/zeek/zeek_dce_rpc_domain_user_enumeration.yml
  rules/web/web_pulsesecure_cve_2019_11510.yml
  rules/windows/builtin/win_exploit_cve_2021_1675_printspooler_security.yml
  rules/windows/builtin/win_gpo_scheduledtasks.yml
  rules/windows/builtin/win_invoke_obfuscation_clip_services.yml
  rules/windows/builtin/win_invoke_obfuscation_clip_services_security.yml
  rules/windows/builtin/win_invoke_obfuscation_stdin_services.yml
  rules/windows/builtin/win_invoke_obfuscation_stdin_services_security.yml
  rules/windows/builtin/win_invoke_obfuscation_var_services.yml
  rules/windows/builtin/win_invoke_obfuscation_var_services_security.yml
  rules/windows/builtin/win_invoke_obfuscation_via_var_services.yml
  rules/windows/builtin/win_invoke_obfuscation_via_var_services_security.yml
  rules/windows/builtin/win_rdp_potential_cve_2019_0708.yml
  rules/windows/file_event/file_event_script_creation_by_office_using_file_ext.yml
  rules/windows/file_event/file_event_winrm_awl_bypass.yml
  rules/windows/other/win_exchange_transportagent_failed.yml
  rules/windows/powershell/powershell_invoke_obfuscation_clip.yml
  rules/windows/powershell/powershell_invoke_obfuscation_stdin.yml
  rules/windows/powershell/powershell_invoke_obfuscation_var.yml
  rules/windows/powershell/powershell_invoke_obfuscation_via_var.yml
  rules/windows/process_creation/file_event_executable_and_script_creation_by_office_using_file_ext.yml
  rules/windows/process_creation/process_creation_lolbins_by_office_applications.yml
  rules/windows/process_creation/process_creation_lolbins_with_wmiprvse_parent_process.yml
  rules/windows/process_creation/process_creation_office_applications_spawning_wmi_commandline.yml
  rules/windows/process_creation/process_creation_office_from_proxy_executing_regsvr32_payload.yml
  rules/windows/process_creation/process_creation_office_from_proxy_executing_regsvr32_payload2.yml
  rules/windows/process_creation/process_creation_office_spawning_wmi_commandline.yml
  rules/windows/process_creation/process_creation_sdelete.yml
  rules/windows/process_creation/win_invoke_obfuscation_clip.yml
  rules/windows/process_creation/win_invoke_obfuscation_stdin.yml
  rules/windows/process_creation/win_invoke_obfuscation_var.yml
  rules/windows/process_creation/win_invoke_obfuscation_via_var.yml
  rules/windows/process_creation/win_manage_bde_lolbas.yml
  rules/windows/process_creation/win_possible_privilege_escalation_via_service_registry_permissions.yml
  rules/windows/process_creation/win_susp_vboxdrvinst.yml
  rules/windows/process_creation/win_susp_winrm_awl_bypass.yml
  rules/windows/registry_event/sysmon_cve_2020_1048.yml
  tests/test_rules.py
Labels: bug, rules

#2064 Changed tags in lnx_clear_syslog.yml
  rules/linux/lnx_clear_syslog.yml
Labels: rules

#2076 Create web_cve_2021_22005_vmware_file_upload
  rules/web/web_cve_2021_22005_vmware_file_upload.yml
Labels: rules

#2077 Convert re to endswith
  rules/windows/registry_event/registry_event_abusing_windows_telemetry_for_persistence.yml
Labels: rules

#2078 add new rule win_process_dump_rdrleakdiag
  rules/windows/process_creation/win_process_dump_rdrleakdiag.yml
Labels: rules

#2081 ecs-ms365_defender.yml
  tools/config/ecs-ms365_defender.yml
Labels: rules

#2079 New Rule - Linux - Auditd - Clipboard Collection
  rules/linux/auditd/lnx_auditd_clipboard_collection.yml
Labels: rules

#2072 aws_attached_malicious_lambda_layer.yml
  rules/cloud/aws/aws_attached_malicious_lambda_layer.yml
Labels: rules

#2093 win_sysmon_driver_unload.yml
  rules/windows/process_creation/win_sysmon_driver_unload.yml
Labels: rules

#2094 Fix logsource not a string
  rules/windows/builtin/win_susp_logon_explicit_credentials.yml
  rules/windows/other/win_lateral_movement_condrv.yml
  tests/test_rules.py
  tools/sigma/backends/sysmon.py
Labels: backends

#2095 Update filter help
  tools/sigma/sigmac.py
Labels: backends

#2102 mispelled 'mshta.exe' in selection_base
  rules/windows/process_creation/win_susp_mshta_pattern.yml
Labels: rules

#2098 fix tags in win_susp_mpcmdrun_download.yml
  rules/windows/process_creation/win_susp_mpcmdrun_download.yml
Labels: rules

#2099 add EventID 26
  tools/config/generic/sysmon.yml
Labels: backends

#2100 Add new rule - sysmon_delete_prefetch - AntiForensic
  rules/windows/file_delete/sysmon_delete_prefetch.yml
Labels: rules

#2108 fix(backend): add remediation for lacework policy
  tools/sigma/backends/lacework.py
Labels: backends

#2105 powershell_susp_zip_compress add 4104
  rules/windows/powershell/powershell_susp_zip_compress.yml
Labels: rules

#2109 Add fp note to powershell winapi rule
  rules/windows/powershell/powershell_accessing_win_api.yml
Labels: rules
