Repository SigmaHQ/sigma, pull requests merged in 2021-12, with the labels that each got.

#2352 Add Provider Name to system and security channel
  rules/windows/builtin/win_apt_carbonpaper_turla.yml
  rules/windows/builtin/win_apt_chafer_mar18_system.yml
  rules/windows/builtin/win_apt_stonedrill.yml
  rules/windows/builtin/win_apt_turla_service_png.yml
  rules/windows/builtin/win_cobaltstrike_service_installs.yml
  rules/windows/builtin/win_hack_smbexec.yml
  rules/windows/builtin/win_invoke_obfuscation_clip_services.yml
  rules/windows/builtin/win_invoke_obfuscation_clip_services_security.yml
  rules/windows/builtin/win_invoke_obfuscation_stdin_services.yml
  rules/windows/builtin/win_invoke_obfuscation_var_services.yml
  rules/windows/builtin/win_invoke_obfuscation_via_compress_services.yml
  rules/windows/builtin/win_invoke_obfuscation_via_rundll_services.yml
  rules/windows/builtin/win_invoke_obfuscation_via_stdin_services.yml
  rules/windows/builtin/win_invoke_obfuscation_via_use_clip_services.yml
  rules/windows/builtin/win_invoke_obfuscation_via_use_mshta_services.yml
  rules/windows/builtin/win_invoke_obfuscation_via_use_rundll32_services.yml
  rules/windows/builtin/win_invoke_obfuscation_via_var_services.yml
  rules/windows/builtin/win_mal_creddumper.yml
  rules/windows/builtin/win_meterpreter_or_cobaltstrike_getsystem_service_installation.yml
  rules/windows/builtin/win_moriya_rootkit.yml
  rules/windows/builtin/win_powershell_script_installed_as_service.yml
  rules/windows/builtin/win_rare_service_installs.yml
  rules/windows/builtin/win_susp_proceshacker.yml
  rules/windows/builtin/win_tap_driver_installation.yml
  rules/windows/builtin/win_transferring_files_with_credential_data_via_network_shares.yml
  rules/windows/builtin/win_usb_device_plugged.yml
  rules/windows/builtin/win_user_added_to_local_administrators.yml
  rules/windows/builtin/win_user_couldnt_call_privileged_service_lsaregisterlogonprocess.yml
  rules/windows/builtin/win_user_creation.yml
  rules/windows/builtin/win_user_driver_loaded.yml
  rules/windows/builtin/win_vssaudit_secevent_source_registration.yml
  rules/windows/builtin/win_vul_cve_2020_1472.yml
  rules/windows/builtin/win_wmiprvse_wbemcomn_dll_hijack.yml
Labels: rules

#2357 Fixing added backslashes that are generated by sigma backend
  tools/sigma/backends/hawk.py
Labels: backends

#2350 Filtering false positives of static arguments to wmic /format
  rules/windows/process_creation/win_xsl_script_processing.yml
Labels: rules

#2336 Linux Auditd - Discovery of Capabilities files
  rules/linux/auditd/lnx_auditd_capabilities_discovery.yml
Labels: rules

#2362 fixing false positive due to direct calls to xcopy and cmd.exe
  rules/windows/process_creation/win_susp_copy_system32.yml
Labels: rules

#2369 Hawk webserver category, support for begins/endswith and snake_case conversion
  tools/config/hawk.yml
  tools/sigma/backends/hawk.py
Labels: backends

#2376 Fix some FP
  rules/windows/image_load/image_load_wsman_provider_image_load.yml
  rules/windows/image_load/sysmon_uipromptforcreds_dlls.yml
  rules/windows/process_access/sysmon_cred_dump_lsass_access.yml
  rules/windows/process_access/win_susp_proc_access_lsass.yml
  rules/windows/process_creation/win_susp_svchost.yml
Labels: rules

#2381 add win_susp_system_update_error rule
  rules/windows/builtin/system/win_susp_system_update_error.yml
Labels: rules

#2384 Redcanary 1218 011
  rules/windows/process_creation/win_pc_susp_rundll32_script_run.yml
  rules/windows/process_creation/win_susp_rundll32_activity.yml
Labels: rules

#2385 Split sysmon_asep_reg_keys_modification
  rules/windows/registry_event/sysmon_asep_reg_keys_modification.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_classes.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_commun.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_currentcontrolset.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_currentversion.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_currentversion_nt.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_internet_explorer.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_office.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_session_manager.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_system_scripts.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_winsock2.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_wow6432node.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_wow6432node_classes.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_wow6432node_currentversion.yml
Labels: rules

#2389 New rules
  rules/windows/network_connection/win_net_mega_nz.yml
  rules/windows/process_creation/win_susp_add_user_remote_desktop.yml
Labels: rules

#2388 Logsource condition applied once in nested expression
  tools/sigma/parser/condition.py
Labels: bug

#2390 Add redcannary T1007
  rules/windows/process_creation/win_pc_susp_sc_query.yml
  rules/windows/process_creation/win_susp_net_execution.yml
Labels: rules

#2400 Fixing errs with invoke obfus
  rules/windows/builtin/security/win_invoke_obfuscation_stdin_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_compress_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_rundll_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_stdin_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_use_clip_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_use_mshta_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_use_rundll32_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_var_services_security.yml
Labels: work_in_progress

#2402 sysmon_asep_reg_keys_modification_currentversion OneDriveSetup FP
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_currentversion.yml
Labels: rules

#2404 Add some T1016 windows
  rules/windows/process_creation/win_pc_susp_netsh_command.yml
  rules/windows/process_creation/win_pc_susp_network_command.yml
Labels: rules

#2405 False positives on sysmon_volume_shadow_copy_service_keys.yml
  rules/windows/registry_event/sysmon_esentutl_volume_shadow_copy_service_keys.yml
Labels: rules

#2416 Change to deprecated as too many FP
  rules/windows/builtin/security/win_lateral_movement_condrv.yml
Labels: rules

#2414 sysmon_abusing_azure_browser_sso.yml FP
  rules/windows/image_load/sysmon_abusing_azure_browser_sso.yml
Labels: rules

#2415 builtin/security simplified condition
  rules/windows/builtin/security/win_alert_ad_user_backdoors.yml
  rules/windows/builtin/security/win_camera_microphone_access.yml
  rules/windows/builtin/security/win_dcsync.yml
  rules/windows/builtin/security/win_invoke_obfuscation_stdin_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_var_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_compress_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_rundll_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_stdin_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_use_clip_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_use_mshta_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_use_rundll32_services_security.yml
  rules/windows/builtin/security/win_invoke_obfuscation_via_var_services_security.yml
  rules/windows/builtin/security/win_lsass_access_non_system_account.yml
  rules/windows/builtin/security/win_metasploit_authentication.yml
  rules/windows/builtin/security/win_petitpotam_susp_tgt_request.yml
  rules/windows/builtin/security/win_remote_registry_management_using_reg_utility.yml
  rules/windows/builtin/security/win_security_cobaltstrike_service_installs.yml
  rules/windows/builtin/security/win_security_metasploit_or_impacket_smb_psexec_service_install.yml
  rules/windows/builtin/security/win_security_powershell_script_installed_as_service.yml
  rules/windows/builtin/security/win_susp_failed_logon_source.yml
  rules/windows/builtin/security/win_susp_lsass_dump_generic.yml
  rules/windows/builtin/security/win_susp_psexec.yml
  rules/windows/builtin/security/win_susp_time_modification.yml
  rules/windows/builtin/security/win_user_driver_loaded.yml
Labels: rules

#2401 feat(sigma): Add support for Lacework agent data
  tools/sigma/backends/lacework.py
Labels: backends

#2427 Add lnx_susp_dev_tcp
  rules/linux/builtin/lnx_susp_dev_tcp.yml
Labels: rules

#2428 Added registry key to shadow RDP sessions
  rules/windows/registry_event/sysmon_rdp_settings_hijack.yml
Labels: rules

#2430 Add windows t1046 rules
  rules/windows/network_connection/win_net_python.yml
  rules/windows/process_creation/win_pc_susp_nmap.yml
Labels: rules

#2433 improved log4j detection rule
  rules/web/web_cve_2021_44228_log4j.yml
  rules/web/web_cve_2021_44228_log4j_fields.yml
Labels: rules

#2434 Windows T1049 RedCannary
  rules/windows/powershell/powershell_classic/powershell_pc_susp_get_nettcpconnection.yml
  rules/windows/powershell/powershell_module/powershell_pm_susp_get_nettcpconnection.yml
  rules/windows/process_creation/win_pc_susp_network_listing_connections.yml
  rules/windows/process_creation/win_pc_susp_sharpview.yml
  rules/windows/process_creation/win_pc_susp_tasklist_command.yml
Labels: rules

#2439 Windows Redcannary T1069 001
  rules/windows/powershell/powershell_module/powershell_pm_suspicious_local_group_reco.yml
  rules/windows/powershell/powershell_script/powershell_ps_suspicious_local_group_reco.yml
  rules/windows/process_creation/win_pc_suspicious_ad_reco.yml
Labels: rules

#2450 Windows redcannary
  rules/windows/process_creation/win_pc_susp_adfind_enumerate.yml
  rules/windows/process_creation/win_pc_susp_network_listing_connections.yml
Labels: rules

#2451 Fix FP
  rules/windows/raw_access_thread/sysmon_raw_disk_access_using_illegitimate_tools.yml
Labels: rules

#2455 Windows redcannary discovery
  rules/windows/powershell/powershell_module/powershell_pm_suspicious_ad_group_reco.yml
  rules/windows/powershell/powershell_module/powershell_pm_suspicious_smb_share_reco.yml
  rules/windows/powershell/powershell_script/powershell_ps_file_and_directory_discovery.yml
  rules/windows/powershell/powershell_script/powershell_ps_suspicious_ad_group_reco.yml
  rules/windows/powershell/powershell_script/powershell_ps_suspicious_smb_share_reco.yml
Labels: rules

#2457 Aurora fp update
  rules/windows/image_load/image_load_wsman_provider_image_load.yml
  rules/windows/image_load/sysmon_suspicious_dbghelp_dbgcore_load.yml
  rules/windows/process_creation/sysmon_always_install_elevated_windows_installer.yml
Labels: rules

#2458 Windows Redcanary T1518.001 discovery
  rules/windows/powershell/powershell_script/powershell_ps_security_software_discovery.yml
  rules/windows/process_creation/win_pc_susp_findstr_385201.yml
Labels: rules

#2454 cve_2021_42278 or cve_2021_42287
  rules/windows/builtin/system/win_vul_cve_2021_42278_or_cve_2021_42287.yml
Labels: rules

#2468 Add/Update Rules
  rules/windows/process_creation/process_creation_advanced_ip_scanner.yml
  rules/windows/process_creation/process_creation_advanced_port_scanner.yml
  rules/windows/process_creation/process_creation_cleanwipe.yml
  rules/windows/process_creation/win_susp_nt_resource_kit_auditpol_usage.yml
  rules/windows/process_creation/win_susp_psloglist.yml
Labels: work_in_progress

#2469 Aurora FP
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_currentversion.yml
  rules/windows/registry_event/sysmon_asep_reg_keys_modification_wow6432node.yml
  rules/windows/registry_event/sysmon_registry_persistence_search_order.yml
Labels: rules

#2470 Windows Redcannary
  rules/windows/file_event/win_fe_access_susp_unattend_xml.yml
  rules/windows/powershell/powershell_script/powershell_suspicious_extracting.yml
  rules/windows/process_creation/process_creation_automated_collection.yml
Labels: rules

#2480 Add thedfirreport Diavol Ransomware rules
  rules/windows/process_creation/win_pc_sqlcmd_veeam_dump.yml
  rules/windows/process_creation/win_pc_susp_reg_open_command.yml
Labels: rules

#2476 Windows Redcannary
  rules/windows/powershell/powershell_script/powershell_ps_access_to_chrome_login_data.yml
  rules/windows/powershell/powershell_script/powershell_ps_dump_password_windows_credential_manager.yml
  rules/windows/powershell/powershell_script/powershell_ps_enumerate_password_windows_credential_manager.yml
  rules/windows/process_creation/win_pc_enumeration_for_credentials_in_registry.yml
  rules/windows/process_creation/win_pc_false_sysinternalsuite.yml
Labels: rules

#2465 fix(lacework): value exists
  tools/sigma/backends/lacework.py
Labels: backends

#2494 image_load_wsman_provider_image_load FP
  rules/windows/image_load/image_load_wsman_provider_image_load.yml
Labels: rules

#2492 Windows Redcannary impact
  rules/windows/file_event/win_fe_susp_desktop_txt.yml
  rules/windows/powershell/powershell_script/powershell_ps_susp_remove_adgroupmember.yml
  rules/windows/powershell/powershell_script/powershell_ps_susp_wallpaper.yml
  rules/windows/powershell/powershell_script/powershell_ps_susp_win32_shadowcopy.yml
  rules/windows/process_creation/win_pc_delete_systemstatebackup.yml
  rules/windows/process_creation/win_pc_susp_cipher.yml
  rules/windows/process_creation/win_pc_susp_schtasks_disable.yml
  rules/windows/process_creation/win_pc_susp_taskkill.yml
Labels: rules

#2495 Windows redcannary rules
  rules/windows/powershell/powershell_script/powershell_ps_copy_item_system32.yml
  rules/windows/powershell/powershell_script/powershell_ps_suspicious_networkcredential.yml
  rules/windows/process_creation/win_pc_findstr_gpp_passwords.yml
  rules/windows/process_creation/win_pc_hashcat.yml
Labels: rules

#2500 Windows Redcannary
  rules/windows/file_event/win_fe_creation_new_shim_database.yml
  rules/windows/file_event/win_fe_creation_scr_binary_file.yml
  rules/windows/powershell/powershell_script/powershell_ps_capture_screenshots.yml
  rules/windows/powershell/powershell_script/powershell_ps_cmdlet_scheduled_task.yml
  rules/windows/powershell/powershell_script/powershell_ps_directoryservices_accountmanagement.yml
  rules/windows/powershell/powershell_script/powershell_ps_localuser.yml
  rules/windows/powershell/powershell_script/powershell_ps_office_comobject_registerxll.yml
  rules/windows/powershell/powershell_script/powershell_ps_request_kerberos_ticket.yml
  rules/windows/registry_event/win_re_chrome_extension.yml
  rules/windows/registry_event/win_re_outlook_security.yml
Labels: rules
