Repository SigmaHQ/sigma, pull requests merged in 2022-12, with the labels that each got.

#3609 Update and rename proc_creation_win_rundll32_not_from_c_drive.yml to …
  rules/windows/process_creation/proc_creation_win_lolbin_not_from_c_drive.yml
Labels: author-input-required

#2801 Edit Linux Text
  rules/linux/process_creation/proc_creation_lnx_usermod_susp_group.yml
Labels: rules

#3810 feat: rule dev and updates
  rules/linux/auditd/lnx_auditd_cve_2021_4034.yml
  rules/proxy/proxy_exchange_owassrf_exploitation.yml
  rules/proxy/proxy_exchange_owassrf_poc_exploitation.yml
  rules/web/web_exchange_owassrf_exploitation.yml
  rules/web/web_exchange_owassrf_poc_exploitation.yml
  rules/windows/builtin/driverframeworks/win_usb_device_plugged.yml
Labels: work_in_progress
