Repository SigmaHQ/sigma, pull requests merged in 2023-04, with the labels that each got.

#4126 Create proc_creation_macos_suspicious_applet_behaviour.yml
  rules/macos/process_creation/proc_creation_macos_suspicious_applet_behaviour.yml
Labels: Rules, MacOS

#4160 Split selection clause into two
  rules/linux/process_creation/proc_creation_lnx_system_network_discovery.yml
Labels: Rules, Linux

#4158 Misentered Okta password logged in alternateId vulnerability
  rules/cloud/okta/okta_password_in_alternateid_field.yml
  tests/test_rules.py
Labels: Rules, Cloud

#4163 2f78da12-f7c7-430b-8b19-a28f269b77a3 fix null list in filter
  rules/windows/registry/registry_set/registry_set_disable_winevt_logging.yml
Labels: Rules, Windows

#4053 Create proc_creation_macos_susp_browser_child_process.yml
  rules/macos/process_creation/proc_creation_macos_susp_browser_child_process.yml
Labels: Rules, MacOS

#4162 feat: new rules and updates
  rules-deprecated/windows/proc_creation_win_powershell_base64_shellcode.yml
  rules/windows/builtin/smbclient/connectivity/win_smbclient_connectivity_exploit_cve_2023_23397_outlook_remote_file.yml
  rules/windows/builtin/smbclient/security/win_smbclient_security_susp_failed_guest_logon.yml
  rules/windows/file/file_event/file_event_win_bloodhound_collection.yml
  rules/windows/file/file_event/file_event_win_shell_write_susp_directory.yml
  rules/windows/powershell/powershell_script/posh_ps_amsi_null_bits_bypass.yml
  rules/windows/powershell/powershell_script/posh_ps_apt_silence_eda.yml
  rules/windows/process_access/proc_access_win_susp_proc_access_lsass_susp_source.yml
  rules/windows/process_creation/proc_creation_win_conhost_uncommon_parent.yml
  rules/windows/process_creation/proc_creation_win_mofcomp_execution.yml
  rules/windows/process_creation/proc_creation_win_powershell_audio_capture.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_encoded_cmd.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_frombase64string.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_iex.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_invoke.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_mppreference.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_reflection_assembly_load.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_reflection_assembly_load_obfusc.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_wmi_classes.yml
  rules/windows/process_creation/proc_creation_win_powershell_cmdline_reversed_strings.yml
  rules/windows/process_creation/proc_creation_win_powershell_cmdline_special_characters.yml
  rules/windows/process_creation/proc_creation_win_powershell_reverse_shell_connection.yml
  rules/windows/process_creation/proc_creation_win_rundll32_webdav_client_susp_execution.yml
  rules/windows/process_creation/proc_creation_win_susp_non_exe_image.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_cmstp_com_object_access.yml
  rules/windows/registry/registry_set/registry_set_exploit_cve_2023_23397_outlook_reminder_trigger.yml
  tests/logsource.json
  tests/thor.yml
Labels: Rules, Windows

#4171 d7326048-328b-4d5e-98af-86e84b17c765 Powershell FP
  rules/windows/powershell/powershell_classic/posh_pc_alternate_powershell_hosts.yml
Labels: Rules, Windows, False-Positive Fix

#4176 feat: new rule related to possible libvlc.dll sideloading
  rules/windows/image_load/image_load_side_load_libvlc.yml
Labels: Rules, Windows

#4172 Create proc_creation_win_rundll32_ext_drive.yml
  rules/windows/process_creation/proc_creation_win_lolbin_not_from_c_drive.yml
Labels: Rules, Windows

#4148 Added support for another way of execution of netsh
  rules/windows/process_creation/proc_creation_win_netsh_port_forwarding.yml
Labels: Rules, Windows

#4177 feat: new hktl rules
  rules/windows/file/file_event/file_event_win_powershell_exploit_scripts.yml
  rules/windows/powershell/powershell_module/posh_pm_malicious_commandlets.yml
  rules/windows/powershell/powershell_script/posh_ps_malicious_commandlets.yml
  rules/windows/process_creation/proc_creation_win_hktl_certify.yml
  rules/windows/process_creation/proc_creation_win_hktl_certipy.yml
  rules/windows/process_creation/proc_creation_win_hktl_stracciatella_execution.yml
  rules/windows/process_creation/proc_creation_win_powershell_malicious_cmdlets.yml
  rules/windows/process_creation/proc_creation_win_pua_crassus.yml
Labels: Rules, Windows

#4189 Update Script Block Text When Run Phant0m Script
  rules/windows/powershell/powershell_script/posh_ps_susp_keywords.yml
Labels: Rules, 2nd Review Needed, Windows

#4184 Added new rule that identifies the creation of a scheduled job by usi…
  rules/windows/process_creation/proc_creation_win_schtasks_schedule_via_masqueraded_xml_file.yml
Labels: Rules, 2nd Review Needed, Windows

#4188 feat: update firewall rules event ids
  rules/windows/builtin/firewall_as/win_firewall_as_add_rule.yml
  rules/windows/builtin/firewall_as/win_firewall_as_add_rule_susp_folder.yml
  rules/windows/builtin/firewall_as/win_firewall_as_change_rule.yml
  rules/windows/builtin/firewall_as/win_firewall_as_delete_all_rules.yml
  rules/windows/builtin/firewall_as/win_firewall_as_delete_rule.yml
  rules/windows/builtin/firewall_as/win_firewall_as_reset_config.yml
  rules/windows/builtin/firewall_as/win_firewall_as_setting_change.yml
Labels: Rules, Windows

#4187 feat: new rules related to queuejumper
  rules/windows/builtin/application/msmq/win_msmq_corrupted_packet.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_terminated_unexpectedly.yml
Labels: Rules, Windows

#4185 feat: add emerging-threat rules related to mint-sandstorm
  rules-emerging-threats/2023/Mint-Sandstorm/README.md
  rules-emerging-threats/2023/Mint-Sandstorm/proc_creation_win_apt_mint_sandstorm_aspera_faspex_susp_child_process.yml
  rules-emerging-threats/2023/Mint-Sandstorm/proc_creation_win_apt_mint_sandstorm_log4J_wstomcat_execution.yml
  rules-emerging-threats/2023/Mint-Sandstorm/proc_creation_win_apt_mint_sandstorm_manage_engine_susp_child_process.yml
Labels: Rules, Windows, Emerging-Threats

#4192 typo in wevtutil image name
  rules/windows/process_creation/proc_creation_win_malware_rorschach_ransomware_activity.yml
Labels: Rules, Windows

#4190 Added support when flag is called another way while executing xsl…
  rules/windows/process_creation/proc_creation_win_wmic_xsl_script_processing.yml
Labels: Rules, 2nd Review Needed, Windows

#4195 Modified rule to detect every possible way of rdrleakdiag execution
  deprecated/windows/proc_creation_win_lolbin_rdrleakdiag.yml
  rules/windows/process_creation/proc_creation_win_rdrleakdiag_process_dumping.yml
Labels: Rules, 2nd Review Needed, Windows

#4196 feat: small updates
  rules/windows/dns_query/dns_query_win_susp_ipify.yml
  rules/windows/process_creation/proc_creation_win_office_susp_child_processes.yml
Labels: Rules, Windows

#4181 feat: update rule description: aws_ecs_task_definition_backdoor
  rules/cloud/aws/aws_ecs_task_definition_cred_endpoint_query.yml
Labels: Rules, 2nd Review Needed, Cloud

#4166 add new rule net_connection_lnx_rev_shell.yml
  rules/linux/process_creation/proc_creation_lnx_bash_interactive_shell.yml
  rules/linux/process_creation/proc_creation_lnx_netcat_reverse_shell.yml
  rules/linux/process_creation/proc_creation_lnx_perl_reverse_shell.yml
  rules/linux/process_creation/proc_creation_lnx_php_reverse_shell.yml
  rules/linux/process_creation/proc_creation_lnx_python_pty_spawn.yml
  rules/linux/process_creation/proc_creation_lnx_python_reverse_shell.yml
  rules/linux/process_creation/proc_creation_lnx_ruby_reverse_shell.yml
  rules/linux/process_creation/proc_creation_lnx_xterm_reverse_shell.yml
Labels: Rules, 2nd Review Needed, Linux

#4198 Fix FPs found in testing env
  rules/windows/process_access/proc_access_win_susp_proc_access_lsass_susp_source.yml
  rules/windows/process_creation/proc_creation_win_hktl_certify.yml
Labels: Rules, Windows, False-Positive Fix

#4200 feat: update test_rules.py
  rules-emerging-threats/2023/Mint-Sandstorm/proc_creation_win_apt_mint_sandstorm_aspera_faspex_susp_child_process.yml
  rules-emerging-threats/2023/Mint-Sandstorm/proc_creation_win_apt_mint_sandstorm_log4j_wstomcat_execution.yml
  rules-emerging-threats/2023/Mint-Sandstorm/proc_creation_win_apt_mint_sandstorm_manage_engine_susp_child_process.yml
  rules-emerging-threats/2023/PaperCut-Print-Management-Exploitation/proc_creation_win_papercut_print_management_exploitation_pc_app.yml
  rules-placeholder/windows/builtin/security/win_pass_the_hash.yml
  rules-placeholder/windows/builtin/security/win_remote_registry_management_using_reg_utility.yml
  rules-placeholder/windows/builtin/security/win_security_exploit_cve_2020_1472.yml
  rules-placeholder/windows/builtin/security/win_security_potential_pass_the_hash.yml
  rules-placeholder/windows/builtin/security/win_security_remote_registry_management_via_reg.yml
  rules-placeholder/windows/builtin/security/win_security_susp_interactive_logons.yml
  rules-placeholder/windows/builtin/security/win_susp_interactive_logons.yml
  tests/test_rules.py
Labels: Rules, Windows, Maintenance
