Repository SigmaHQ/sigma, pull requests merged in 2023-11, with the labels that each got.

#4537 chore: update archiver script and issues template
  .github/ISSUE_TEMPLATE/false_positive_report.yml
  .github/ISSUE_TEMPLATE/rule_proposal.md
  tests/reference-archiver.py
Labels: Maintenance

#4539 Update Archiver Script & Workflow
  .github/workflows/ref-archiver.yml
  tests/reference-archiver.py
Labels: Maintenance

#4538 Add Sigma-cli config file
  .github/workflows/sigma-test.yml
  rules/windows/builtin/ldap/win_ldap_recon.yml
  rules/windows/network_connection/net_connection_win_google_api_non_browser_access.yml
  rules/windows/powershell/powershell_classic/posh_pc_alternate_powershell_hosts.yml
  tests/logsource.json
  tests/sigma_cli_conf.yml
Labels: Rules, 2nd Review Needed, Windows, Maintenance

#4541 Chore: remove duplicate tests
  .github/workflows/sigma-test.yml
  tests/sigma_cli_conf.yml
  tests/test_rules.py
Labels: Maintenance

#4535 chore: remove date tag from the release filename
  .github/workflows/release.yml
Labels: Maintenance

#4521 Adding analytics for Pikabot
  rules-emerging-threats/2023/Malware/Pikabot/net_connection_win_malware_pikabot_rundll32_activity.yml
  rules-emerging-threats/2023/Malware/Pikabot/proc_creation_win_malware_pikabot_rundll32_discovery.yml
  rules-emerging-threats/2023/Malware/Pikabot/proc_creation_win_malware_pikabot_rundll32_hollowing.yml
  tests/logsource.json
Labels: Rules, Emerging-Threats

#4543 feat: update and add new rules 5-11-2023
  rules/web/proxy_generic/proxy_ua_malware.yml
  rules/windows/file/file_event/file_event_win_susp_recycle_bin_fake_exec.yml
  rules/windows/process_creation/proc_creation_win_expand_cabinet_files.yml
  rules/windows/process_creation/proc_creation_win_hktl_crackmapexec_execution_patterns.yml
  rules/windows/process_creation/proc_creation_win_ssh_port_forward.yml
  rules/windows/process_creation/proc_creation_win_susp_recycle_bin_fake_execution.yml
  rules/windows/process_creation/proc_creation_win_susp_weak_or_abused_passwords.yml
  rules/windows/registry/registry_event/registry_set_enable_anonymous_connection.yml
Labels: Rules, Windows

#4545 fix: false positives found in testing
  rules-threat-hunting/windows/file/file_event/file_event_win_susp_binary_dropper.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_powershell_import_module.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_file_permission_modifications.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_taskkill_execution.yml
Labels: Rules, Windows

#4546 chore: updates to release packages
  .github/workflows/release.yml
  tests/sigma-package-release.py
Labels: Maintenance

#4522 Update Multiple Rules
  rules/web/proxy_generic/proxy_ua_malware.yml
  rules/windows/process_creation/proc_creation_win_csc_susp_dynamic_compilation.yml
  rules/windows/process_creation/proc_creation_win_csc_susp_parent.yml
  rules/windows/process_creation/proc_creation_win_susp_obfuscated_ip_download.yml
  rules/windows/process_creation/proc_creation_win_susp_obfuscated_ip_via_cli.yml
Labels: Rules, Windows

#4549 Add alterix to Projects or Products that use Sigma Rules
  README.md
Labels: Maintenance

#4550 Add mask filter to match only read access on AD attributes
  rules/windows/builtin/security/win_security_ad_user_enumeration.yml
Labels: Rules, Windows

#4553 fix the TargetObject Condition
  rules/windows/registry/registry_event/registry_event_office_test_regadd.yml
Labels: Rules, Windows

#4558 chore: update greetings workflow
  .github/workflows/greetings.yml
Labels: Maintenance

#4556 updated link to Confluent in README
  README.md
Labels: Maintenance

#4559 update: add escape for literal question mark
  rules/windows/process_creation/proc_creation_win_lolbin_pester_1.yml
Labels: Rules, Windows

#4555 New ET Rules - Lace Tempest / SysAid CVE-2023-47246 Exploitation
  rules-emerging-threats/2023/TA/Lace-Tempest/README.md
  rules-emerging-threats/2023/TA/Lace-Tempest/file_event_win_apt_lace_tempest_indicators.yml
  rules-emerging-threats/2023/TA/Lace-Tempest/posh_ps_apt_lace_tempest_eraser_script.yml
  rules-emerging-threats/2023/TA/Lace-Tempest/posh_ps_apt_lace_tempest_malware_launcher.yml
  rules-emerging-threats/2023/TA/Lace-Tempest/proc_creation_win_apt_lace_tempest_cobalt_strike_download.yml
  rules-emerging-threats/2023/TA/Lace-Tempest/proc_creation_win_apt_lace_tempest_loader_execution.yml
  rules/windows/process_creation/proc_creation_win_java_susp_child_process.yml
  rules/windows/process_creation/proc_creation_win_java_susp_child_process_2.yml
  rules/windows/process_creation/proc_creation_win_webshell_chopper.yml
  rules/windows/process_creation/proc_creation_win_webshell_hacking.yml
  rules/windows/process_creation/proc_creation_win_webshell_recon_commands_and_processes.yml
  rules/windows/process_creation/proc_creation_win_webshell_susp_process_spawned_from_webserver.yml
  rules/windows/process_creation/proc_creation_win_webshell_tool_recon.yml
Labels: Rules, Emerging-Threats

#4548 Update win_system_hack_smbexec.yml
  rules/windows/builtin/system/service_control_manager/win_system_hack_smbexec.yml
Labels: Rules, 2nd Review Needed, Windows

#4560 Fix FP Found In Testing
  rules-emerging-threats/2017/Malware/NotPetya/proc_creation_win_malware_notpetya.yml
  rules-threat-hunting/windows/builtin/security/win_security_scheduled_task_deletion.yml
  rules-threat-hunting/windows/create_remote_thread/create_remote_thread_win_powershell_generic.yml
  rules-threat-hunting/windows/file/file_event/file_event_win_scheduled_task_creation.yml
  rules-threat-hunting/windows/image_load/image_load_dll_system_drawing_load.yml
  rules-threat-hunting/windows/registry/registry_event/registry_event_scheduled_task_creation.yml
  rules/windows/builtin/security/win_security_iso_mount.yml
  rules/windows/create_remote_thread/create_remote_thread_win_powershell_susp_targets.yml
  rules/windows/file/file_event/file_event_win_creation_system_file.yml
  rules/windows/image_load/image_load_wmi_module_load_by_uncommon_process.yml
  rules/windows/process_access/proc_access_win_invoke_patchingapi.yml
  rules/windows/process_creation/proc_creation_win_gpg4win_portable_execution.yml
  rules/windows/process_creation/proc_creation_win_susp_bad_opsec_sacrificial_processes.yml
  rules/windows/process_creation/proc_creation_win_whoami_susp_flags.yml
  rules/windows/process_creation/proc_creation_win_wmiprvse_susp_child_processes.yml
Labels: Rules, Windows

#4563 Rule parse error fix: remove extra asterisk
  rules/windows/process_creation/proc_creation_win_webshell_susp_process_spawned_from_webserver.yml
Labels: Rules, Windows

#4565 Add PlugX backdoor UA to proxy_ua_apt.yml
  rules/web/proxy_generic/proxy_ua_apt.yml
Labels: Rules

#4534 Possible Excel DCOM Lateral Movement
  rules/windows/process_creation/proc_creation_win_office_excel_dcom_lateral_movement.yml
Labels: Rules, 2nd Review Needed, Windows

#4552 Add Detection of CVE-2023-46747 Remote Code Execution
  rules-emerging-threats/2019/Exploits/CVE-2019-3398/web_cve_2019_3398_confluence.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-21972/web_cve_2021_21972_vsphere_unauth_rce_exploit.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-21978/web_cve_2021_21978_vmware_view_planner_exploit.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-26084/web_cve_2021_26084_confluence_rce_exploit.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-26858/web_cve_2021_26858_iis_rce.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-28480/web_cve_2021_28480_exchange_exploit.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-33766/web_cve_2021_33766_msexchange_proxytoken.yml
  rules-emerging-threats/2021/TA/HAFNIUM/web_exchange_exploitation_hafnium.yml
  rules-emerging-threats/2022/Exploits/CVE-2022-21587/web_cve_2022_21587_oracle_ebs.yml
  rules-emerging-threats/2022/Exploits/CVE-2022-27925/web_cve_2022_27925_exploit.yml
  rules-emerging-threats/2022/Exploits/OWASSRF-Exploit/web_exchange_owassrf_exploitation.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-46747/proxy_cve_2023_46747_f5_remote_code_execution.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-46747/web_cve_2023_46747_f5_remote_code_execution.yml
  rules/web/proxy_generic/proxy_cobalt_amazon.yml
  rules/web/proxy_generic/proxy_empire_ua_uri_combos.yml
  rules/web/proxy_generic/proxy_exchange_owassrf_exploitation.yml
  rules/web/proxy_generic/proxy_f5_tm_utility_bash_api_request.yml
  rules/web/webserver_generic/web_f5_tm_utility_bash_api_request.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#4557 Multiple Rule Updates & New Rules
  rules/windows/dns_query/dns_query_win_appinstaller.yml
  rules/windows/network_connection/net_connection_win_imewdbld.yml
  rules/windows/process_creation/proc_creation_win_appvlp_uncommon_child_process.yml
  rules/windows/process_creation/proc_creation_win_browsers_inline_file_download.yml
  rules/windows/process_creation/proc_creation_win_calc_uncommon_exec.yml
  rules/windows/process_creation/proc_creation_win_ieexec_download.yml
  rules/windows/process_creation/proc_creation_win_imewbdld_download.yml
  rules/windows/process_creation/proc_creation_win_installutil_download.yml
  rules/windows/process_creation/proc_creation_win_lolbin_appvlp.yml
  rules/windows/process_creation/proc_creation_win_mpcmdrun_download_arbitrary_file.yml
  rules/windows/process_creation/proc_creation_win_msedge_proxy_download.yml
  rules/windows/process_creation/proc_creation_win_msohtmed_download.yml
  rules/windows/process_creation/proc_creation_win_mspub_download.yml
  rules/windows/process_creation/proc_creation_win_msxsl_execution.yml
  rules/windows/process_creation/proc_creation_win_msxsl_remote_execution.yml
  rules/windows/process_creation/proc_creation_win_presentationhost_download.yml
  rules/windows/process_creation/proc_creation_win_presentationhost_uncommon_location_exec.yml
  rules/windows/process_creation/proc_creation_win_protocolhandler_download.yml
  rules/windows/process_creation/proc_creation_win_squirrel_download.yml
  rules/windows/process_creation/proc_creation_win_squirrel_proxy_execution.yml
  rules/windows/process_creation/proc_creation_win_susp_electron_exeuction_proxy.yml
  rules/windows/process_creation/proc_creation_win_susp_ms_appinstaller_download.yml
  rules/windows/process_creation/proc_creation_win_wmic_xsl_script_processing.yml
Labels: Rules, 2nd Review Needed, Windows

#4567 Adding analytics for CVE-2023-22518
  rules-emerging-threats/2023/Exploits/CVE-2023-22518/proc_creation_lnx_exploit_cve_2023_22518_confluence_java_child_proc.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-22518/proc_creation_win_exploit_cve_2023_22518_confluence_tomcat_child_proc.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-22518/proxy_exploit_cve_2023_22518_confluence_auth_bypass.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-22518/web_exploit_cve_2023_22518_confluence_auth_bypass.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-43261/proxy_exploit_cve_2023_43261_milesight_information_disclosure.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-43261/web_exploit_cve_2023_43261_milesight_information_disclosure.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#4564 Fix Further FPs Found In Testing
  README.md
  deprecated/windows/proc_creation_win_lolbin_findstr.yml
  deprecated/windows/proc_creation_win_wuauclt_execution.yml
  rules-threat-hunting/windows/file/file_rename/file_rename_win_non_dll_to_dll_ext.yml
  rules/windows/builtin/security/win_security_windows_defender_exclusions_registry_modified.yml
  rules/windows/builtin/security/win_security_windows_defender_exclusions_write_access.yml
  rules/windows/builtin/security/win_security_windows_defender_exclusions_write_deleted.yml
  rules/windows/create_remote_thread/create_remote_thread_win_uncommon_source_image.yml
  rules/windows/file/file_event/file_event_win_create_evtx_non_common_locations.yml
  rules/windows/file/file_rename/file_rename_win_not_dll_to_dll.yml
  rules/windows/file/file_rename/file_rename_win_ransomware.yml
  rules/windows/network_connection/net_connection_win_wuauclt_network_connection.yml
  rules/windows/process_creation/proc_creation_win_findstr_download.yml
  rules/windows/process_creation/proc_creation_win_findstr_gpp_passwords.yml
  rules/windows/process_creation/proc_creation_win_findstr_lnk.yml
  rules/windows/process_creation/proc_creation_win_findstr_lsass.yml
  rules/windows/process_creation/proc_creation_win_findstr_recon_everyone.yml
  rules/windows/process_creation/proc_creation_win_findstr_recon_pipe_output.yml
  rules/windows/process_creation/proc_creation_win_findstr_security_keyword_lookup.yml
  rules/windows/process_creation/proc_creation_win_findstr_subfolder_search.yml
  rules/windows/process_creation/proc_creation_win_findstr_sysmon_discovery_via_default_altitude.yml
  rules/windows/process_creation/proc_creation_win_renamed_office_processes.yml
  rules/windows/process_creation/proc_creation_win_sdbinst_susp_extension.yml
  rules/windows/process_creation/proc_creation_win_susp_bad_opsec_sacrificial_processes.yml
  rules/windows/process_creation/proc_creation_win_userinit_uncommon_child_processes.yml
  rules/windows/process_creation/proc_creation_win_wuauclt_dll_loading.yml
  rules/windows/process_creation/proc_creation_win_wuauclt_no_cli_flags_execution.yml
Labels: Rules, Windows

#4575 fix: value modifier `|all` position for `Potentially Suspicious Wuauclt Network Connection` rule
  rules/windows/network_connection/net_connection_win_wuauclt_network_connection.yml
Labels: Rules, Windows

#4576 Additional Ngrok Domains
  rules/windows/network_connection/net_connection_win_ngrok_domains.yml
  rules/windows/network_connection/net_connection_win_ngrok_io.yml
Labels: Rules, 2nd Review Needed, Windows

#4574 ci: 🤖 add new sigma-cli 0.7.10 validators
  tests/sigma_cli_conf.yml
  tests/test_rules.py
Labels: 2nd Review Needed, Maintenance

#4532 Attempt to read eventlog content from commandline
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_event_log_query.yml
  rules/windows/process_creation/proc_creation_win_susp_eventlog_content_recon.yml
  rules/windows/process_creation/proc_creation_win_wevtutil_recon.yml
Labels: Rules, Windows

#4568 Adding two registry modifications detections to registry_set_disable_function_user.yml
  rules/windows/registry/registry_set/registry_set_disable_function_user.yml
Labels: Rules, 2nd Review Needed, Windows

#4581 Remove in changlog, additional attribution, workflow optimization, FP tuning
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release.yml
  .github/workflows/sigma-test.yml
  rules/windows/process_creation/proc_creation_win_rundll32_executable_invalid_extension.yml
Labels: Maintenance

#4582 chore: cleanup duplicate release entries and enhance manual thanking …
  .github/workflows/release.yml
Labels: Maintenance

#4585 chore: update evtx-baseline to v0.8
  .github/workflows/goodlog-tests.yml
  .github/workflows/sigma-test.yml
  .github/workflows/sigma-validation.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_file_permission_modifications.yml
  tests/check-baseline-local.sh
Labels: Maintenance

#4595 chore: temporarily disable greetings
  .github/workflows/greetings.yml
Labels: Maintenance

#4590 Update README.md
  README.md
Labels: Maintenance

#4578 New rules for CVE-2023-46214
  rules-emerging-threats/2023/Exploits/CVE-2023-46214/web_cve_2023_46214_rce_splunk_enterprise.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-46214/web_cve_2023_46214_rce_splunk_enterprise_poc.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#4596 fix: correct the filter strings
  rules/windows/image_load/image_load_wmi_module_load_by_uncommon_process.yml
Labels: Rules, Windows

#4601 Add ATT&CK Group Tag For Some Emerging Threats Rules
  rules-emerging-threats/2021/TA/HAFNIUM/proc_creation_win_apt_hafnium.yml
  rules-emerging-threats/2021/TA/HAFNIUM/web_exchange_exploitation_hafnium.yml
  rules-emerging-threats/2023/TA/EquationGroup/net_dns_apt_equation_group_triangulation_c2_coms.yml
  rules-emerging-threats/2023/TA/EquationGroup/proxy_apt_equation_group_triangulation_c2_coms.yml
  rules-emerging-threats/2023/TA/FIN7/file_event_win_apt_fin7_powershell_scripts_naming_convention.yml
  rules-emerging-threats/2023/TA/FIN7/posh_ps_apt_fin7_powerhold.yml
  rules-emerging-threats/2023/TA/FIN7/posh_ps_apt_fin7_powertrash_execution.yml
  rules-emerging-threats/2023/TA/FIN7/proc_creation_win_apt_fin7_powertrash_lateral_movement.yml
  rules-emerging-threats/2023/TA/Lazarus/image_load_apt_lazarus_side_load_activity.yml
  rules-emerging-threats/2023/TA/Mustang-Panda-Australia-Campaign/proc_creation_win_apt_mustang_panda_indicators.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#4586 feat: new rules 21-11-2023
  rules/windows/process_creation/proc_creation_win_wusa_cab_files_extraction_from_susp_paths.yml
  rules/windows/process_creation/proc_creation_win_wusa_susp_parent_execution.yml
  rules/windows/registry/registry_set/registry_set_ime_non_default_extension.yml
  rules/windows/registry/registry_set/registry_set_ime_suspicious_paths.yml
Labels: Rules, 2nd Review Needed, Windows

#4588 New Rule : Load Of RstrtMgr DLL From Suspicious Process
  rules/windows/image_load/image_load_dll_rstrtmgr_suspicious_load.yml
  rules/windows/image_load/image_load_dll_rstrtmgr_uncommon_load.yml
Labels: Rules, Windows

#4602 Update Netsh Helper DLL Rules
  rules/windows/process_creation/proc_creation_win_netsh_helper_dll_persistence.yml
  rules/windows/registry/registry_set/registry_set_netsh_help_dll_persistence_susp_location.yml
  rules/windows/registry/registry_set/registry_set_netsh_helper_dll_potential_persistence.yml
Labels: Rules, Windows

#4603 Fix `Mint Sandstorm - Log4J Wstomcat Process Execution` Condition
  rules-emerging-threats/2023/TA/Mint-Sandstorm/proc_creation_win_apt_mint_sandstorm_log4j_wstomcat_execution.yml
Labels: Rules, Emerging-Threats

#4605 chore: revert greetings workflow
  .github/workflows/greetings.yml
Labels: Maintenance
