Repository SigmaHQ/sigma, pull requests merged in 2023-03, with the labels that each got.

#4084 chore: rollback previous state of the rule
  rules/windows/builtin/msexchange/win_exchange_proxyshell_mailbox_export.yml
Labels: Rules, Windows, False-Positive

#4082 feat: update and fixes
  rules-deprecated/windows/proc_creation_win_sysinternals_psexec_service_execution.yml
  rules-deprecated/windows/proc_creation_win_sysinternals_psexesvc_start.yml
  rules-deprecated/windows/proc_creation_win_whoami_as_system.yml
  rules/macos/process_creation/proc_creation_macos_persistence_via_plistbuddy.yml
  rules/windows/file/file_event/file_event_win_office_onenote_susp_dropped_files.yml
  rules/windows/image_load/image_load_side_load_from_non_system_location.yml
  rules/windows/process_creation/proc_creation_win_curl_download.yml
  rules/windows/process_creation/proc_creation_win_curl_susp_download.yml
  rules/windows/process_creation/proc_creation_win_imaging_devices_unusual_parents.yml
  rules/windows/process_creation/proc_creation_win_lolbin_ie4uinit.yml
  rules/windows/process_creation/proc_creation_win_ntfs_short_name_use_cli.yml
  rules/windows/process_creation/proc_creation_win_ntfs_short_name_use_image.yml
  rules/windows/process_creation/proc_creation_win_powershell_tamper_defender_remove_mppreference.yml
  rules/windows/process_creation/proc_creation_win_renamed_binary.yml
  rules/windows/process_creation/proc_creation_win_renamed_binary_highly_relevant.yml
  rules/windows/process_creation/proc_creation_win_renamed_sysinternals_debugview.yml
  rules/windows/process_creation/proc_creation_win_renamed_sysinternals_procdump.yml
  rules/windows/process_creation/proc_creation_win_renamed_sysinternals_psexec_service.yml
  rules/windows/process_creation/proc_creation_win_renamed_sysinternals_sdelete.yml
  rules/windows/process_creation/proc_creation_win_rundll32_without_parameters.yml
  rules/windows/process_creation/proc_creation_win_sc_query.yml
  rules/windows/process_creation/proc_creation_win_sc_sdset_allow_service_changes.yml
  rules/windows/process_creation/proc_creation_win_sc_sdset_deny_service_access.yml
  rules/windows/process_creation/proc_creation_win_sc_sdset_hide_sevices.yml
  rules/windows/process_creation/proc_creation_win_sc_sdset_modification.yml
  rules/windows/process_creation/proc_creation_win_sc_service_dacl_modification.yml
  rules/windows/process_creation/proc_creation_win_susp_command_flag_pattern.yml
  rules/windows/process_creation/proc_creation_win_susp_commandline_chars.yml
  rules/windows/process_creation/proc_creation_win_susp_double_ext_parent.yml
  rules/windows/process_creation/proc_creation_win_susp_double_extension.yml
  rules/windows/process_creation/proc_creation_win_susp_double_extension_parent.yml
  rules/windows/process_creation/proc_creation_win_susp_download_office_domain.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_eula_accepted.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_procdump.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_procdump_evasion.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_procdump_lsass.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_psexec_execution.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_psexec_paexec_escalate_system.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_psexec_remote_execution.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_psexesvc.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_psexesvc_as_system.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_psloglist.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_psservice.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_sdelete.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_susp_psexec_paexec_flags_.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_tools_masquerading.yml
  rules/windows/process_creation/proc_creation_win_uninstall_sysinternals_sysmon.yml
  rules/windows/process_creation/proc_creation_win_whoami_execution.yml
  rules/windows/process_creation/proc_creation_win_whoami_execution_from_high_priv_process.yml
  rules/windows/process_creation/proc_creation_win_whoami_groups_discovery.yml
  rules/windows/process_creation/proc_creation_win_whoami_parent_anomaly.yml
  rules/windows/process_creation/proc_creation_win_whoami_priv_discovery.yml
  rules/windows/process_creation/proc_creation_win_whoami_susp_flags.yml
Labels: Rules, 2nd Review Needed, Windows

#4100 feat: update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Maintenance

#4088 chore: update pipfile.lock
  Pipfile.lock
Labels: Awaiting Requested Review, Maintenance

#4102 Amsi bypass
  rules/windows/image_load/image_load_dll_amsi_uncommon_process.yml
Labels: Rules, Windows

#4098 Update Rule Remove Package
  rules/linux/process_creation/proc_creation_lnx_remove_package.yml
Labels: Rules, 2nd Review Needed, Linux

#4105 chore: change state to `unsupported`
  rules-unsupported/win_security_susp_failed_logons_single_process.yml
  rules-unsupported/win_security_susp_failed_logons_single_source_kerberos.yml
  rules-unsupported/win_security_susp_failed_logons_single_source_kerberos2.yml
  rules-unsupported/win_security_susp_failed_logons_single_source_kerberos3.yml
  rules-unsupported/win_security_susp_failed_logons_single_source_ntlm.yml
  rules-unsupported/win_security_susp_failed_logons_single_source_ntlm2.yml
Labels: Maintenance

#4106 feat: new rules related to possible dll sideloading
  rules/windows/image_load/image_load_side_load_antivirus.yml
  rules/windows/image_load/image_load_side_load_rcdll.yml
  rules/windows/image_load/image_load_side_load_wazuh.yml
Labels: Rules, 2nd Review Needed, Windows

#4107 feat: new rules and updates
  rules-deprecated/windows/image_load_side_load_advapi32.yml
  rules-deprecated/windows/proc_creation_win_schtasks_user_temp.yml
  rules/windows/builtin/security/win_security_dpapi_domain_masterkey_backup_attempt.yml
  rules/windows/builtin/security/win_security_lm_namedpipe.yml
  rules/windows/builtin/security/win_security_susp_lsass_dump_generic.yml
  rules/windows/builtin/security/win_security_susp_scheduled_task_delete_or_disable.yml
  rules/windows/builtin/windefend/win_defender_disabled.yml
  rules/windows/file/file_event/file_event_win_shell_write_susp_files_extensions.yml
  rules/windows/image_load/image_load_side_load_aruba_networks_virtual_intranet_access.yml
  rules/windows/image_load/image_load_side_load_coregen.yml
  rules/windows/image_load/image_load_side_load_dbgcore_dll.yml
  rules/windows/image_load/image_load_side_load_dbghelp_dll.yml
  rules/windows/image_load/image_load_side_load_from_non_system_location.yml
  rules/windows/image_load/image_load_side_load_office_dlls.yml
  rules/windows/image_load/image_load_side_load_rcdll.yml
  rules/windows/image_load/image_load_side_load_wazuh.yml
  rules/windows/process_access/proc_access_win_susp_proc_access_lsass_susp_source.yml
  rules/windows/process_creation/proc_creation_win_attrib_hiding_files.yml
  rules/windows/process_creation/proc_creation_win_attrib_system.yml
  rules/windows/process_creation/proc_creation_win_attrib_system_susp_paths.yml
  rules/windows/process_creation/proc_creation_win_csvde_export.yml
  rules/windows/process_creation/proc_creation_win_fltmc_unload_driver.yml
  rules/windows/process_creation/proc_creation_win_ldifde_export.yml
  rules/windows/process_creation/proc_creation_win_ldifde_file_load.yml
  rules/windows/process_creation/proc_creation_win_lolbin_dotnet_dump.yml
  rules/windows/process_creation/proc_creation_win_powershell_snapins_hafnium.yml
  rules/windows/process_creation/proc_creation_win_rundll32_executable_invalid_extension.yml
  rules/windows/process_creation/proc_creation_win_schtasks_env_folder.yml
  rules/windows/process_creation/proc_creation_win_schtasks_system.yml
  rules/windows/process_creation/proc_creation_win_susp_elevated_system_shell.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_adexplorer_execution.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_adexplorer_susp_execution.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_eula_accepted.yml
  rules/windows/registry/registry_set/registry_set_disable_winevt_logging.yml
  rules/windows/registry/registry_set/registry_set_susp_printer_driver.yml
  rules/windows/registry/registry_set/registry_set_windows_defender_tamper.yml
Labels: Rules, Windows

#4114 feat: new rule related to `CVE-2023-23397`
  rules/windows/process_creation/proc_creation_win_rundll32_webdav_client_execution.yml
  rules/windows/process_creation/proc_creation_win_rundll32_webdav_client_susp_execution.yml
  rules/windows/process_creation/proc_creation_win_rundll32_without_parameters.yml
Labels: Rules, Windows

#4116 Potential Binary Or Script Dropper Via PowerShell.EXE
  rules/windows/file/file_event/file_event_win_powershell_drop_binary.yml
Labels: Rules, Windows

#4111 feat: new rules related to ZScaler blog - OneNote: A Growing Threat for Malware Distribution
  rules/windows/process_creation/proc_creation_win_powershell_decode_gzip.yml
  rules/windows/process_creation/proc_creation_win_powershell_download_dll.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_image.yml
  rules/windows/process_creation/proc_creation_win_rundll32_susp_execution_with_image_extension.yml
  rules/windows/registry/registry_event/registry_event_malware_qakbot_registry.yml
Labels: Rules, Windows

#4118 feat: update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Maintenance

#4120 Create win_security_outlook_remote_file.yml
  rules/windows/builtin/security/win_security_exploit_cve_2023_23397_outlook_remote_file_query.yml
Labels: Rules, Windows

#4115 Fix FPs on CIDR rules
  rules/windows/builtin/security/win_security_successful_external_remote_rdp_login.yml
  rules/windows/builtin/security/win_security_successful_external_remote_smb_login.yml
Labels: Rules, Windows, False-Positive Fix

#4117 Adding in integrity level for Microsoft Defender backend
  tools/sigma/backends/mdatp.py
Labels: Maintenance

#4125 feat : new malware UA
  rules/web/proxy_generic/proxy_ua_malware.yml
Labels: Rules, 2nd Review Needed, Web

#4122 azure_ad_suspicious_signin_bypassingMFA
  rules/cloud/azure/azure_ad_suspicious_signin_bypassing_mfa.yml
Labels: Rules, Cloud

#4121 Create proc_creation_macos_add_to_admin_group.yml
  rules/macos/process_creation/proc_creation_macos_add_to_admin_group.yml
Labels: Rules, MacOS

#4132 fix: fp found in testing
  rules/windows/builtin/security/win_security_susp_lsass_dump_generic.yml
  rules/windows/network_connection/net_connection_win_susp_rdp.yml
  rules/windows/process_creation/proc_creation_win_susp_elevated_system_shell.yml
  rules/windows/process_creation/proc_creation_win_susp_ntfs_short_name_path_use_image.yml
Labels: Rules, Windows, False-Positive Fix

#4133 Improvement of detection logic
  rules/windows/builtin/security/win_security_exploit_cve_2023_23397_outlook_remote_file_query.yml
Labels: Rules, Windows

#4131 feat: new rule related to possible iviewers.dll sideloading
  rules/windows/image_load/image_load_side_load_iviewers.yml
Labels: Rules, Windows

#4134 fix: fp found in testing
  rules/windows/process_access/proc_access_win_cred_dump_lsass_access.yml
  rules/windows/process_access/proc_access_win_direct_syscall_ntopenprocess.yml
  rules/windows/process_access/proc_access_win_susp_proc_access_lsass.yml
  rules/windows/process_creation/proc_creation_win_lolbin_squirrel.yml
Labels: Rules, Windows, False-Positive Fix

#4128 Update proc_creation_win_hktl_winpeas.yml
  rules/windows/process_creation/proc_creation_win_hktl_winpeas.yml
Labels: Rules, Windows

#4113 Create proxy_susp_ipfs_cred_harvest.yml
  rules/web/proxy_generic/proxy_susp_ipfs_cred_harvest.yml
Labels: Rules, Web

#4103 feat: add logsource guides
  rules-documentation/logsource-guides/other/antivirus.md
  rules-documentation/logsource-guides/windows/category/process_creation.md
  rules-documentation/logsource-guides/windows/category/ps_module.md
  rules-documentation/logsource-guides/windows/category/ps_script.md
  rules-documentation/logsource-guides/windows/category/registry_add.md
  rules-documentation/logsource-guides/windows/category/registry_delete.md
  rules-documentation/logsource-guides/windows/category/registry_event.md
  rules-documentation/logsource-guides/windows/category/registry_rename.md
  rules-documentation/logsource-guides/windows/category/registry_set.md
  rules-documentation/logsource-guides/windows/service/powershell.md
  rules-documentation/logsource-guides/windows/service/security.md
  rules-documentation/tools/sigma-logsource-checker.py
Labels: Maintenance, Documentation

#4095 Rules/linux/auditd
  rules-deprecated/linux/lnx_auditd_alter_bash_profile.yml
  rules/linux/auditd/lnx_auditd_modify_system_firewall.yml
  rules/linux/auditd/lnx_auditd_system_info_discovery.yml
  rules/linux/auditd/lnx_auditd_unix_shell_configuration_modification.yml
Labels: Rules, Linux

#4144 feat : new malware UAs
  rules/web/proxy_generic/proxy_ua_malware.yml
Labels: Rules

#4145 Fix FP rule on windows 10 22H2
  rules/windows/image_load/image_load_dll_vss_ps_susp_load.yml
  rules/windows/image_load/image_load_dll_vsstrace_susp_load.yml
Labels: Rules, Windows, False-Positive Fix

#4108 Add recursive type check to avoid having illegal types inside of a list
  tools/sigma/backends/elasticsearch.py
  tools/sigma/parser/modifiers/base.py
  tools/sigma/parser/modifiers/mixins.py
  tools/sigma/parser/modifiers/transform.py
  tools/sigma/parser/rule.py
Labels: Maintenance

#4146 Fix FP 3215aa19-f060-4332-86d5-5602511f3ca8
  rules/windows/file/file_event/file_event_win_susp_lnk_double_extension.yml
Labels: Rules, Windows, False-Positive Fix

#4153 feat: new rule related to susp child process of 3CXDesktopApp
  rules/windows/process_creation/proc_creation_win_malware_3cx_compromise_susp_children.yml
Labels: Rules, Windows
