Repository SigmaHQ/sigma, pull requests merged in 2023-06, with the labels that each got.

#4278 Change FP template to use `id` instead of `uuid`
  .github/ISSUE_TEMPLATE/false_positive_report.yml
Labels: Maintenance

#4281 Rule: MOVEit Transfer 0day - file creation event
  rules-emerging-threats/2023/Exploits/MOVEit-Transfer-Unknown-Exploit/README.md
  rules-emerging-threats/2023/Exploits/MOVEit-Transfer-Unknown-Exploit/file_event_win_exploit_other_moveit_transfer.yml
Labels: Rules, Emerging-Threats

#4283 feat: update moveit exploitation ioc rule
  rules-emerging-threats/2023/Exploits/MOVEit-Transfer-Unknown-Exploit/README.md
  rules-emerging-threats/2023/Exploits/MOVEit-Transfer-Unknown-Exploit/file_event_win_exploit_other_moveit_transfer.yml
Labels: Rules, Emerging-Threats

#4282 Create image_load_side_load_SmadHook.yml
  rules/windows/image_load/image_load_side_load_smadhook.yml
Labels: Rules, Windows

#4284 Rules: Operation Triangulation
  rules-emerging-threats/2023/TA/EquationGroup/net_dns_apt_equation_group_triangulation_c2_coms.yml
  rules-emerging-threats/2023/TA/EquationGroup/proxy_apt_equation_group_triangulation_c2_coms.yml
Labels: Rules, Emerging-Threats

#4272 New Linux rules related to GobRAT malware analyzed by JPCERT
  rules/linux/file_event/file_event_lnx_susp_shell_script_under_profile_directory.yml
  rules/linux/file_event/file_event_lnx_wget_download_file_in_tmp_dir.yml
  rules/linux/process_creation/proc_creation_lnx_crontab_enumeration.yml
  rules/linux/process_creation/proc_creation_lnx_grep_os_arch_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_malware_gobrat_grep_payload_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_nohup_susp_execution.yml
  rules/linux/process_creation/proc_creation_lnx_susp_execution_tmp_folder.yml
  rules/linux/process_creation/proc_creation_lnx_susp_shell_child_process_from_parent_tmp_folder.yml
  rules/linux/process_creation/proc_creation_lnx_susp_shell_script_exec_from_susp_location.yml
  rules/linux/process_creation/proc_creation_lnx_wget_download_suspicious_directory.yml
Labels: Rules, Linux

#4285 feat: update MOVEit exploitation rules
  rules-emerging-threats/2023/Exploits/CVE-2023-34362-MOVEit-Transfer-Exploit/README.md
  rules-emerging-threats/2023/Exploits/CVE-2023-34362-MOVEit-Transfer-Exploit/file_event_win_exploit_cve_2023_34362_moveit_transfer.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-34362-MOVEit-Transfer-Exploit/web_cve_2023_34362_known_payload_request.yml.yml
Labels: Rules, Emerging-Threats

#4280 feat: rules updates
  deprecated/windows/image_load_alternate_powershell_hosts_moduleload.yml
  deprecated/windows/sysmon_powershell_execution_moduleload.yml
  rules-emerging-threats/2018/TA/APT28/proc_creation_win_apt_sofacy.yml
  rules-emerging-threats/2021/Malware/Goofy-Guineapig/proc_creation_win_malware_goofy_guineapig_broken_cmd.yml
  rules-emerging-threats/2021/Malware/Goofy-Guineapig/proc_creation_win_malware_goofy_guineapig_googleupdate_uncommon_child_instance.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-25717/web_cve_2023_25717_ruckus_wireless_admin_exploit_attempt.yml
  rules-emerging-threats/2023/Malware/Qakbot/proc_creation_win_malware_qakbot_rundll32_exports.yml
  rules-emerging-threats/image_load_malware_foggyweb_nobelium.yml
  rules-emerging-threats/image_load_malware_pingback_backdoor.yml
  rules/windows/file/file_event/file_event_win_ps_script_policy_test_creation_by_uncommon_process.yml
  rules/windows/image_load/image_load_azure_microsoft_account_token_provider_dll_load.yml
  rules/windows/image_load/image_load_dll_amsi_suspicious_process.yml
  rules/windows/image_load/image_load_dll_amsi_uncommon_process.yml
  rules/windows/image_load/image_load_dll_pcre_dotnet_dll_load.yml
  rules/windows/image_load/image_load_dll_system_management_automation_susp_load.yml
  rules/windows/image_load/image_load_iexplore_dcom_iertutil_dll_hijack.yml
  rules/windows/image_load/image_load_office_powershell_dll_load.yml
  rules/windows/process_creation/proc_creation_win_bitsadmin_download_susp_extensions.yml
  rules/windows/process_creation/proc_creation_win_bitsadmin_download_susp_targetfolder.yml
  rules/windows/process_creation/proc_creation_win_bitsadmin_potential_persistence.yml
  rules/windows/process_creation/proc_creation_win_conhost_susp_child_process.yml
  rules/windows/process_creation/proc_creation_win_odbcconf_response_file_susp.yml
  rules/windows/process_creation/proc_creation_win_powershell_cmdline_reversed_strings.yml
  rules/windows/process_creation/proc_creation_win_powershell_susp_child_processes.yml
  rules/windows/process_creation/proc_creation_win_susp_eventlog_clear.yml
  tests/test_rules.py
Labels: Rules, Windows

#4232 Extended the coverage of existing defender tampering related rules
  .github/workflows/known-FPs.csv
  rules/windows/powershell/powershell_classic/posh_pc_tamper_windows_defender_set_mp.yml
  rules/windows/powershell/powershell_classic/posh_pc_tamper_with_windows_defender.yml
  rules/windows/powershell/powershell_script/posh_ps_tamper_windows_defender_rem_mp.yml
  rules/windows/powershell/powershell_script/posh_ps_tamper_windows_defender_set_mp.yml
  rules/windows/process_creation/proc_creation_win_reg_defender_tampering.yml
  rules/windows/process_creation/proc_creation_win_reg_disable_sec_services.yml
  rules/windows/process_creation/proc_creation_win_reg_windows_defender_tamper.yml
  rules/windows/registry/registry_set/registry_set_windows_defender_tamper.yml
Labels: Rules, Windows

#4288 Corrected the detection condition/logic for registry persistence technique
  rules/windows/registry/registry_set/registry_set_persistence_globalflags.yml
Labels: Rules, Windows

#4296 fix: exclude files that are marked for deletion
  rules/windows/process_creation/proc_creation_win_susp_non_exe_image.yml
Labels: Rules, Windows, False-Positive Fix

#4298 fix: typo in 'related' field
  rules/windows/process_creation/proc_creation_win_certutil_encode_susp_extensions.yml
  rules/windows/process_creation/proc_creation_win_certutil_encode_susp_location.yml
  tests/test_rules.py
Labels: Maintenance

#4299 Potential PSFactoryBuffer COM Hijacking
  rules/windows/registry/registry_set/registry_set_persistence_comhijack_psfactorybuffer.yml
Labels: Rules, Windows

#4297 feat: Code Integrity Rules Updates
  .github/workflows/known-FPs.csv
  rules/windows/builtin/code_integrity/win_codeintegrity_attempted_dll_load.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_blocked_protected_process_file.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_enforced_policy_block.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_revoked_driver.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_revoked_driver_blocked.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_revoked_driver_loaded.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_revoked_image_blocked.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_revoked_image_loaded.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_unsigned_driver_loaded.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_unsigned_image_loaded.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_whql_failure.yml
  rules/windows/builtin/system/lsasrv/win_system_lsasrv_ntlmv1.yml
Labels: Rules, Windows

#4289 Update proc_creation_win_persistence_userinitmprlogonscript.yml
  rules/windows/process_creation/proc_creation_win_persistence_userinitmprlogonscript.yml
  rules/windows/process_creation/proc_creation_win_registry_logon_script.yml
  rules/windows/process_creation/proc_creation_win_userinit_uncommon_child_processes.yml
  rules/windows/registry/registry_add/registry_add_persistence_logon_scripts_userinitmprlogonscript.yml
  rules/windows/registry/registry_set/registry_set_persistence_ifilter.yml
Labels: Rules, Windows

#4304 multiple dll sideloading rules
  rules/windows/image_load/image_load_side_load_7za.yml
  rules/windows/image_load/image_load_side_load_edputil.yml
  rules/windows/image_load/image_load_side_load_rjvplatform_default_location.yml
  rules/windows/image_load/image_load_side_load_rjvplatform_non_default_location.yml
Labels: Rules, Windows

#4303 rule: LibSSH exploitation CVE-2023-2283
  rules-emerging-threats/2023/Exploits/CVE-2023-2283/lnx_sshd_exploit_cve_2023_2283_libssh_authentication_bypass.yml
Labels: Rules, Linux, Emerging-Threats

#4305 Create proc_creation_win_sndvol_susp_child_processes.yml
  rules/windows/process_creation/proc_creation_win_sndvol_susp_child_processes.yml
Labels: Rules, Windows

#4301 ClickOnce rule added
  rules-threat-hunting/windows/network_connection/net_connection_win_dfsvc_suspicious_ip.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_dfsvc_child_processes.yml
  rules/windows/image_load/image_load_clickonce_unsigned_module_loaded.yml
  rules/windows/network_connection/net_connection_win_dfsvc_uncommon_ports.yml
  rules/windows/process_creation/proc_creation_win_dfsvc_suspicious_child_processes.yml
  rules/windows/registry/registry_set/registry_set_clickonce_trust_prompt.yml
Labels: Rules, Windows

#4310 fix: fp found in testing
  rules-emerging-threats/2023/Exploits/CVE-2023-25157/web_cve_2023_25157_geoserver_sql_injection.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_whql_failure.yml
  rules/windows/builtin/firewall_as/win_firewall_as_delete_rule.yml
  rules/windows/builtin/security/win_security_scheduled_task_deletion.yml
  rules/windows/create_stream_hash/create_stream_hash_creation_internet_file.yml
Labels: Rules, Windows, False-Positive Fix

#4311 proc_creation_win_lolbin_gpscript Fix svchost FP
  rules/windows/process_creation/proc_creation_win_lolbin_gpscript.yml
Labels: Rules, Windows, False-Positive Fix

#4313 Remote Access Software + RustDesk domains; typo fix
  rules/windows/dns_query/dns_query_win_remote_access_software_domains.yml
  rules/windows/registry/registry_event/registry_event_mimikatz_printernightmare.yml
Labels: Rules, Windows

#4312 Create image_load_side_load_waveedit.yml
  rules/windows/image_load/image_load_side_load_waveedit.yml
Labels: Rules, Windows

#4321 FP fix + typo fix
  deprecated/windows/proc_creation_win_service_stop.yml
  rules-emerging-threats/2017/Malware/NotPetya/proc_creation_win_malware_notpetya.yml
  rules/web/webserver_generic/web_susp_windows_path_uri.yml
  rules/windows/builtin/application/application_error/win_werfault_susp_lsass_credential_dump.yml
  rules/windows/builtin/firewall_as/win_firewall_as_change_rule.yml
  rules/windows/builtin/security/win_security_defender_bypass.yml
  rules/windows/builtin/security/win_security_external_device.yml
  rules/windows/builtin/security/win_security_user_creation.yml
  rules/windows/builtin/system/microsoft_windows_ntfs/win_system_volume_shadow_copy_mount.yml
  rules/windows/builtin/system/service_control_manager/win_system_krbrelayup_service_installation.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_terminated_error_generic.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_terminated_error_important.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_terminated_unexpectedly.yml
  rules/windows/builtin/windefend/win_defender_suspicious_features_tampering.yml
  rules/windows/file/file_event/file_event_win_shell_write_susp_files_extensions.yml
  rules/windows/file/file_event/file_event_win_susp_double_extension.yml
  rules/windows/powershell/powershell_script/posh_ps_susp_clear_eventlog.yml
  rules/windows/powershell/powershell_script/posh_ps_tamper_windows_defender_rem_mp.yml
  rules/windows/powershell/powershell_script/posh_ps_tamper_windows_defender_set_mp.yml
  rules/windows/process_access/proc_access_win_invoke_phantom.yml
  rules/windows/process_creation/proc_creation_win_cmd_dir_execution.yml
  rules/windows/process_creation/proc_creation_win_cmd_redirection_susp_folder.yml
  rules/windows/process_creation/proc_creation_win_hktl_krbrelayup.yml
  rules/windows/process_creation/proc_creation_win_lolbin_pktmon.yml
  rules/windows/process_creation/proc_creation_win_powershell_tamper_defender_remove_mppreference.yml
  rules/windows/process_creation/proc_creation_win_pua_crassus.yml
  rules/windows/process_creation/proc_creation_win_susp_elevated_system_shell.yml
  rules/windows/process_creation/proc_creation_win_userinit_uncommon_child_processes.yml
  rules/windows/process_creation/proc_creation_win_wsl_lolbin_execution.yml
  rules/windows/registry/registry_event/registry_event_bypass_via_wsreset.yml
  rules/windows/registry/registry_set/registry_set_change_winevt_channelaccess.yml
  rules/windows/registry/registry_set/registry_set_disable_security_center_notifications.yml
  rules/windows/registry/registry_set/registry_set_disable_windows_firewall.yml
  rules/windows/registry/registry_set/registry_set_disable_winevt_logging.yml
  rules/windows/registry/registry_set/registry_set_suppress_defender_notifications.yml
  rules/windows/registry/registry_set/registry_set_windows_defender_tamper.yml
Labels: Rules, Windows, Maintenance, False-Positive Fix

#4322 Update win_system_service_install_remote_access_software.yml
  rules/windows/builtin/security/win_security_service_install_remote_access_software.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_install_remote_access_software.yml
Labels: Rules, Windows

#4331 Fix Zero Networks Blog 404s
  rules/application/rpc_firewall/rpc_firewall_atsvc_lateral_movement.yml
  rules/application/rpc_firewall/rpc_firewall_atsvc_recon.yml
  rules/application/rpc_firewall/rpc_firewall_dcsync_attack.yml
  rules/application/rpc_firewall/rpc_firewall_efs_abuse.yml
  rules/application/rpc_firewall/rpc_firewall_eventlog_recon.yml
  rules/application/rpc_firewall/rpc_firewall_itaskschedulerservice_lateral_movement.yml
  rules/application/rpc_firewall/rpc_firewall_itaskschedulerservice_recon.yml
  rules/application/rpc_firewall/rpc_firewall_printing_lateral_movement.yml
  rules/application/rpc_firewall/rpc_firewall_remote_dcom_or_wmi.yml
  rules/application/rpc_firewall/rpc_firewall_remote_registry_lateral_movement.yml
  rules/application/rpc_firewall/rpc_firewall_remote_registry_recon.yml
  rules/application/rpc_firewall/rpc_firewall_remote_server_service_abuse.yml
  rules/application/rpc_firewall/rpc_firewall_remote_service_lateral_movement.yml
  rules/application/rpc_firewall/rpc_firewall_sasec_lateral_movement.yml
  rules/application/rpc_firewall/rpc_firewall_sasec_recon.yml
  rules/application/rpc_firewall/rpc_firewall_sharphound_recon_account.yml
  rules/application/rpc_firewall/rpc_firewall_sharphound_recon_sessions.yml
Labels: Rules, Maintenance
