Repository SigmaHQ/sigma, pull requests merged in 2023-09, with the labels that each got.

#4409 Update web_path_traversal_exploitation_attempt.yml
  rules/web/webserver_generic/web_path_traversal_exploitation_attempt.yml
Labels: Rules, Web

#4414 Update to Qakbot Uninstaller rule
  rules-emerging-threats/2023/Malware/Qakbot/proc_creation_win_malware_qakbot_uninstaller_cleanup.yml
Labels: Rules, Windows

#4416 Update web_sql_injection_in_access_logs.yml
  rules/web/webserver_generic/web_sql_injection_in_access_logs.yml
Labels: Rules, 2nd Review Needed, Web

#4423 Azure AD Identity Protection Rules
  rules/cloud/azure/identity_protection/azure_identity_protection_anomalous_token.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_anomalous_user.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_anonymous_ip_activity.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_atypical_travel.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_impossible_travel.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_inbox_forwarding_rule.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_inbox_manipulation.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_leaked_credentials.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_malware_linked_ip.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_new_coutry_region.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_password_spray.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_suspicious_browser.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_token_issuer_anomaly.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_unfamilar_sign_in.yml
Labels: Rules, 2nd Review Needed, Cloud

#4417 Update web_sql_injection_in_access_logs.yml
  rules/web/webserver_generic/web_sql_injection_in_access_logs.yml
Labels: Rules, 2nd Review Needed, Web

#4396 add rule proc_creation_lnx_esxcli_system_enumeration
  rules/linux/process_creation/proc_creation_lnx_esxcli_network_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_permission_change_admin.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_storage_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_system_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_vm_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_vm_kill.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_vsan_discovery.yml
Labels: Rules, Linux

#4424 Proc creation lnx esxcli user account creation
  rules/linux/process_creation/proc_creation_lnx_esxcli_user_account_creation.yml
Labels: Rules, 2nd Review Needed, Linux

#4419 New: file_delete_win_delete_zone_transfert_ads
  rules-threat-hunting/windows/file/file_delete/file_delete_win_zone_identifier_ads.yml
  rules/windows/file/file_delete/file_delete_win_zone_identifier_ads_uncommon.yml
Labels: Rules, Windows

#4309 Add new rules related to abuse of electron applications
  rules/windows/process_creation/proc_creation_win_susp_electron_app_children.yml
  rules/windows/process_creation/proc_creation_win_susp_electron_exeuction_proxy.yml
Labels: Rules, Windows

#4406 feat: rules update
  deprecated/macos/proc_creation_macos_add_to_admin_group.yml
  deprecated/windows/file_event_win_lsass_memory_dump_file_creation.yml
  deprecated/windows/proc_creation_win_susp_lolbin_non_c_drive.yml
  rules-emerging-threats/2021/Malware/FoggyWeb/image_load_malware_foggyweb_nobelium.yml
  rules-emerging-threats/2021/Malware/Pingback/image_load_malware_pingback_backdoor.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36874/file_event_win_exploit_cve_2023_36874_report_creation.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36874/file_event_win_exploit_cve_2023_36874_wermgr_creation.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36874/proc_creation_win_exploit_cve_2023_36874_fake_wermgr.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-38831/file_event_win_exploit_cve_2023_38331_winrar_susp_double_ext.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-38831/proc_creation_win_exploit_cve_2023_38831_winrar_child_proc.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-40477/file_event_win_exploit_cve_2023_40477_winrar_rev_file_abuse.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-40477/win_application_exploit_cve_2023_40477_winrar_crash.yml
  rules-emerging-threats/2023/Malware/IcedID/proc_creation_win_malware_icedid_rundll32_dllregisterserver.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_compression_params.yml
  rules/windows/file/file_event/file_event_win_lsass_default_dump_file_names.yml
  rules/windows/image_load/image_load_side_load_vmmap_dbghelp_signed.yml
  rules/windows/image_load/image_load_side_load_vmmap_dbghelp_unsigned.yml
  rules/windows/process_creation/proc_creation_win_7zip_exfil_dmp_files.yml
  rules/windows/process_creation/proc_creation_win_java_manageengine_susp_child_process.yml
  rules/windows/process_creation/proc_creation_win_lsass_process_clone.yml
  rules/windows/process_creation/proc_creation_win_registry_ie_security_zone_protocol_defaults_downgrade.yml
  rules/windows/process_creation/proc_creation_win_rundll32_no_params.yml
  rules/windows/process_creation/proc_creation_win_rundll32_parent_explorer.yml
  rules/windows/process_creation/proc_creation_win_susp_appx_execution.yml
  rules/windows/process_creation/proc_creation_win_susp_copy_browser_data.yml
  rules/windows/process_creation/proc_creation_win_susp_copy_lateral_movement.yml
  rules/windows/process_creation/proc_creation_win_susp_copy_system_dir.yml
  rules/windows/process_creation/proc_creation_win_susp_copy_system_dir_lolbin.yml
  rules/windows/process_creation/proc_creation_win_susp_inline_win_api_access.yml
  rules/windows/process_creation/proc_creation_win_susp_lolbin_exec_from_non_c_drive.yml
  rules/windows/process_creation/proc_creation_win_susp_lsass_dmp_cli_keywords.yml
  rules/windows/process_creation/proc_creation_win_susp_lsass_dump.yml
  rules/windows/process_creation/proc_creation_win_winrar_exfil_dmp_files.yml
  rules/windows/process_creation/proc_creation_win_winrar_susp_child_process.yml
  rules/windows/process_creation/proc_creation_win_winrar_uncommon_folder_execution.yml
  rules/windows/registry/registry_set/registry_set_ie_security_zone_protocol_defaults_downgrade.yml
  rules/windows/registry/registry_set/registry_set_tls_protocol_old_version_enabled.yml
Labels: Rules, Windows

#4425 Add rule : proc_creation_lnx_esxcli_syslog_configuration_altered
  rules/linux/process_creation/proc_creation_lnx_esxcli_syslog_config_change.yml
Labels: Rules, Linux

#4412 fix: filter events that cannot be investigated anyway
  rules/windows/network_connection/net_connection_win_susp_epmap.yml
Labels: Work In Progress

#4431 FP fixes
  rules/windows/network_connection/net_connection_win_dead_drop_resolvers.yml
  rules/windows/process_creation/proc_creation_win_susp_elevated_system_shell.yml
Labels: Rules, False-Positive Fix

#4434 Sigma update rule logic
  rules/windows/builtin/firewall_as/win_firewall_as_add_rule.yml
  rules/windows/wmi_event/sysmon_wmi_susp_scripting.yml
Labels: Rules, Windows

#4435 Update add setZeroData option to fsutil
  rules/windows/process_creation/proc_creation_win_fsutil_usage.yml
Labels: Rules, Windows

#4428 Okta cross-tenant impersonation attack rules
  rules/cloud/okta/okta_identity_provider_created.yml
  rules/cloud/okta/okta_new_behaviours_admin_console.yml
  rules/cloud/okta/okta_suspicious_activity_enduser_report.yml
  rules/cloud/okta/okta_user_session_start_via_anonymised_proxy.yml
Labels: Rules, 2nd Review Needed, Cloud

#4429 Identity Protection remaining updates
  rules/cloud/azure/identity_protection/azure_identity_protection_malicious_ip_address.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_malicious_ip_address_suspicious.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_prt_access.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_threat_intel.yml
Labels: Rules, 2nd Review Needed, Cloud

#4442 fix: fp found in testing
  rules/windows/process_creation/proc_creation_win_susp_elevated_system_shell.yml
Labels: False-Positive Fix

#4445 Create azure_pim_role_assigned_outside_of_pim.yml
  rules/cloud/azure/privileged_identity_management/azure_pim_account_stale.yml
  rules/cloud/azure/privileged_identity_management/azure_pim_invalid_license.yml
  rules/cloud/azure/privileged_identity_management/azure_pim_role_assigned_outside_of_pim.yml
  rules/cloud/azure/privileged_identity_management/azure_pim_role_frequent_activation.yml
  rules/cloud/azure/privileged_identity_management/azure_pim_role_no_mfa_required.yml
  rules/cloud/azure/privileged_identity_management/azure_pim_role_not_used.yml
  rules/cloud/azure/privileged_identity_management/azure_pim_too_many_global_admins.yml
  tests/logsource.json
  tests/test_rules.py
Labels: Rules, Cloud

#4405 Update proc_creation_win_lolbin_diskshadow.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_diskshadow_child_process.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_diskshadow_script_mode.yml
  rules/windows/process_creation/proc_creation_win_diskshadow_child_process_susp.yml
  rules/windows/process_creation/proc_creation_win_diskshadow_script_mode_susp_ext.yml
  rules/windows/process_creation/proc_creation_win_diskshadow_script_mode_susp_location.yml
  rules/windows/process_creation/proc_creation_win_lolbin_diskshadow.yml
Labels: Rules, Windows

#4398 new: Acess File With Common Registry Extention
  rules/windows/file/file_access/file_access_win_browser_credential_access.yml
  rules/windows/file/file_access/file_access_win_credential_manager_access.yml
  rules/windows/file/file_access/file_access_win_dpapi_master_key_access.yml
  rules/windows/file/file_access/file_access_win_reg_and_hive_access.yml
  rules/windows/file/file_access/file_access_win_susp_cred_hist_access.yml
Labels: Rules, Windows

#4436 Update proc_creation_win_rundll32_no_params.yml
  rules/windows/process_creation/proc_creation_win_rundll32_no_params.yml
Labels: Rules, Windows

#4447 fixed error in the sigma file name
  rules/windows/file/file_event/file_event_win_new_scr_file.yml
Labels: Rules

#4401 Add New O365 Related Rules
  rules/cloud/m365/microsoft365_disabling_mfa.yml
  rules/cloud/m365/microsoft365_new_federated_domain_added_audit.yml
  rules/cloud/m365/microsoft365_new_federated_domain_added_exchange.yml
  tests/logsource.json
Labels: Rules, Cloud

#4457 Adding 4 rules from MITRE's Center for Threat Informed Defense
  rules/windows/builtin/security/win_security_registry_permissions_weakness_check.yml
  rules/windows/file/file_event/file_event_win_scheduled_task_creation.yml
  rules/windows/registry/registry_event/registry_event_scheduled_task_creation.yml
Labels: Rules, Windows

#4461 Create AWS rule aws_sso_idp_change.yml
  rules/cloud/aws/aws_sso_idp_change.yml
Labels: Rules, 2nd Review Needed, Cloud
