Repository SigmaHQ/sigma, pull requests merged in 2023-12, with the labels that each got.

#4610 chore: use different branch to avoid override
  .github/workflows/ref-archiver.yml
  .github/workflows/sigma-rule-promoter.yml
Labels: Maintenance

#4609 Add more pySigma tests to CI
  tests/sigma_cli_conf.yml
  tests/test_rules.py
Labels: 2nd Review Needed, Maintenance

#4592 Create Rule to detect Linux Process Code Injection
  rules/linux/process_creation/proc_creation_lnx_dd_process_injection.yml
Labels: Rules, 2nd Review Needed, Linux

#4612 Update sigma-schema.json
  tests/validate-sigma-schema/sigma-schema.json
Labels: 2nd Review Needed, Maintenance

#4597 feat: update proc access rules
  deprecated/windows/proc_access_win_lazagne_cred_dump_lsass_access.yml
  deprecated/windows/proc_access_win_lsass_susp_access.yml
  deprecated/windows/proc_access_win_pypykatz_cred_dump_lsass_access.yml
  rules-emerging-threats/2017/Malware/Hancitor/proc_access_win_malware_verclsid_shellcode.yml
  rules-threat-hunting/windows/process_access/proc_access_win_lsass_powershell_access.yml
  rules-threat-hunting/windows/process_access/proc_access_win_lsass_susp_source_process.yml
  rules/network/zeek/zeek_dns_susp_zbit_flag.yml
  rules/windows/process_access/proc_access_win_cmstp_execution_by_access.yml
  rules/windows/process_access/proc_access_win_direct_syscall_ntopenprocess.yml
  rules/windows/process_access/proc_access_win_hktl_cobaltstrike_bof_injection_pattern.yml
  rules/windows/process_access/proc_access_win_hktl_generic_access.yml
  rules/windows/process_access/proc_access_win_hktl_handlekatz_lsass_access.yml
  rules/windows/process_access/proc_access_win_hktl_littlecorporal_generated_maldoc.yml
  rules/windows/process_access/proc_access_win_hktl_sysmonente.yml
  rules/windows/process_access/proc_access_win_lsass_dump_comsvcs_dll.yml
  rules/windows/process_access/proc_access_win_lsass_dump_keyword_image.yml
  rules/windows/process_access/proc_access_win_lsass_memdump.yml
  rules/windows/process_access/proc_access_win_lsass_python_based_tool.yml
  rules/windows/process_access/proc_access_win_lsass_remote_access_trough_winrm.yml
  rules/windows/process_access/proc_access_win_lsass_seclogon_access.yml
  rules/windows/process_access/proc_access_win_lsass_susp_access_flag.yml
  rules/windows/process_access/proc_access_win_lsass_uncommon_access_flag.yml
  rules/windows/process_access/proc_access_win_lsass_werfault.yml
  rules/windows/process_access/proc_access_win_lsass_whitelisted_process_names.yml
  rules/windows/process_access/proc_access_win_shellcode_inject_msf_empire.yml
  rules/windows/process_access/proc_access_win_susp_direct_syscall_ntopenprocess.yml
  rules/windows/process_access/proc_access_win_susp_invoke_patchingapi.yml
  rules/windows/process_access/proc_access_win_susp_proc_access_lsass.yml
  rules/windows/process_access/proc_access_win_susp_shellcode_injection.yml
  rules/windows/process_access/proc_access_win_svchost_cred_dump.yml
  rules/windows/process_access/proc_access_win_svchost_credential_dumping.yml
  rules/windows/process_access/proc_access_win_svchost_susp_access_request.yml
  rules/windows/process_access/proc_access_win_uac_bypass_editionupgrademanagerobj.yml
  rules/windows/process_creation/proc_creation_win_hktl_impacket_tools.yml
  rules/windows/process_creation/proc_creation_win_hktl_winpeas.yml
  rules/windows/process_creation/proc_creation_win_susp_hiding_malware_in_fonts_folder.yml
  rules/windows/process_creation/proc_creation_win_susp_homoglyph_cyrillic_lookalikes.yml
  rules/windows/process_tampering/proc_tampering_susp_process_hollowing.yml
  rules/windows/raw_access_thread/raw_access_thread_susp_disk_access_using_uncommon_tools.yml
Labels: Rules, Windows

#4617 Fixed the typo in process name
  rules/windows/process_creation/proc_creation_win_cmd_unusual_parent.yml
Labels: Rules, Windows

#4614 feat: updates for multiple rules 4-12-2023
  rules/web/proxy_generic/proxy_ua_malware.yml
  rules/windows/process_creation/proc_creation_win_powershell_decrypt_pattern.yml
Labels: Rules, 2nd Review Needed, Windows

#4627 fix: filter both program file folders
  rules/windows/process_creation/proc_creation_win_susp_system_user_anomaly.yml
Labels: Rules, Windows

#4630 Use `expand` modifier to tranform placeholders
  rules-placeholder/cloud/azure/azure_ad_account_created_deleted_nonapproved_user.yml
  rules-placeholder/cloud/azure/azure_ad_account_signin_outside_hours.yml
  rules-placeholder/cloud/azure/azure_privileged_account_no_saw_paw.yml
  rules-placeholder/cloud/azure/azure_privileged_account_sigin_expected_controls.yml
  rules-placeholder/cloud/azure/azure_privileged_account_signin_outside_hours.yml
  rules-placeholder/windows/builtin/security/win_security_exploit_cve_2020_1472.yml
  rules-placeholder/windows/builtin/security/win_security_potential_pass_the_hash.yml
  rules-placeholder/windows/builtin/security/win_security_remote_registry_management_via_reg.yml
  rules-placeholder/windows/builtin/security/win_security_susp_interactive_logons.yml
Labels: Rules, Windows

#4619 Update net_connection_win_office_susp_ports.yml
  rules/windows/network_connection/net_connection_win_office_susp_ports.yml
Labels: Rules, 2nd Review Needed, Windows

#4618 add new webex binary
  rules-threat-hunting/windows/process_access/proc_access_win_lsass_susp_source_process.yml
Labels: Rules, 2nd Review Needed, Windows

#4631 feat: add rules related to CISA `aa23-347a` advisory
  rules-emerging-threats/2023/TA/Cozy-Bear/image_load_apt_cozy_bear_graphical_proton_dlls.yml
  rules-emerging-threats/2023/TA/Cozy-Bear/win_security_apt_cozy_bear_scheduled_tasks_name.yml
  rules-emerging-threats/2023/TA/Cozy-Bear/win_taskscheduler_apt_cozy_bear_graphical_proton_task_names.yml
  rules-threat-hunting/windows/powershell/powershell_script/posh_ps_compress_archive_usage.yml
  rules/windows/image_load/image_load_side_load_from_non_system_location.yml
  rules/windows/powershell/powershell_classic/posh_pc_susp_zip_compress.yml
  rules/windows/powershell/powershell_module/posh_pm_susp_zip_compress.yml
  rules/windows/powershell/powershell_script/posh_ps_susp_zip_compress.yml
  rules/windows/process_creation/proc_creation_win_nltest_recon.yml
  rules/windows/process_creation/proc_creation_win_powershell_zip_compress.yml
  rules/windows/process_creation/proc_creation_win_reg_lsa_disable_restricted_admin.yml
  rules/windows/process_creation/proc_creation_win_reg_nolmhash.yml
  rules/windows/process_creation/proc_creation_win_reg_susp_paths.yml
  rules/windows/process_creation/proc_creation_win_reg_volsnap_disable.yml
  rules/windows/process_creation/proc_creation_win_reg_write_protect_for_storage_disabled.yml
  rules/windows/process_creation/proc_creation_win_wmic_recon_process.yml
  rules/windows/registry/registry_set/registry_set_lsa_disablerestrictedadmin.yml
  rules/windows/registry/registry_set/registry_set_system_lsa_nolmhash.yml
Labels: Rules, 2nd Review Needed, Windows, Emerging-Threats

#4626 Detect tar usage for data archiving on windows
  rules/windows/process_creation/proc_creation_win_tar_compression.yml
  rules/windows/process_creation/proc_creation_win_tar_extraction.yml
Labels: Rules, 2nd Review Needed, Windows

#4632 Filtering FP in pipe_created_hktl_efspotato.yml
  rules/windows/pipe_created/pipe_created_hktl_efspotato.yml
Labels: Rules, 2nd Review Needed, Windows

#4615 Update WMIC Discovery Rule + New System Discovery Rules For MacOS
  rules/macos/process_creation/proc_creation_macos_ioreg_discovery.yml
  rules/macos/process_creation/proc_creation_macos_swvers_discovery.yml
  rules/macos/process_creation/proc_creation_macos_tail_base64_decode_from_image.yml
  rules/windows/process_creation/proc_creation_win_wmic_recon_system_info.yml
  rules/windows/process_creation/proc_creation_win_wmic_recon_system_info_uncommon.yml
  tests/test_rules.py
Labels: Rules, Windows, MacOS

#4633 New: Suspicious Desktop Background Change Using Reg.exe
  rules/windows/process_creation/proc_creation_win_reg_desktop_background_change.yml
  rules/windows/registry/registry_set/registry_set_desktop_background_change.yml
  tests/sigma_cli_conf.yml
Labels: Rules, 2nd Review Needed, Windows

#4628 New: Detect Creation of Cloudflared Quick Tunnels
  rules/windows/dns_query/dns_query_win_cloudflared_communication.yml
  rules/windows/process_creation/proc_creation_win_cloudflared_portable_execution.yml
  rules/windows/process_creation/proc_creation_win_cloudflared_quicktunnel_execution.yml
  rules/windows/process_creation/proc_creation_win_cloudflared_tunnel_cleanup.yml
  rules/windows/process_creation/proc_creation_win_cloudflared_tunnel_run.yml
  rules/windows/process_creation/proc_creation_win_renamed_cloudflared.yml
Labels: Rules, 2nd Review Needed, Windows

#4635 fix: updated the wrong condition of all
  rules/windows/process_creation/proc_creation_win_schtasks_susp_pattern.yml
Labels: Rules, 2nd Review Needed, Windows

#4536 Add Sysvol Policies Access rules
  rules-threat-hunting/windows/file/file_access/file_access_win_susp_gpo_access_uncommon_process.yml
  rules/windows/file/file_access/file_access_win_susp_gpo_access_file.yml
Labels: Rules, 2nd Review Needed, Windows

#4636 Fix: Enable LM Hash Storage - ProcCreation
  rules/windows/process_creation/proc_creation_win_reg_nolmhash.yml
Labels: Rules, Windows

#4644 fix: missing commandline condition
  rules/windows/process_creation/proc_creation_win_susp_redirect_local_admin_share.yml
Labels: Rules, Windows
