Repository SigmaHQ/sigma, pull requests merged in 2023-05, with the labels that each got.

#4207 Create net_connection_win_winlogon_net_connections.yml
  rules/windows/network_connection/net_connection_win_winlogon_net_connections.yml
Labels: Rules, 2nd Review Needed, Windows

#4213 Proc creation susp curl fileupload modified
  rules/linux/process_creation/proc_creation_lnx_susp_curl_fileupload.yml
  rules/windows/process_creation/proc_creation_win_curl_fileupload.yml
Labels: Rules, Windows, Linux, False-Positive Fix

#4214 feat: add new rules related to coldsteel
  rules-emerging-threats/2023/Malware/COLDSTEEL/README.md
  rules-emerging-threats/2023/Malware/COLDSTEEL/file_event_win_malware_coldsteel_renamed_cmd.yml
  rules-emerging-threats/2023/Malware/COLDSTEEL/file_event_win_malware_coldsteel_service_dll_creation.yml
  rules-emerging-threats/2023/Malware/COLDSTEEL/image_load_malware_coldsteel_persistence_service_dll.yml
  rules-emerging-threats/2023/Malware/COLDSTEEL/proc_creation_win_malware_coldsteel_anonymous_process.yml
  rules-emerging-threats/2023/Malware/COLDSTEEL/proc_creation_win_malware_coldsteel_cleanup.yml
  rules-emerging-threats/2023/Malware/COLDSTEEL/proc_creation_win_malware_coldsteel_service_persistence.yml
  rules-emerging-threats/2023/Malware/COLDSTEEL/registry_set_malware_coldsteel_created_users.yml
  rules-emerging-threats/2023/Malware/COLDSTEEL/win_system_malware_coldsteel_persistence_service.yml
  rules/windows/network_connection/net_connection_win_malware_backconnect_ports.yml
  rules/windows/process_creation/proc_creation_win_browsers_chrome_load_extension.yml
  rules/windows/process_creation/proc_creation_win_browsers_chromium_susp_load_extension.yml
Labels: Rules, Windows, Emerging-Threats

#4212 net_connection_win_google_api_non_browser_access.yml
  rules/windows/network_connection/net_connection_win_google_api_non_browser_access.yml
Labels: Rules, Windows

#4219 Imphash and some minor changes
  rules/windows/create_stream_hash/create_stream_hash_hacktool_download.yml
  rules/windows/driver_load/driver_load_win_process_hacker.yml
  rules/windows/process_creation/proc_creation_win_susp_progname.yml
Labels: Rules, Windows

#4211 refactor: use `'|all'` instead of using `all of` for a single selector.
  deprecated/windows/powershell_suspicious_invocation_specific.yml
  rules/linux/auditd/lnx_auditd_binary_padding.yml
  rules/linux/auditd/lnx_auditd_find_cred_in_files.yml
  rules/windows/builtin/msexchange/win_exchange_proxyshell_mailbox_export.yml
  rules/windows/builtin/system/microsoft_windows_kernel_general/win_system_susp_sam_dump.yml
Labels: Maintenance

#4223 Potential Homoglyph Attack Rules
  rules/windows/file/file_event/file_event_win_susp_homoglyph_filename.yml
  rules/windows/process_creation/proc_creation_win_homoglyph_cyrillic_lookalikes.yml
Labels: Rules, Windows

#4222 feat: new rule related to possible solidpdfcreator.dll sideloading
  rules/windows/image_load/image_load_side_load_solidpdfcreator.yml
Labels: Rules, 2nd Review Needed, Windows

#4225 Create okta_fastpass_phishing_detection.yml
  rules/cloud/okta/okta_fastpass_phishing_detection.yml
Labels: Rules, 2nd Review Needed, Cloud

#4231 feat: new rules related to snake malware
  rules-emerging-threats/2023/Malware/SNAKE/README.md
  rules-emerging-threats/2023/Malware/SNAKE/file_event_win_malware_snake_encrypted_payload_ioc.yml
  rules-emerging-threats/2023/Malware/SNAKE/file_event_win_malware_snake_installers_ioc.yml
  rules-emerging-threats/2023/Malware/SNAKE/file_event_win_malware_snake_werfault_creation.yml
  rules-emerging-threats/2023/Malware/SNAKE/proc_creation_win_malware_snake_installer_cli_args.yml
  rules-emerging-threats/2023/Malware/SNAKE/proc_creation_win_malware_snake_installer_exec.yml
  rules-emerging-threats/2023/Malware/SNAKE/proc_creation_win_malware_snake_service_execution.yml
  rules-emerging-threats/2023/Malware/SNAKE/registry_event_malware_snake_covert_store_key.yml
  rules-emerging-threats/2023/Malware/SNAKE/registry_set_malware_snake_encrypted_key.yml
  rules-emerging-threats/2023/Malware/SNAKE/win_system_malware_snake_persistence_service.yml
  rules-emerging-threats/2023/TA/3CX-Supply-Chain/README.md
  rules/windows/file/file_event/file_event_win_susp_winsxs_binary_creation.yml
  rules/windows/registry/registry_set/registry_set_legalnotice_susp_message.yml
  tests/test_rules.py
Labels: Rules, Windows, Emerging-Threats

#4230 Create image_load_side_load_robform.yml
  rules/windows/image_load/image_load_side_load_robform.yml
Labels: Rules, Windows

#4240 fix: FP with CheckPoint SmartConsole
  rules/windows/image_load/image_load_side_load_from_non_system_location.yml
Labels: Rules, Windows, False-Positive Fix

#4242 feat: updates and new rules
  .github/workflows/known-FPs.csv
  rules-emerging-threats/2021/Malware/Devil-Bait/README.md
  rules-emerging-threats/2021/Malware/Devil-Bait/file_event_win_malware_devil_bait_script_drop.yml
  rules-emerging-threats/2021/Malware/Devil-Bait/proc_creation_win_malware_devil_bait_output_redirect.yml
  rules-emerging-threats/2021/Malware/Devil-Bait/proxy_malware_devil_bait_c2_communication.yml
  rules-emerging-threats/2021/Malware/Goofy-Guineapig/README.md
  rules-emerging-threats/2021/Malware/Goofy-Guineapig/file_event_win_malware_goofy_guineapig_file_indicators.yml
  rules-emerging-threats/2021/Malware/Goofy-Guineapig/proc_creation_win_malware_goofy_guineapig_broken_cmd.yml
  rules-emerging-threats/2021/Malware/Goofy-Guineapig/proc_creation_win_malware_goofy_guineapig_googleupdate_uncommon_child_instance.yml
  rules-emerging-threats/2021/Malware/Goofy-Guineapig/proxy_malware_goofy_gunieapig_c2_communication.yml
  rules-emerging-threats/2021/Malware/Goofy-Guineapig/win_system_malware_goofy_guineapig_service_persistence.yml
  rules-emerging-threats/2022/Malware/Raspberry-Robin/proc_creation_win_malware_raspberry_robin_single_dot_ending_file.yml
  rules-emerging-threats/2023/TA/Mustang-Panda-Australia-Campaign/README.md
  rules-emerging-threats/2023/TA/Mustang-Panda-Australia-Campaign/proc_creation_win_apt_mustang_panda_indicators.yml
  rules-threat-hunting/windows/image_load/image_load_office_excel_xll_load.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_curl_download.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_curl_execution.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_curl_fileupload.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_curl_useragent.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_powershell_abnormal_commandline_size.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_powershell_import_module.yml
  rules/windows/builtin/system/microsoft_windows_eventlog/win_system_eventlog_cleared.yml
  rules/windows/builtin/system/microsoft_windows_eventlog/win_system_susp_eventlog_cleared.yml
  rules/windows/builtin/taskscheduler/win_taskscheduler_lolbin_execution_via_task_scheduler.yml
  rules/windows/file/file_event/file_event_win_sysinternals_livekd_default_dump_name.yml
  rules/windows/file/file_event/file_event_win_sysinternals_livekd_driver.yml
  rules/windows/file/file_event/file_event_win_sysinternals_livekd_driver_susp_creation.yml
  rules/windows/process_creation/proc_creation_win_certutil_encode.yml
  rules/windows/process_creation/proc_creation_win_certutil_encode_susp_extensions.yml
  rules/windows/process_creation/proc_creation_win_certutil_encode_susp_location.yml
  rules/windows/process_creation/proc_creation_win_cmd_redirection_susp_folder.yml
  rules/windows/process_creation/proc_creation_win_curl_susp_download.yml
  rules/windows/process_creation/proc_creation_win_kd_execution.yml
  rules/windows/process_creation/proc_creation_win_mshta_inline_vbscript.yml
  rules/windows/process_creation/proc_creation_win_rundll32_advpack_obfuscated_ordinal_call.yml
  rules/windows/process_creation/proc_creation_win_rundll32_obfuscated_ordinal_call.yml
  rules/windows/process_creation/proc_creation_win_rundll32_process_dump_via_comsvcs.yml
  rules/windows/process_creation/proc_creation_win_rundll32_susp_activity.yml
  rules/windows/process_creation/proc_creation_win_schtasks_susp_pattern.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_livekd_execution.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_livekd_kernel_memory_dump.yml
  rules/windows/process_creation/proc_creation_win_tscon_rdp_redirect.yml
  rules/windows/process_creation/proc_creation_win_wscript_cscript_script_exec.yml
  rules/windows/process_creation/proc_creation_win_wscript_cscript_susp_child_processes.yml
  rules/windows/process_creation/proc_creation_win_wscript_cscript_uncommon_extension_exec.yml
  rules/windows/registry/registry_set/registry_set_internet_explorer_disable_first_run_customize.yml
  rules/windows/registry/registry_set/registry_set_renamed_sysinternals_eula_accepted.yml
Labels: Rules, Windows, False-Positive Fix, Emerging-Threats

#4248 Fix typo on ET Snake malware filter
  rules-emerging-threats/2023/Malware/SNAKE/file_event_win_malware_snake_werfault_creation.yml
Labels: Rules, 2nd Review Needed, Windows

#4247 Update test_logsource.py test_fieldname_case to exclude None type
  tests/test_logsource.py
Labels: Maintenance

#4246 Update proxy_ua_bitsadmin_susp_tld.yml to use proxy field
  rules-emerging-threats/2023/TA/3CX-Supply-Chain/proxy_malware_3cx_compromise_c2_beacon_activity.yml
  rules/web/proxy_generic/proxy_apt40.yml
  rules/web/proxy_generic/proxy_download_susp_dyndns.yml
  rules/web/proxy_generic/proxy_download_susp_tlds_blacklist.yml
  rules/web/proxy_generic/proxy_download_susp_tlds_whitelist.yml
  rules/web/proxy_generic/proxy_telegram_api.yml
  rules/web/proxy_generic/proxy_ua_bitsadmin_susp_tld.yml
Labels: Rules, 2nd Review Needed, Web, Maintenance

#4236 update "Suspicious Export-PfxCertificate" rule
  rules/windows/powershell/powershell_script/posh_ps_export_certificate.yml
  rules/windows/powershell/powershell_script/posh_ps_susp_export_pfxcertificate.yml
  rules/windows/process_creation/proc_creation_win_powershell_export_certificate.yml
Labels: Rules, 2nd Review Needed, Windows

#4249 Create image_load_side_load_wwlib.yml
  rules/windows/image_load/image_load_side_load_wwlib.yml
Labels: Rules, Windows

#4244 New Windows rule: Password Policy Enumerated
  rules/windows/builtin/security/win_security_password_policy_enumerated.yml
Labels: Rules, Windows

#4234 new rule: Certificate Exported
  rules/windows/builtin/capi2/win_capi2_acquire_certificate_private_key.yml
  rules/windows/builtin/certificate_services_client_lifecycle_system/win_certificateservicesclient_lifecycle_system_cert_exported.yml
  tests/logsource.json
  tests/test_rules.py
  tests/thor.yml
Labels: Rules, Windows

#4251 Create rule for using findstr to find plaintext passwords
  rules-threat-hunting/windows/process_creation/proc_creation_win_findstr_password_recon.yml
Labels: Rules, Windows

#4255 fix: fp with goopdate
  rules/windows/image_load/image_load_side_load_goopdate.yml
Labels: Rules, Windows, False-Positive Fix

#4256 fix: FP in prod env
  rules/windows/process_creation/proc_creation_win_googleupdate_susp_child_process.yml
Labels: Rules, False-Positive Fix

#4259 fix: FPs in testing environment
  rules/windows/dns_query/dns_query_win_susp_ldap.yml
  rules/windows/image_load/image_load_dll_vss_ps_susp_load.yml
  rules/windows/process_creation/proc_creation_win_susp_shell_spawn_susp_program.yml
Labels: Rules, Windows, False-Positive Fix

#4264 feat: new rules and updates
  deprecated/windows/proc_creation_win_regsvr32_anomalies.yml
  rules-emerging-threats/2023/Malware/Qakbot/README.md
  rules-emerging-threats/2023/Malware/Qakbot/proc_creation_win_malware_qakbot_regsvr32_calc_pattern.yml
  rules-emerging-threats/2023/Malware/Qakbot/proc_creation_win_malware_qakbot_rundll32_execution.yml
  rules-emerging-threats/2023/Malware/Qakbot/proc_creation_win_malware_qakbot_rundll32_exports.yml
  rules-emerging-threats/2023/Malware/Qakbot/proc_creation_win_malware_qakbot_rundll32_fake_dll_execution.yml
  rules/windows/process_creation/proc_creation_win_lolscript_register_app.yml
  rules/windows/process_creation/proc_creation_win_odbcconf_exec_susp_locations.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_flags_anomaly.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_http_ip_pattern.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_http_pattern.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_network_pattern.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_no_dll.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_registration_via_cscript.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_spawn_explorer.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_susp_child_process.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_susp_exec_path_1.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_susp_exec_path_2.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_susp_extensions.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_susp_parent.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_uncommon_extension.yml
  rules/windows/process_creation/proc_creation_win_wmic_squiblytwo_bypass.yml
  rules/windows/registry/registry_set/registry_set_odbc_driver_registered_susp.yml
Labels: Rules, Windows, Emerging-Threats

#4262 Additions to sigma-schema.rx.yml
  sigma-schema.rx.yml
Labels: Maintenance

#4269 fix: FP with opera
  rules/windows/builtin/firewall_as/win_firewall_as_add_rule_susp_folder.yml
Labels: False-Positive Fix

#4235 New rule: Failed DNS Zone Transfer
  rules/windows/builtin/dns_server/win_dns_server_failed_dns_zone_transfer.yml
Labels: Rules, Windows

#4274 Update proc_creation_win_googleupdate_susp_child_process.yml
  rules/windows/process_creation/proc_creation_win_googleupdate_susp_child_process.yml
Labels: Rules, Windows
