Repository SigmaHQ/sigma, pull requests merged in 2023-02, with the labels that each got.

#4050 feat: add PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 2nd-review-needed

#4049 feat: new rules, updates and fixes
  .github/workflows/known-FPs.csv
  rules-deprecated/windows/file_event_win_mimikatz_memssp_log_file.yml
  rules/windows/file/file_access/file_access_win_browser_credential_stealing.yml
  rules/windows/file/file_access/file_access_win_credential_manager_stealing.yml
  rules/windows/file/file_access/file_access_win_dpapi_master_key_access.yml
  rules/windows/file/file_access/file_access_win_susp_cred_hist_access.yml
  rules/windows/file/file_change/file_change_win_2022_timestomping.yml
  rules/windows/file/file_change/file_change_win_unusual_modification_by_dns_exe.yml
  rules/windows/file/file_delete/file_delete_win_cve_2021_1675_print_nightmare.yml
  rules/windows/file/file_delete/file_delete_win_delete_backup_file.yml
  rules/windows/file/file_delete/file_delete_win_delete_event_log_files.yml
  rules/windows/file/file_delete/file_delete_win_delete_exchange_powershell_logs.yml
  rules/windows/file/file_delete/file_delete_win_delete_iis_access_logs.yml
  rules/windows/file/file_delete/file_delete_win_delete_powershell_command_history.yml
  rules/windows/file/file_delete/file_delete_win_delete_prefetch.yml
  rules/windows/file/file_delete/file_delete_win_delete_teamviewer_logs.yml
  rules/windows/file/file_delete/file_delete_win_delete_tomcat_logs.yml
  rules/windows/file/file_delete/file_delete_win_sysinternals_sdelete_file_deletion.yml
  rules/windows/file/file_delete/file_delete_win_unusual_deletion_by_dns_exe.yml
  rules/windows/file/file_event/file_event_win_anydesk_writing_susp_binaries.yml
  rules/windows/file/file_event/file_event_win_apt_cozy_bear_phishing_campaing_indicators.yml
  rules/windows/file/file_event/file_event_win_apt_unidentified_nov_18.yml
  rules/windows/file/file_event/file_event_win_csharp_compile_artefact.yml
  rules/windows/file/file_event/file_event_win_hktl_dumpert.yml
  rules/windows/file/file_event/file_event_win_hktl_hivenightmare_file_exports.yml
  rules/windows/file/file_event/file_event_win_hktl_inveigh_artefacts.yml
  rules/windows/file/file_event/file_event_win_hktl_mimikatz_files.yml
  rules/windows/file/file_event/file_event_win_hktl_powerup_dllhijacking.yml
  rules/windows/file/file_event/file_event_win_hktl_quarkspw_filedump.yml
  rules/windows/file/file_event/file_event_win_hktl_safetykatz.yml
  rules/windows/file/file_event/file_event_win_malware_pingback_backdoor.yml
  rules/windows/file/file_event/file_event_win_mimikatz_kirbi_file_creation.yml
  rules/windows/file/file_event/file_event_win_persistence_error_handler_cmd.yml
  rules/windows/image_load/image_load_cmstp_load_dll_from_susp_location.yml
  rules/windows/image_load/image_load_dll_comsvcs_load_renamed_version_by_rundll32.yml
  rules/windows/image_load/image_load_dll_dbghelp_dbgcore_susp_load.yml
  rules/windows/image_load/image_load_dll_dbghelp_dbgcore_unsigned_load.yml
  rules/windows/image_load/image_load_dll_sdiageng_load_by_msdt.yml
  rules/windows/image_load/image_load_dll_system_management_automation_susp_load.yml
  rules/windows/image_load/image_load_dll_vss_ps_susp_load.yml
  rules/windows/image_load/image_load_dll_vssapi_susp_load.yml
  rules/windows/image_load/image_load_dll_vsstrace_susp_load.yml
  rules/windows/image_load/image_load_hktl_sharpevtmute.yml
  rules/windows/image_load/image_load_hktl_silenttrinity_stager.yml
  rules/windows/image_load/image_load_malware_foggyweb_nobelium.yml
  rules/windows/image_load/image_load_malware_pingback_backdoor.yml
  rules/windows/image_load/image_load_side_load_vmware_xfer.yml
  rules/windows/image_load/image_load_susp_vss_dll_load.yml
  rules/windows/process_creation/proc_creation_win_apt_cozy_bear_phishing_campaing_indicators.yml
  rules/windows/process_creation/proc_creation_win_apt_unidentified_nov_18.yml
  rules/windows/process_creation/proc_creation_win_hktl_sharpevtmute.yml
  rules/windows/process_creation/proc_creation_win_hktl_silenttrinity_stager.yml
  rules/windows/process_creation/proc_creation_win_malware_pingback_backdoor.yml
  rules/windows/process_creation/proc_creation_win_python_inline_command_execution.yml
  rules/windows/registry/registry_set/registry_set_asep_reg_keys_modification_office.yml
  rules/windows/registry/registry_set/registry_set_persistence_event_viewer_events_asp.yml
  tests/test_rules.py
Labels: review-needed

#4062 fix: One value of imagePath was wrong
  rules/windows/builtin/system/win_system_invoke_obfuscation_clip_services.yml
Labels: 2nd-review-needed

#4068 Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Maintenance

#4069 feat: update workflow and templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/rule_proposal.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/sigma-test.yml
Labels: Maintenance

#4072 fix: FP with empty user and IP address
  rules/windows/builtin/security/win_security_successful_external_remote_smb_login.yml
Labels: Rules, False-Positive Fix

#4070 Update registry_set_wdigest_enable_uselogoncredential.yml
  rules/windows/registry/registry_set/registry_set_wdigest_enable_uselogoncredential.yml
Labels: Rules, Windows

#4075 Added rule (fixed) for CVE-2023-23752 in Joomla
  rules/web/webserver_generic/web_cve_2023_23752_joomla_exploit_attempt.yml
Labels: Rules, Web

#4073 feat: updates and fixes
  rules/web/proxy_generic/proxy_adv_ip_port_scanner_upd_check.yml
  rules/windows/file/file_event/file_event_win_macro_file.yml
  rules/windows/file/file_event/file_event_win_msdt_susp_directories.yml
  rules/windows/file/file_event/file_event_win_net_cli_artefact.yml
  rules/windows/file/file_event/file_event_win_new_files_in_uncommon_appdata_folder.yml
  rules/windows/file/file_event/file_event_win_new_src_file.yml
  rules/windows/file/file_event/file_event_win_notepad_plus_plus_persistence.yml
  rules/windows/file/file_event/file_event_win_ntds_dit.yml
  rules/windows/file/file_event/file_event_win_office_addin_persistence.yml
  rules/windows/file/file_event/file_event_win_office_macro_files_created.yml
  rules/windows/file/file_event/file_event_win_office_macro_files_downloaded.yml
  rules/windows/file/file_event/file_event_win_office_macro_files_from_susp_process.yml
  rules/windows/file/file_event/file_event_win_office_outlook_newform.yml
  rules/windows/file/file_event/file_event_win_office_winword_startup.yml
  rules/windows/file/file_event/file_event_win_outlook_newform.yml
  rules/windows/file/file_event/file_event_win_powershell_startup_shortcuts.yml
  rules/windows/file/file_event/file_event_win_psexec_service_key.yml
  rules/windows/image_load/image_load_dll_system_drawing_load.yml
  rules/windows/image_load/image_load_scrcons_wmi_scripteventconsumer.yml
  rules/windows/image_load/image_load_susp_script_dotnet_clr_dll_load.yml
  rules/windows/image_load/image_load_susp_system_drawing_load.yml
Labels: Rules, Windows

#4076 chore: update pipe-notation rules status to unsupported
  rules-unsupported/dns_query_win_possible_dns_rebinding.yml
  rules-unsupported/image_load_mimikatz_inmemory_detection.yml
  rules-unsupported/posh_ps_cl_invocation_lolscript_count.yml
  rules-unsupported/posh_ps_cl_mutexverifiers_lolscript_count.yml
  rules-unsupported/proc_creation_win_correlation_apt_silence_downloader_v3.yml
  rules-unsupported/proc_creation_win_correlation_apt_turla_commands_medium.yml
  rules-unsupported/proc_creation_win_correlation_dnscat2_powershell_implementation.yml
  rules-unsupported/proc_creation_win_correlation_multiple_susp_cli.yml
  rules-unsupported/proc_creation_win_correlation_susp_builtin_commands_recon.yml
  rules-unsupported/win_security_global_catalog_enumeration.yml
  rules-unsupported/win_security_rare_schtasks_creations.yml
  rules-unsupported/win_security_susp_failed_logons_explicit_credentials.yml
  rules-unsupported/win_security_susp_failed_logons_single_source.yml
  rules-unsupported/win_security_susp_failed_logons_single_source2.yml
  rules-unsupported/win_security_susp_failed_remote_logons_single_source.yml
  rules-unsupported/win_security_susp_multiple_files_renamed_or_deleted.yml
  rules-unsupported/win_security_susp_samr_pwset.yml
  rules-unsupported/win_susp_failed_hidden_share_mount.yml
  rules-unsupported/win_system_rare_service_installs.yml
  rules-unsupported/win_taskscheduler_rare_schtask_creation.yml
Labels: Rules, Review Needed, Maintenance

#4046 feat: added file deletion rule
  rules/windows/process_creation/proc_creation_win_cmd_delete.yml
Labels: Rules, Windows

#4077 Add win_firewall_as_add_rule_susp_folder
  rules/windows/builtin/firewall_as/win_firewall_as_add_rule_susp_folder.yml
Labels: Rules, Work In Progress, Windows

#4074 Create net_dns_socgholish_c2_detection.yml
  rules/windows/dns_query/dns_query_win_malware_socgholish_second_stage_c2.yml
Labels: Rules, Windows
