Repository SigmaHQ/sigma, pull requests merged in 2023-08, with the labels that each got.

#4369 SSM Agent Abuse Rule
  rules/windows/process_creation/proc_creation_win_ssm_agent_abuse.yml
Labels: Rules, 2nd Review Needed, Windows

#4371 Create proc_creation_lnx_ssm_agent_abuse.yml
  rules/linux/process_creation/proc_creation_lnx_ssm_agent_abuse.yml
Labels: Rules, 2nd Review Needed, Linux

#4366 feat: new rules and updates
  rules-threat-hunting/windows/process_creation/proc_creation_win_csc_compilation.yml
  rules/windows/file/file_event/file_event_win_creation_new_shim_database.yml
  rules/windows/image_load/image_load_side_load_avkkid.yml
  rules/windows/image_load/image_load_side_load_eacore.yml
  rules/windows/image_load/image_load_side_load_mfdetours.yml
  rules/windows/image_load/image_load_side_load_vivaldi_elf.yml
  rules/windows/process_creation/proc_creation_win_csc_susp_dynamic_compilation.yml
  rules/windows/process_creation/proc_creation_win_csc_susp_folder.yml
  rules/windows/process_creation/proc_creation_win_csc_susp_parent.yml
  rules/windows/process_creation/proc_creation_win_lolbin_mftrace.yml
  rules/windows/process_creation/proc_creation_win_lolbin_offlinescannershell.yml
  rules/windows/process_creation/proc_creation_win_mftrace_child_process.yml
  rules/windows/process_creation/proc_creation_win_offlinescannershell_mpclient_sideloading.yml
  rules/windows/process_creation/proc_creation_win_sdbinst_shim_persistence.yml
  rules/windows/process_creation/proc_creation_win_sdbinst_susp_extension.yml
  rules/windows/process_creation/proc_creation_win_susp_lolbin_exec_from_non_c_drive.yml
  rules/windows/registry/registry_set/registry_set_persistence_shim_database.yml
  rules/windows/registry/registry_set/registry_set_persistence_shim_database_susp_application.yml
  rules/windows/registry/registry_set/registry_set_persistence_shim_database_uncommon_location.yml
  rules/windows/registry/registry_set/registry_set_telemetry_persistence.yml
Labels: Rules

#4373 Fixing 1 service typo in proc_creation_win_susp_service_tamper.yml
  rules/windows/process_creation/proc_creation_win_susp_service_tamper.yml
Labels: Rules

#4316 Added rules to detect lolbas provlaunch.exe and also filter on legitimate system non-wmiprvse processes loading WMI modules
  rules/windows/image_load/image_load_wmi_module_load.yml
  rules/windows/image_load/image_load_wmi_module_load_by_uncommon_process.yml
  rules/windows/process_creation/proc_creation_win_provlaunch_potential_abuse.yml
  rules/windows/process_creation/proc_creation_win_provlaunch_susp_child_process.yml
  rules/windows/process_creation/proc_creation_win_registry_provlaunch_provisioning_command.yml
  rules/windows/registry/registry_set/registry_set_provisioning_command_abuse.yml
Labels: Rules

#4376 Add portable gpg.exe detection
  rules/windows/process_creation/proc_creation_win_gpg4win_decryption.yml
  rules/windows/process_creation/proc_creation_win_gpg4win_encryption.yml
  rules/windows/process_creation/proc_creation_win_gpg4win_portable_execution.yml
  rules/windows/process_creation/proc_creation_win_gpg4win_susp_location.yml
  rules/windows/process_creation/proc_creation_win_gpg4win_susp_usage.yml
  rules/windows/process_creation/proc_creation_win_renamed_gpg4win.yml
Labels: Rules

#4377 feat: new rules & updates
  deprecated/windows/pipe_created_psexec_pipes_artifacts.yml
  rules-emerging-threats/2017/TA/Turla/pipe_created_apt_turla_named_pipes.yml
  rules/windows/builtin/security/win_security_mal_creddumper.yml
  rules/windows/builtin/system/service_control_manager/win_system_defender_disabled.yml
  rules/windows/builtin/system/service_control_manager/win_system_mal_creddumper.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_install_csexecsvc.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_install_hacktools.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_install_remcom.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_install_sliver.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_install_sysinternals_psexec.yml
  rules/windows/driver_load/driver_load_win_mal_creddumper.yml
  rules/windows/file/file_event/file_event_win_cred_dump_tools_dropped_files.yml
  rules/windows/file/file_event/file_event_win_csexec_service.yml
  rules/windows/file/file_event/file_event_win_remcom_service.yml
  rules/windows/file/file_event/file_event_win_sysinternals_psexec_service.yml
  rules/windows/image_load/image_load_side_load_windows_defender.yml
  rules/windows/pipe_created/pipe_created_csexec_default_pipe.yml
  rules/windows/pipe_created/pipe_created_hktl_cobaltstrike.yml
  rules/windows/pipe_created/pipe_created_hktl_cobaltstrike_re.yml
  rules/windows/pipe_created/pipe_created_hktl_cobaltstrike_susp_pipe_patterns.yml
  rules/windows/pipe_created/pipe_created_hktl_diagtrack_eop.yml
  rules/windows/pipe_created/pipe_created_hktl_efspotato.yml
  rules/windows/pipe_created/pipe_created_hktl_generic_cred_dump_tools_pipes.yml
  rules/windows/pipe_created/pipe_created_hktl_koh_default_pipe.yml
  rules/windows/pipe_created/pipe_created_mal_namedpipes.yml
  rules/windows/pipe_created/pipe_created_powershell_alternate_host_pipe.yml
  rules/windows/pipe_created/pipe_created_remcom_default_pipe.yml
  rules/windows/pipe_created/pipe_created_scrcons_wmi_consumer_namedpipe.yml
  rules/windows/pipe_created/pipe_created_sysinternals_psexec_default_pipe.yml
  rules/windows/pipe_created/pipe_created_sysinternals_psexec_default_pipe_susp_location.yml
  rules/windows/process_creation/proc_creation_win_mpcmdrun_dll_sideload_defender.yml
  rules/windows/process_creation/proc_creation_win_vsdiagnostics_execution_proxy.yml
Labels: Rules

#4378 Create azure_identity_protectection_anomalous_token.yml
  rules/cloud/azure/identity_protection/azure_identity_protectection_anomalous_token.yml
  tests/logsource.json
Labels: Rules, Cloud

#4379 Added two new lolbas rules and slight modifications on existing rules
  rules/windows/process_creation/proc_creation_win_lolbin_ftp.yml
  rules/windows/registry/registry_set/registry_set_persistence_office_vsto.yml
Labels: Rules

#4367 JSON schema for Sigma specification
  .github/workflows/sigma-validation.yml
  rules-emerging-threats/2021/Malware/Pingback/proc_creation_win_malware_pingback_backdoor.yml
  rules/windows/file/file_event/file_event_win_winrm_awl_bypass.yml
  tests/validate-sigma-schema/sigma-schema.json
  tests/validate-sigma-schema/validate.sh
Labels: 2nd Review Needed, Maintenance

#4382 feat: new rules and updates
  .github/workflows/known-FPs.csv
  deprecated/windows/posh_ps_cl_invocation_lolscript.yml
  deprecated/windows/posh_ps_cl_mutexverifiers_lolscript.yml
  rules/windows/builtin/appxdeployment_server/win_appxdeployment_server_susp_domains.yml
  rules/windows/builtin/bits_client/win_bits_client_new_transfer_via_file_sharing_domains.yml
  rules/windows/create_stream_hash/create_stream_hash_file_sharing_domains_download_susp_extension.yml
  rules/windows/create_stream_hash/create_stream_hash_file_sharing_domains_download_unusual_extension.yml
  rules/windows/file/file_event/file_event_win_aspnet_temp_files.yml
  rules/windows/image_load/image_load_side_load_mfdetours_unsigned.yml
  rules/windows/network_connection/net_connection_win_binary_susp_com.yml
  rules/windows/network_connection/net_connection_win_dead_drop_resolvers.yml
  rules/windows/powershell/powershell_script/posh_ps_cl_invocation_lolscript.yml
  rules/windows/process_creation/proc_creation_win_agentexecutor_potential_abuse.yml
  rules/windows/process_creation/proc_creation_win_agentexecutor_susp_usage.yml
  rules/windows/process_creation/proc_creation_win_aspnet_compiler_exectuion.yml
  rules/windows/process_creation/proc_creation_win_aspnet_compiler_susp_child_process.yml
  rules/windows/process_creation/proc_creation_win_aspnet_compiler_susp_paths.yml
  rules/windows/process_creation/proc_creation_win_bash_command_execution.yml
  rules/windows/process_creation/proc_creation_win_bash_file_execution.yml
  rules/windows/process_creation/proc_creation_win_bginfo_suspicious_child_process.yml
  rules/windows/process_creation/proc_creation_win_bginfo_uncommon_child_process.yml
  rules/windows/process_creation/proc_creation_win_bitsadmin_download_file_sharing_domains.yml
  rules/windows/process_creation/proc_creation_win_certutil_download_file_sharing_domains.yml
  rules/windows/process_creation/proc_creation_win_curl_download_susp_file_sharing_domains.yml
  rules/windows/process_creation/proc_creation_win_lolbin_aspnet_compiler.yml
  rules/windows/process_creation/proc_creation_win_lolbin_bash.yml
  rules/windows/process_creation/proc_creation_win_lolbin_cl_loadassembly.yml
  rules/windows/process_creation/proc_creation_win_lolbin_cl_mutexverifiers.yml
  rules/windows/process_creation/proc_creation_win_lolbin_customshellhost.yml
  rules/windows/process_creation/proc_creation_win_powershell_cl_invocation.yml
  rules/windows/process_creation/proc_creation_win_powershell_cl_loadassembly.yml
  rules/windows/process_creation/proc_creation_win_powershell_cl_mutexverifiers.yml
  rules/windows/process_creation/proc_creation_win_wget_download_susp_file_sharing_domains.yml
  rules/windows/process_creation/proc_creation_win_wsl_child_processes_anomalies.yml
  rules/windows/registry/registry_set/registry_set_bginfo_custom_db.yml
  rules/windows/registry/registry_set/registry_set_bginfo_custom_vbscript.yml
  rules/windows/registry/registry_set/registry_set_bginfo_custom_wmi_query.yml
Labels: Rules, Windows

#4374 Added search(-ms)/WebDAV rules
  rules-threat-hunting/windows/file/file_event/file_event_win_webdav_tmpfile_creation.yml
  rules/web/proxy_generic/proxy_webdav_search_ms.yml
  rules/windows/process_creation/proc_creation_win_webdav_lnk_execution.yml
Labels: Rules, Windows

#4055 Create proc_creation_macos_enable_root_account.yml
  rules/macos/process_creation/proc_creation_macos_dsenableroot_enable_root_account.yml
Labels: Rules, 2nd Review Needed, MacOS

#4300 Create proc_creation_macos_usage_of_jamf.yml
  rules/macos/process_creation/proc_creation_macos_jamf_susp_child.yml
  rules/macos/process_creation/proc_creation_macos_jamf_usage.yml
Labels: Rules, MacOS

#4365 Update lnx_auditd_masquerading_crond.yml
  rules/linux/auditd/lnx_auditd_masquerading_crond.yml
Labels: Rules, Linux

#4127 Create proc_creation_macos_in-memory_payload_transfer.yml
  rules/macos/process_creation/proc_creation_macos_susp_in_memory_download_and_compile.yml
Labels: Rules, 2nd Review Needed, MacOS

#4155 Update proc_creation_macos_add_to_admin_group.yml
  rules-deprecated/macos/proc_creation_macos_add_to_admin_group.yml
  rules/macos/process_creation/proc_creation_macos_dscl_add_user_to_admin_group.yml
  rules/macos/process_creation/proc_creation_macos_dseditgroup_add_to_admin_group.yml
  rules/macos/process_creation/proc_creation_macos_sysadminctl_add_user_to_admin_group.yml
Labels: Rules, 2nd Review Needed, MacOS

#4386 Update PULL_REQUEST_TEMPLATE.md - add changelog instead of detailed desc
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Maintenance

#4325 Add alterix to Projects or Products that use Sigma
  README.md
Labels: Maintenance

#4384 Create azure_identity_protectection_anomalous_ip_address.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_anonymous_ip_address.yml
Labels: Rules, Cloud

#4388 Added ART Test to proc_creation_win_cmdkey_recon.yml
  rules/windows/process_creation/proc_creation_win_cmdkey_recon.yml
Labels: Rules, Windows, Documentation

#4294 Permiso p0-LUCR-1 (aka GUI-vil)
  rules/cloud/aws/aws_iam_s3browser_templated_s3_bucket_policy_creation.yml
Labels: Rules, 2nd Review Needed, Cloud

#4390 feat: add/update rules related to CVE-2023-36874
  rules-emerging-threats/2023/Exploits/CVE-2023-36874/file_event_win_exploit_cve_2023_34362_report_creation.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36874/file_event_win_exploit_cve_2023_34362_wermgr_creation.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36874/proc_creation_win_exploit_cve_2023_34362_fake_wermgr.yml
  rules/windows/file/file_event/file_event_win_new_src_file.yml
  rules/windows/process_creation/proc_creation_win_renamed_binary_highly_relevant.yml
  rules/windows/process_creation/proc_creation_win_wermgr_susp_child_process.yml
  rules/windows/process_creation/proc_creation_win_wermgr_susp_exec_location.yml
Labels: Rules, Windows, Emerging-Threats

#4380 Lnx container discovery
  rules/linux/process_creation/proc_creation_lnx_susp_container_residence_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_susp_dockerenv_recon.yml
  rules/linux/process_creation/proc_creation_lnx_susp_inod_listing.yml
Labels: Rules, 2nd Review Needed, Linux

#4397 Update proc_creation_win_taskkill_execution.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_taskkill_execution.yml
Labels: Rules, 2nd Review Needed, Windows

#4408 Qakbot uninstaller
  rules-emerging-threats/2023/Malware/Qakbot/README.md
  rules-emerging-threats/2023/Malware/Qakbot/proc_creation_win_malware_qakbot_uninstaller_cleanup.yml
Labels: Rules, Windows, Emerging-Threats
