Repository SigmaHQ/sigma, pull requests merged in 2023-07, with the labels that each got.

#4340 fix: FPs found in testing env
  rules/windows/builtin/application/Other/win_av_relevant_match.yml
  rules/windows/process_creation/proc_creation_win_susp_elevated_system_shell.yml
  rules/windows/process_creation/proc_creation_win_susp_ntfs_short_name_use_image.yml
Labels: Rules, Windows

#4343 Add proc_creation_win_findstr_susp_parent
  rules/windows/process_creation/proc_creation_win_findstr_susp_parent.yml
Labels: Rules, Windows

#4345 Update posh_ps_get_adcomputer
  rules/windows/powershell/powershell_script/posh_ps_get_adcomputer.yml
Labels: Rules, Windows

#4328 feat: new rules & updates
  deprecated/windows/proc_creation_win_lolbin_office.yml
  deprecated/windows/registry_set_disable_microsoft_office_security_features.yml
  deprecated/windows/registry_set_office_security.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-40444/file_event_win_exploit_cve_2021_40444.yml
  rules-threat-hunting/windows/registry/registry_set/registry_set_office_trusted_location.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_attempted_dll_load.yml
  rules/windows/builtin/security/win_security_disable_event_auditing.yml
  rules/windows/builtin/security/win_security_disable_event_auditing_critical.yml
  rules/windows/builtin/security/win_security_disable_event_logging.yml
  rules/windows/file/file_event/file_event_win_office_startup_persistence.yml
  rules/windows/file/file_event/file_event_win_office_susp_file_extension.yml
  rules/windows/file/file_event/file_event_win_office_uncommon_file_startup.yml
  rules/windows/file/file_event/file_event_win_office_winword_startup.yml
  rules/windows/file/file_event/file_event_win_susp_legitimate_app_dropping_archive.yml
  rules/windows/file/file_event/file_event_win_susp_legitimate_app_dropping_exe.yml
  rules/windows/file/file_event/file_event_win_susp_legitimate_app_dropping_script.yml
  rules/windows/file/file_event/file_event_win_word_template_creation.yml
  rules/windows/image_load/image_load_side_load_appverifui.yml
  rules/windows/image_load/image_load_side_load_shelldispatch.yml
  rules/windows/powershell/powershell_classic/posh_pc_tamper_windows_defender_set_mp.yml
  rules/windows/powershell/powershell_script/posh_ps_accessing_win_api.yml
  rules/windows/powershell/powershell_script/posh_ps_malicious_keywords.yml
  rules/windows/powershell/powershell_script/posh_ps_tamper_windows_defender_set_mp.yml
  rules/windows/process_creation/proc_creation_win_adplus_memory_dump.yml
  rules/windows/process_creation/proc_creation_win_lodctr_performance_counter_tampering.yml
  rules/windows/process_creation/proc_creation_win_office_arbitrary_cli_download.yml
  rules/windows/process_creation/proc_creation_win_office_exec_from_trusted_locations.yml
  rules/windows/process_creation/proc_creation_win_pktmon_execution.yml
  rules/windows/process_creation/proc_creation_win_regasm_suspicious_execution.yml
  rules/windows/process_creation/proc_creation_win_rundll32_installscreensaver.yml
  rules/windows/process_creation/proc_creation_win_rundll32_shelldispatch_potential_abuse.yml
  rules/windows/process_creation/proc_creation_win_susp_script_exec_from_env_folder.yml
  rules/windows/process_creation/proc_creation_win_tpmvscmgr_add_virtual_smartcard.yml
  rules/windows/process_creation/proc_creation_win_vmware_vmtoolsd_susp_child_process.yml
  rules/windows/process_creation/proc_creation_win_wscript_cscript_uncommon_extension_exec.yml
  rules/windows/registry/registry_event/registry_event_office_trust_record_modification.yml
  rules/windows/registry/registry_set/registry_set_office_access_vbom_tamper.yml
  rules/windows/registry/registry_set/registry_set_office_disable_protected_view_features.yml
  rules/windows/registry/registry_set/registry_set_office_trust_record_susp_location.yml
  rules/windows/registry/registry_set/registry_set_office_trusted_location_uncommon.yml
  rules/windows/registry/registry_set/registry_set_office_vba_warnings_tamper.yml
  rules/windows/registry/registry_set/registry_set_powershell_in_run_keys.yml
Labels: Rules, Windows

#4342 fix: FP found in-the-wild
  rules/windows/create_remote_thread/create_remote_thread_win_uncommon_target_image.yml
Labels: Rules, Windows, False-Positive Fix

#4295 Permiso p0-LUCR-1 (aka GUI-vil)
  rules/cloud/aws/aws_iam_s3browser_user_or_accesskey_creation.yml
Labels: Rules, Cloud

#4337 fix: FP found in-the-wild
  rules/windows/create_remote_thread/create_remote_thread_win_uncommon_target_image.yml
Labels: Rules, Windows, False-Positive Fix

#4339 Add posh_ps_reg_query_registry
  rules-threat-hunting/windows/powershell/powershell_script/posh_ps_registry_reconnaissance.yml
Labels: Rules, Windows

#4344 Redcannary t1070 008
  rules-threat-hunting/windows/powershell/powershell_script/posh_ps_mailbox_access.yml
Labels: Rules, Windows

#4293 Permiso p0-LUCR-1 (aka GUI-vil)
  rules/cloud/aws/aws_iam_s3browser_loginprofile_creation.yml
Labels: Rules, Cloud

#4336 Create posh_pm_susp_netfirewallrule_reco.yml
  rules-threat-hunting/windows/powershell/powershell_module/posh_pm_susp_netfirewallrule_recon.yml
Labels: Rules, 2nd Review Needed, Windows

#4346 feat: new rules related to CVE-2023-36884
  rules-emerging-threats/2023/Exploits/CVE-2023-36884/file_event_win_exploit_cve_2023_36884_office_windows_html_rce_file_patterns.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36884/proxy_exploit_cve_2023_36884_office_windows_html_rce.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36884/proxy_exploit_cve_2023_36884_office_windows_html_rce_extenstion_ip_pattern_traffic.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36884/proxy_exploit_cve_2023_36884_office_windows_html_rce_traffic.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36884/proxy_exploit_cve_2023_36884_office_windows_html_rce_url_marker_traffic.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36884/win_security_exploit_cve_2023_36884_office_windows_html_rce_share_access_pattern.yml
  rules/windows/network_connection/net_connection_win_office_susp_ports.yml
Labels: Rules, Windows, Emerging-Threats

#4347 Update README.md
  README.md
Labels: Maintenance

#4352 Add posh_ps_set_acl
  rules/windows/powershell/powershell_script/posh_ps_set_acl.yml
  rules/windows/powershell/powershell_script/posh_ps_set_acl_susp_location.yml
  rules/windows/process_creation/proc_creation_win_powershell_set_acl.yml
  rules/windows/process_creation/proc_creation_win_powershell_set_acl_susp_location.yml
Labels: Rules, Windows

#4354 Add Sysmon 28-29 rules
  rules/windows/sysmon/sysmon_file_block_shredding.yml
  rules/windows/sysmon/sysmon_file_executable.yml
Labels: Rules, Windows

#4358 Add file_event_win_susp_windows_terminal_profile
  rules/windows/file/file_event/file_event_win_susp_windows_terminal_profile.yml
Labels: Rules, Windows

#4357 Hunting smb quic rules
  rules-threat-hunting/windows/powershell/powershell_script/posh_ps_new_smbmapping_quic.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_net_quic.yml
Labels: Rules, Windows
