Repository SigmaHQ/sigma, pull requests merged in 2023-10, with the labels that each got.

#4452 AddinUtil LOLBAS Detections
  rules/windows/network_connection/net_connection_win_addinutil.yml
  rules/windows/process_creation/proc_creation_win_addinutil_suspicious_cmdline.yml
  rules/windows/process_creation/proc_creation_win_addinutil_uncommon_child_process.yml
  rules/windows/process_creation/proc_creation_win_addinutil_uncommon_cmdline.yml
  rules/windows/process_creation/proc_creation_win_addinutil_uncommon_dir_exec.yml
Labels: Rules, Windows

#4467 ScreenConnect rules
  rules/windows/builtin/application/screenconnect/win_app_remote_access_tools_screenconnect_command_exec.yml
  rules/windows/builtin/application/screenconnect/win_app_remote_access_tools_screenconnect_file_transfer.yml
  rules/windows/file/file_event/file_event_win_remote_access_tools_screenconnect_remote_file.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_screenconnect_remote_exec.yml
Labels: Rules, Windows

#4469 chore: add workflows, scripts and documentation for release packages
  .github/workflows/release.yml
  Releases.md
  tests/sigma-package-release.py
Labels: Maintenance

#4470 fix: FPs found in testing environment
  rules-emerging-threats/2023/Exploits/CVE-2023-36874/file_event_win_exploit_cve_2023_36874_wermgr_creation.yml
  rules/windows/builtin/security/win_security_susp_lsass_dump_generic.yml
  rules/windows/file/file_event/file_event_win_creation_system_file.yml
  rules/windows/process_creation/proc_creation_win_rundll32_executable_invalid_extension.yml
  rules/windows/process_creation/proc_creation_win_sdbinst_susp_extension.yml
Labels: Rules, False-Positive Fix

#4472 Disable Hypervisor-Protected Code Integrity
  rules/windows/registry/registry_set/registry_set_deviceguard_hypervisorenforcedcodeintegrity_disabled.yml
Labels: Rules, Windows

#4387 Br4dy5 patch 0
  rules/windows/builtin/system/microsoft_windows_kerberos_key_distribution_center/win_system_kdcsvc_cert_use_no_strong_mapping.yml
Labels: Rules, Windows

#4239 Add rule: rules/windows/file/file_event/file_event_win_cve_2023_27363…
  rules-emerging-threats/2023/Exploits/CVE-2023-27363/file_event_win_cve_2023_27363_foxit_rce.yml
Labels: Rules, Windows, Emerging-Threats

#4399 Create file_event_win_create_hidden_directory_via_index_allocation.yml
  rules/windows/file/file_event/file_event_win_susp_hidden_dir_index_allocation.yml
  rules/windows/process_creation/proc_creation_win_susp_hidden_dir_index_allocation.yml
Labels: Rules, Windows

#4267 Add new 2 rules for BlueSky Ransomware and MSSQL Logon Fail
  rules-emerging-threats/2022/Malware/BlueSky-Ransomware/win_security_malware_bluesky_ransomware_files_indicators.yml
  rules/windows/builtin/application/mssqlserver/win_mssql_failed_logon.yml
  rules/windows/builtin/application/mssqlserver/win_mssql_failed_logon_from_external_network.yml
Labels: Rules, Windows

#4209 Create microsoft365_susp_email_forwarding.yml
  rules-threat-hunting/cloud/m365/microsoft365_susp_email_forwarding_activity.yml
Labels: Rules, 2nd Review Needed, Cloud

#4476 fix: FPs found in testing env
  rules/windows/builtin/security/win_security_susp_lsass_dump_generic.yml
  rules/windows/file/file_event/file_event_win_susp_hidden_dir_index_allocation.yml
  rules/windows/process_access/proc_access_win_direct_syscall_ntopenprocess.yml
  rules/windows/process_creation/proc_creation_win_control_panel_item.yml
  rules/windows/process_creation/proc_creation_win_rundll32_executable_invalid_extension.yml
  rules/windows/process_creation/proc_creation_win_schtasks_system.yml
  rules/windows/process_creation/proc_creation_win_susp_elevated_system_shell.yml
  rules/windows/process_creation/proc_creation_win_susp_hidden_dir_index_allocation.yml
  rules/windows/process_creation/proc_creation_win_susp_non_exe_image.yml
Labels: Rules, False-Positive Fix

#4480 chore: Update level information for emerging-threats rules
  rules-emerging-threats/2021/Exploits/CVE-2021-1675/win_exploit_cve_2021_1675_printspooler.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-1675/win_security_exploit_cve_2021_1675_printspooler_security.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-44077/file_event_win_cve_2021_44077_poc_default_files.yml
  rules-emerging-threats/2021/Exploits/win_exchange_cve_2021_42321.yml
  rules-emerging-threats/2021/Exploits/win_vul_cve_2021_41379.yml
  rules-emerging-threats/2022/Exploits/CVE-2022-24527/file_event_win_cve_2022_24527_lpe.yml
  rules-emerging-threats/2022/Malware/Bumblebee/create_remote_thread_win_malware_bumblebee.yml
  rules-emerging-threats/2022/Malware/Hermetic-Wiper/proc_creation_win_malware_hermetic_wiper_activity.yml
  rules-emerging-threats/2022/Malware/win_mssql_sp_maggie.yml
Labels: Rules, Maintenance

#4453 Update file_event_win_webshell_creation_detect.yml
  rules/windows/file/file_event/file_event_win_webshell_creation_detect.yml
Labels: Rules, Web

#4481 New Rules for AutoIt3.exe behaving in a way matching the DG infection chain
  rules-emerging-threats/2023/Malware/DarkGate/README.md
  rules-emerging-threats/2023/Malware/DarkGate/file_event_win_malware_darkgate_autoit3_binary_creation.yml
  rules-emerging-threats/2023/Malware/DarkGate/proc_creation_win_malware_darkgate_autoit3_from_susp_parent_and_location.yml
  rules-emerging-threats/2023/Malware/DarkGate/proc_creation_win_malware_darkgate_net_user_creation.yml
Labels: Rules, Windows, Emerging-Threats

#4484 FP fixes
  rules/windows/process_access/proc_access_win_direct_syscall_ntopenprocess.yml
  rules/windows/process_access/proc_access_win_shellcode_inject_msf_empire.yml
  rules/windows/process_creation/proc_creation_win_sdbinst_susp_extension.yml
Labels: Rules, Windows, False-Positive Fix

#4413 Added detection rule for DllRegisterServer export function load
  rules-threat-hunting/windows/process_creation/proc_creation_win_regsvr32_dllregisterserver_exec.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_rundll32_dllregisterserver.yml
Labels: Rules, Windows

#4488 Create registry_event_to_turn_on_script_execution.yml
  rules/windows/registry/registry_set/registry_set_powershell_enablescripts_enabled.yml
  rules/windows/registry/registry_set/registry_set_powershell_execution_policy.yml
Labels: Rules, Windows

#4490 FP fixes
  rules-emerging-threats/2022/Exploits/CVE-2022-41120/proc_creation_win_exploit_cve_2022_41120_sysmon_eop.yml
  rules/windows/process_creation/proc_creation_win_susp_system_exe_anomaly.yml
Labels: Rules, Windows, Emerging-Threats

#4493 Added a rule which detects manual dumping of LSASS.exe memory using Taskmgr
  rules/windows/file/file_event/file_event_win_taskmgr_lsass_dump.yml
Labels: Rules, Windows

#4491 Rule Updates & Fixes
  .yamllint
  rules-emerging-threats/2023/TA/Lazarus/README.md
  rules-emerging-threats/2023/TA/Lazarus/image_load_apt_lazarus_side_load_activity.yml
  rules/windows/create_remote_thread/create_remote_thread_win_uncommon_source_image.yml
  rules/windows/create_remote_thread/create_remote_thread_win_uncommon_target_image.yml
  rules/windows/file/file_delete/file_delete_win_zone_identifier_ads_uncommon.yml
  rules/windows/file/file_event/file_event_win_adsi_cache_creation_by_uncommon_tool.yml
  rules/windows/file/file_event/file_event_win_creation_system_file.yml
  rules/windows/file/file_event/file_event_win_powershell_module_uncommon_creation.yml
  rules/windows/file/file_event/file_event_win_ps_script_policy_test_creation_by_uncommon_process.yml
  rules/windows/file/file_event/file_event_win_susp_adsi_cache_usage.yml
  rules/windows/file/file_event/file_event_win_susp_lnk_double_extension.yml
  rules/windows/file/file_event/file_event_win_susp_powershell_profile.yml
  rules/windows/pipe_created/pipe_created_powershell_alternate_host_pipe.yml
  rules/windows/process_creation/proc_creation_win_certoc_download.yml
  rules/windows/process_creation/proc_creation_win_certoc_download_direct_ip.yml
  rules/windows/process_creation/proc_creation_win_certutil_download_direct_ip.yml
  rules/windows/process_creation/proc_creation_win_curl_download_direct_ip_exec.yml
  rules/windows/process_creation/proc_creation_win_curl_download_direct_ip_susp_extensions.yml
  rules/windows/process_creation/proc_creation_win_desktopimgdownldr_remote_file_download.yml
  rules/windows/process_creation/proc_creation_win_gfxdownloadwrapper_arbitrary_file_download.yml
  rules/windows/process_creation/proc_creation_win_office_exec_from_trusted_locations.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_susp_psexec_paexec_flags.yml
  tests/test_rules.py
Labels: Rules, 2nd Review Needed, Windows, Maintenance

#4494 Add CVE-2023-43261 Detection
  rules-emerging-threats/2023/Exploits/CVE-2023-43261/proxy_cve_2023_43261_milesight_information_disclosure.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-43261/web_cve_2023_43261_milesight_information_disclosure.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#4500 chore: clarify latest release location in release message
  .github/workflows/release.yml
  .github/workflows/sigma-test.yml
Labels: Maintenance

#4511 chore: add missing detection.threat_hunting tag
  rules-threat-hunting/windows/file/file_delete/file_delete_win_zone_identifier_ads.yml
  rules-threat-hunting/windows/file/file_event/file_event_win_susp_binary_dropper.yml
  rules-threat-hunting/windows/file/file_event/file_event_win_webdav_tmpfile_creation.yml
  rules-threat-hunting/windows/pipe_created/pipe_created_sysinternals_psexec_default_pipe.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_csc_compilation.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_compression_params.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_file_permission_modifications.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_taskkill_execution.yml
Labels: Rules, Windows

#4512 chore: add missing tag detection.emerging_threats
  rules-emerging-threats/2017/Malware/StoneDrill/win_system_apt_stonedrill.yml
  rules-emerging-threats/2017/TA/Turla/pipe_created_apt_turla_named_pipes.yml
  rules-emerging-threats/2017/TA/Turla/win_system_apt_carbonpaper_turla.yml
  rules-emerging-threats/2017/TA/Turla/win_system_apt_turla_service_png.yml
  rules-emerging-threats/2020/Exploits/CVE-2020-0688/win_vul_cve_2020_0688.yml
  rules-emerging-threats/2020/TA/GALLIUM/win_dns_analytic_apt_gallium.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-1675/file_event_win_cve_2021_1675_printspooler.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-26858/file_event_win_cve_2021_26858_msexchange.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-40444/file_event_win_exploit_cve_2021_40444.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-41379/file_event_win_cve_2021_41379_msi_lpe.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-41379/win_vul_cve_2021_41379.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-44077/file_event_win_cve_2021_44077_poc_default_files.yml
  rules-emerging-threats/2021/Exploits/file_event_win_cve_2021_31979_cve_2021_33771_exploits.yml
  rules-emerging-threats/2021/Exploits/win_exchange_cve_2021_42321.yml
  rules-emerging-threats/2022/Exploits/CVE-2022-24527/file_event_win_cve_2022_24527_lpe.yml
  rules-emerging-threats/2022/Malware/BlueSky-Ransomware/win_security_malware_bluesky_ransomware_files_indicators.yml
  rules-emerging-threats/2022/Malware/win_mssql_sp_maggie.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-20198/cisco_syslog_cve_2023_20198_ios_xe_web_ui.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-27363/file_event_win_cve_2023_27363_foxit_rce.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-27997/web_cve_2023_27997_pre_authentication_rce.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36884/file_event_win_exploit_cve_2023_36884_office_windows_html_rce_file_patterns.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36884/proxy_exploit_cve_2023_36884_office_windows_html_rce.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36884/proxy_exploit_cve_2023_36884_office_windows_html_rce_extenstion_ip_pattern_traffic.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36884/proxy_exploit_cve_2023_36884_office_windows_html_rce_traffic.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36884/proxy_exploit_cve_2023_36884_office_windows_html_rce_url_marker_traffic.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-36884/win_security_exploit_cve_2023_36884_office_windows_html_rce_share_access_pattern.yml
  rules-emerging-threats/2023/Exploits/win_msmq_corrupted_packet.yml
  rules-emerging-threats/2023/Malware/DarkGate/file_event_win_malware_darkgate_autoit3_binary_creation.yml
  rules-emerging-threats/2023/Malware/DarkGate/proc_creation_win_malware_darkgate_autoit3_from_susp_parent_and_location.yml
  rules-emerging-threats/2023/Malware/DarkGate/proc_creation_win_malware_darkgate_net_user_creation.yml
  rules-emerging-threats/2023/Malware/dns_query_win_malware_socgholish_second_stage_c2.yml
Labels: Rules, Emerging-Threats

#4508 Update Linux Rules
  rules/linux/process_creation/proc_creation_lnx_hack_tools.yml
  rules/linux/process_creation/proc_creation_lnx_network_service_scanning.yml
  rules/linux/process_creation/proc_creation_lnx_susp_hktl_execution.yml
  rules/linux/process_creation/proc_creation_lnx_susp_network_utilities_execution.yml
Labels: Rules, 2nd Review Needed, Linux

#4498 Security Software Discovery by Powershell rule updated
  rules/windows/powershell/powershell_script/posh_ps_get_process_security_software_discovery.yml
  rules/windows/powershell/powershell_script/posh_ps_security_software_discovery.yml
Labels: Rules, 2nd Review Needed, Windows

#4519 update: use original `Data` field instead of specific PowerShell Classic log's extracted field
  rules/windows/powershell/powershell_classic/posh_pc_abuse_nslookup_with_dns_records.yml
  rules/windows/powershell/powershell_classic/posh_pc_alternate_powershell_hosts.yml
  rules/windows/powershell/powershell_classic/posh_pc_delete_volume_shadow_copies.yml
  rules/windows/powershell/powershell_classic/posh_pc_downgrade_attack.yml
  rules/windows/powershell/powershell_classic/posh_pc_exe_calling_ps.yml
  rules/windows/powershell/powershell_classic/posh_pc_powercat.yml
  rules/windows/powershell/powershell_classic/posh_pc_remote_powershell_session.yml
  rules/windows/powershell/powershell_classic/posh_pc_renamed_powershell.yml
  rules/windows/powershell/powershell_classic/posh_pc_susp_download.yml
  rules/windows/powershell/powershell_classic/posh_pc_susp_get_nettcpconnection.yml
  rules/windows/powershell/powershell_classic/posh_pc_susp_zip_compress.yml
  rules/windows/powershell/powershell_classic/posh_pc_tamper_windows_defender_set_mp.yml
  rules/windows/powershell/powershell_classic/posh_pc_wsman_com_provider_no_powershell.yml
  rules/windows/powershell/powershell_classic/posh_pc_xor_commandline.yml
Labels: Rules, 2nd Review Needed, Windows

#4509 OKTA support compromise related hunting queries.
  rules-emerging-threats/2023/TA/Okta-Support-System-Breach/README.md
  rules-emerging-threats/2023/TA/Okta-Support-System-Breach/okta_apt_suspicious_user_creation.yml
  rules-threat-hunting/cloud/okta/okta_password_health_report_query.yml
  rules/cloud/okta/okta_admin_activity_from_proxy_query.yml
  rules/cloud/okta/okta_new_behaviours_admin_console.yml
  rules/cloud/okta/okta_password_in_alternateid_field.yml
  rules/cloud/okta/okta_user_created.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#4496 Fix Issue 4495
  rules/windows/process_creation/proc_creation_win_findstr_recon_pipe_output.yml
  rules/windows/process_creation/proc_creation_win_findstr_security_keyword_lookup.yml
  rules/windows/process_creation/proc_creation_win_findstr_susp_parent.yml
Labels: Rules, 2nd Review Needed, Windows

#4505 Onyx & Diamond Sleet APT AExploitation Activity
  rules-emerging-threats/2023/TA/3CX-Supply-Chain/README.md
  rules-emerging-threats/2023/TA/Diamond-Sleet/README.md
  rules-emerging-threats/2023/TA/Diamond-Sleet/dns_query_win_apt_diamond_steel_indicators.yml
  rules-emerging-threats/2023/TA/Diamond-Sleet/file_event_win_apt_diamond_sleet_indicators.yml
  rules-emerging-threats/2023/TA/Diamond-Sleet/image_load_apt_diamond_sleet_side_load.yml
  rules-emerging-threats/2023/TA/Diamond-Sleet/proc_creation_win_apt_diamond_sleet_indicators.yml
  rules-emerging-threats/2023/TA/Diamond-Sleet/registry_event_apt_diamond_sleet_scheduled_task.yml
  rules-emerging-threats/2023/TA/Diamond-Sleet/win_security_apt_diamond_sleet_scheduled_task.yml
  rules-emerging-threats/2023/TA/Onyx-Sleet/README.md
  rules-emerging-threats/2023/TA/Onyx-Sleet/file_event_win_apt_onyx_sleet_indicators.yml
  rules/windows/image_load/image_load_side_load_from_non_system_location.yml
Labels: Rules, 2nd Review Needed, Windows, Emerging-Threats

#4503 Fixes & Updates
  rules-emerging-threats/2021/Exploits/CVE-2021-1675/av_printernightmare_cve_2021_34527.yml
  rules-emerging-threats/2022/Exploits/CVE-2022-41120/proc_creation_win_exploit_cve_2022_41120_sysmon_eop.yml
  rules/category/antivirus/av_relevant_files.yml
  rules/windows/builtin/application/esent/win_esent_ntdsutil_abuse_susp_location.yml
  rules/windows/builtin/application/msiinstaller/win_msi_install_from_susp_locations.yml
  rules/windows/file/file_event/file_event_win_susp_powershell_profile.yml
  rules/windows/process_creation/proc_creation_win_susp_obfuscated_ip_download.yml
Labels: Rules, 2nd Review Needed, Windows

#4506 Update README.md
  CONTRIBUTING.md
  README.md
  images/sigma_logo_dark.png
  images/sigma_logo_light.png
Labels: 2nd Review Needed, Maintenance

#4524 Fix Multiple Typos In Metadata Fields
  rules/cloud/azure/audit_logs/azure_app_role_added.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_impossible_travel.yml
  rules/cloud/azure/identity_protection/azure_identity_protection_inbox_forwarding_rule.yml
  rules/cloud/azure/signin_logs/azure_legacy_authentication_protocols.yml
  rules/linux/auditd/lnx_auditd_steghide_embed_steganography.yml
  rules/linux/process_creation/proc_creation_lnx_ssm_agent_abuse.yml
  rules/linux/process_creation/proc_creation_lnx_susp_container_residence_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_susp_inod_listing.yml
  rules/windows/builtin/system/lsasrv/win_system_lsasrv_ntlmv1.yml
  rules/windows/file/file_access/file_access_win_browser_credential_access.yml
  rules/windows/file/file_access/file_access_win_reg_and_hive_access.yml
  rules/windows/file/file_event/file_event_win_bloodhound_collection.yml
  rules/windows/file/file_event/file_event_win_dump_file_creation.yml
  rules/windows/file/file_event/file_event_win_powershell_drop_binary_or_script.yml
  rules/windows/file/file_event/file_event_win_powershell_drop_powershell.yml
  rules/windows/image_load/image_load_scrcons_wmi_scripteventconsumer.yml
  rules/windows/network_connection/net_connection_win_dead_drop_resolvers.yml
  rules/windows/powershell/powershell_script/posh_ps_malicious_keywords.yml
  rules/windows/process_creation/proc_creation_win_7zip_password_extraction.yml
  rules/windows/process_creation/proc_creation_win_diskshadow_script_mode_susp_location.yml
  rules/windows/process_creation/proc_creation_win_hktl_htran_or_natbypass.yml
  rules/windows/process_creation/proc_creation_win_mofcomp_execution.yml
  rules/windows/process_creation/proc_creation_win_mshta_lethalhta_technique.yml
  rules/windows/process_creation/proc_creation_win_powershell_cl_invocation.yml
  rules/windows/process_creation/proc_creation_win_powershell_cl_loadassembly.yml
  rules/windows/process_creation/proc_creation_win_reg_defender_exclusion.yml
  rules/windows/process_creation/proc_creation_win_reg_lsa_disable_restricted_admin.yml
  rules/windows/process_creation/proc_creation_win_schtasks_delete_all.yml
  rules/windows/process_creation/proc_creation_win_ssm_agent_abuse.yml
  rules/windows/process_creation/proc_creation_win_susp_hidden_dir_index_allocation.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_livekd_kernel_memory_dump.yml
  rules/windows/process_creation/proc_creation_win_wscript_cscript_script_exec.yml
  rules/windows/registry/registry_add/registry_add_pua_sysinternals_susp_execution_via_eula.yml
  rules/windows/registry/registry_set/registry_set_add_load_service_in_safe_mode.yml
  rules/windows/registry/registry_set/registry_set_lsa_disablerestrictedadmin.yml
  rules/windows/registry/registry_set/registry_set_persistence_app_paths.yml
  rules/windows/registry/registry_set/registry_set_persistence_com_hijacking_susp_locations.yml
  rules/windows/registry/registry_set/registry_set_persistence_custom_protocol_handler.yml
  rules/windows/registry/registry_set/registry_set_terminal_server_tampering.yml
Labels: Rules, 2nd Review Needed, Windows, Linux

#4525 Unsigned Thor Execution
  rules/windows/image_load/image_load_thor_unsigned_execution.yml
Labels: Rules, Windows

#4523 Add `AWS S3 Bucket Versioning Disable` Rule
  rules/cloud/aws/cloudtrail/aws_disable_bucket_versioning.yml
Labels: Rules, 2nd Review Needed, Cloud

#4527 Update README.md with Description Image
  README.md
  images/Sigma-description.png
  images/Sigma_description_dark.png
  images/Sigma_description_light.png
Labels: Awaiting Requested Review, Maintenance, Documentation

#4526 update: remove `Lookahead` regular expressions
  rules/windows/process_creation/proc_creation_win_susp_obfuscated_ip_download.yml
Labels: Rules, 2nd Review Needed, Windows

#4531 fix some title typos
  rules-emerging-threats/2023/Exploits/CVE-2023-43261/proxy_cve_2023_43261_milesight_information_disclosure.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-43261/web_cve_2023_43261_milesight_information_disclosure.yml
Labels: Rules, Emerging-Threats
