Repository SigmaHQ/sigma, pull requests merged in 2024-01, with the labels that each got.

#4658 Update README.md
  README.md
Labels: Maintenance

#4659 Reduce `Remote PowerShell Session (PS Classic)` Level
  rules/windows/powershell/powershell_classic/posh_pc_remote_powershell_session.yml
Labels: Rules, Windows

#4638 Create win_security_nofilter_privesc_tool_usage.yml
  rules/windows/builtin/security/win_security_hktl_nofilter.yml
Labels: Rules, 2nd Review Needed, Windows

#4641 Rule updated and added
  rules/windows/image_load/image_load_side_load_from_non_system_location.yml
  rules/windows/process_creation/proc_creation_win_psr_capture_screenshots.yml
Labels: Rules, 2nd Review Needed, Windows

#4640 New: Configure System Integrity Protection (SIP) Enumeration
  rules/macos/process_creation/proc_creation_macos_csrutil_disable.yml
  rules/macos/process_creation/proc_creation_macos_csrutil_status.yml
Labels: Rules, MacOS

#4646 fix: updated the wrong image name
  rules/windows/process_creation/proc_creation_win_susp_eventlog_content_recon.yml
Labels: Rules, 2nd Review Needed, Windows

#4648 Create proc_creation_win_pua_edr_silencer.yml
  rules/windows/process_creation/proc_creation_win_hktl_edrsilencer.yml
Labels: Rules, 2nd Review Needed, Windows

#4650 Process Creation Cmdline Matches Patterns Observed in Pikabot Infections (with variations)
  rules-emerging-threats/2023/Malware/Pikabot/net_connection_win_malware_pikabot_rundll32_activity.yml
  rules-emerging-threats/2023/Malware/Pikabot/proc_creation_win_malware_pikabot_combined_commands_execution.yml
  rules-emerging-threats/2023/Malware/Pikabot/proc_creation_win_malware_pikabot_rundll32_discovery.yml
  rules-emerging-threats/2023/Malware/Pikabot/proc_creation_win_malware_pikabot_rundll32_hollowing.yml
  rules/windows/process_creation/proc_creation_win_wscript_cscript_susp_child_processes.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#4661 Suspicious forfiles Child process
  rules/windows/process_creation/proc_creation_win_forfiles_child_process_masquerading.yml
  rules/windows/process_creation/proc_creation_win_forfiles_proxy_execution_.yml
Labels: Rules, 2nd Review Needed, Windows

#4654 fix: hardcoded removal of c: should be replace with ?:
  rules/windows/process_creation/proc_creation_win_rar_susp_greedy_compression.yml
Labels: Rules, 2nd Review Needed, Windows

#4667 Fixes #4666 - sigma-logsource-checker tries to parse non-yml files
  documentation/tools/sigma-logsource-checker.py
Labels: Maintenance

#4663 Update: Disable Windows Defender Features Addition
  rules/windows/powershell/powershell_classic/posh_pc_tamper_windows_defender_set_mp.yml
  rules/windows/powershell/powershell_script/posh_ps_tamper_windows_defender_set_mp.yml
  rules/windows/process_creation/proc_creation_win_powershell_defender_disable_feature.yml
Labels: Rules, 2nd Review Needed, Windows

#4662 Add Rule Covering New Persistence Technique Using RegisterAppRestart AppCompat Layer
  deprecated/windows/image_load_side_load_svchost_dlls.yml
  rules/windows/file/file_event/file_event_win_create_non_existent_dlls.yml
  rules/windows/image_load/image_load_side_load_from_non_system_location.yml
  rules/windows/image_load/image_load_side_load_non_existent_dlls.yml
  rules/windows/process_creation/proc_creation_win_sdbinst_susp_extension.yml
  rules/windows/registry/registry_set/registry_set_deviceguard_hypervisorenforcedcodeintegrity_disabled.yml
  rules/windows/registry/registry_set/registry_set_persistence_app_cpmpat_layer_registerapprestart.yml
Labels: Rules, Windows

#4664 Create win_security_wfp_edr_blocked.yml
  rules/windows/builtin/security/object_access/win_security_wfp_endpoint_agent_blocked.yml
Labels: Rules, 2nd Review Needed, Windows

#4665 Add Rule CPL Load From Non Default Location
  rules/windows/image_load/image_load_side_load_cpl_from_non_system_location.yml
Labels: Rules, 2nd Review Needed, Windows

#4668 Update registry_set_persistence_mycomputer.yml
  rules/windows/registry/registry_set/registry_set_persistence_mycomputer.yml
Labels: Rules, 2nd Review Needed, Windows

#4530 Pingcastle rules
  rules/windows/process_creation/proc_creation_win_pua_pingcastle.yml
  rules/windows/process_creation/proc_creation_win_pua_pingcastle_script_parent.yml
  rules/windows/process_creation/proc_creation_win_renamed_pingcastle.yml
Labels: Rules, 2nd Review Needed, Windows

#4621 Add New GCP / Google Workspace Related Rules
  rules/cloud/gcp/audit/gcp_access_policy_deleted.yml
  rules/cloud/gcp/audit/gcp_breakglass_container_workload_deployed.yml
  rules/cloud/gcp/gworkspace/gcp_gworkspace_application_access_levels_modified.yml
Labels: Rules, 2nd Review Needed

#4673 docs: broken link
  rules/windows/registry/registry_event/registry_event_net_ntlm_downgrade.yml
Labels: Rules, Windows

#4674 Hacktool execution
  rules/windows/create_stream_hash/create_stream_hash_hktl_generic_download.yml
  rules/windows/process_creation/proc_creation_win_findstr_lnk.yml
  rules/windows/process_creation/proc_creation_win_hktl_execution_via_imphashes.yml
  rules/windows/process_creation/proc_creation_win_hktl_execution_via_pe_metadata.yml
Labels: Rules, 2nd Review Needed, Windows

#4672 Update proc_creation_win_wmic_recon_system_info.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_wmic_recon_system_info.yml
Labels: Rules, 2nd Review Needed, Windows

#4675 Feat: New Emerging Threat Rules For Peach Sandstorm APT
  rules-emerging-threats/2023/TA/Peach-Sandstorm/proc_creation_win_apt_peach_sandstorm_indicators.yml
  rules-emerging-threats/2023/TA/Peach-Sandstorm/proxy_apt_peach_sandstorm_falsefont_backdoor_c2_coms.yml
  tests/sigma_cli_conf.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#4680 Add miningocean.org mining pools
  rules/windows/network_connection/net_connection_win_crypto_mining_pools.yml
Labels: Rules, 2nd Review Needed, Windows

#4682 New: CodePage modification via MODE to Russian language
  rules-threat-hunting/windows/process_creation/proc_creation_win_mode_codepage_change.yml
  rules/windows/process_creation/proc_creation_win_mode_codepage_russian.yml
Labels: Rules, 2nd Review Needed, Windows

#4679 Suspicious unsigned DLL Loaded by RunDLL32/RegSvr32
  deprecated/windows/image_load_susp_uncommon_image_load.yml
  rules/windows/image_load/image_load_susp_unsigned_dll.yml
Labels: Rules, 2nd Review Needed, Windows

#4689 Added AttackIQ to README Projects and Products
  README.md
Labels: Maintenance

#4687 update: added missing image names
  rules-emerging-threats/2023/Exploits/CVE-2023-38831/proc_creation_win_exploit_cve_2023_38831_winrar_child_proc.yml
Labels: Rules, Work In Progress, Emerging-Threats

#4684 fix: several FPs
  rules-threat-hunting/windows/builtin/firewall_as/win_firewall_as_change_rule.yml
  rules-threat-hunting/windows/create_remote_thread/create_remote_thread_win_loadlibrary.yml
  rules/windows/builtin/firewall_as/win_firewall_as_add_rule.yml
  rules/windows/builtin/firewall_as/win_firewall_as_add_rule_susp_folder.yml
  rules/windows/builtin/firewall_as/win_firewall_as_delete_all_rules.yml
  rules/windows/create_remote_thread/create_remote_thread_win_mstsc_susp_location.yml
  rules/windows/create_remote_thread/create_remote_thread_win_powershell_susp_targets.yml
  rules/windows/create_remote_thread/create_remote_thread_win_susp_password_dumper_lsass.yml
  rules/windows/create_remote_thread/create_remote_thread_win_susp_relevant_source_image.yml
  rules/windows/create_remote_thread/create_remote_thread_win_susp_uncommon_source_image.yml
  rules/windows/create_remote_thread/create_remote_thread_win_susp_uncommon_target_image.yml
  rules/windows/image_load/image_load_dll_system_management_automation_susp_load.yml
  rules/windows/network_connection/net_connection_win_rdp_outbound_over_non_standard_tools.yml
  rules/windows/powershell/powershell_script/posh_ps_copy_item_system_directory.yml
Labels: Rules, 2nd Review Needed, Windows

#4691 fix: updated the wrong image name
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_event_log_query.yml
Labels: Rules, Windows

#4693 update: removed unnecessary selection part
  rules/windows/powershell/powershell_script/posh_ps_shellcode_b64.yml
Labels: Rules, Windows

#4656 Upgrade promote_rules_status to pySigma
  .github/workflows/sigma-rule-promoter.yml
  tests/promote_rules_status.py
Labels: Maintenance

#4690 Update pipe_created_hktl_cobaltstrike_susp_pipe_patterns.yml
  rules/windows/pipe_created/pipe_created_hktl_cobaltstrike_susp_pipe_patterns.yml
Labels: Rules, 2nd Review Needed, Windows

#4685 Create HackTool-EDRSilencer-Execution.yml
  rules/windows/builtin/security/win_security_hktl_edr_silencer.yml
Labels: Rules, 2nd Review Needed, Windows

#4678 Added and updatd pikabot related rules
  rules-emerging-threats/2023/Malware/Pikabot/net_connection_win_malware_pikabot_rundll32_activity.yml
  rules-emerging-threats/2023/Malware/Pikabot/proc_creation_win_malware_pikabot_discovery.yml
  rules-emerging-threats/2023/Malware/Pikabot/proc_creation_win_malware_pikabot_rundll32_hollowing.yml
  rules-emerging-threats/2023/Malware/Pikabot/proc_creation_win_malware_pikabot_rundll32_uncommon_extension.yml
  rules/windows/process_creation/proc_creation_win_rundll32_uncommon_dll_extension.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#4686 Create proc_creation_win_hktl_sharpmove.yml
  rules/windows/process_creation/proc_creation_win_hktl_sharpmove.yml
Labels: Rules, 2nd Review Needed, Windows

#4697 Small fix
  rules/windows/builtin/security/win_security_hktl_edr_silencer.yml
  rules/windows/process_creation/proc_creation_win_wscript_cscript_dropper.yml
Labels: Rules, Windows
