Repository SigmaHQ/sigma, pull requests merged in 2024-09, with the labels that each got.

#4975 experimental gtfobin shell breakout detections
  rules/linux/process_creation/proc_creation_lnx_apt_shell_execution.yml
  rules/linux/process_creation/proc_creation_lnx_awk_shell_spawn.yml
  rules/linux/process_creation/proc_creation_lnx_capsh_shell_invocation.yml
  rules/linux/process_creation/proc_creation_lnx_env_shell_invocation.yml
  rules/linux/process_creation/proc_creation_lnx_find_shell_execution.yml
  rules/linux/process_creation/proc_creation_lnx_flock_shell_execution.yml
  rules/linux/process_creation/proc_creation_lnx_gcc_shell_execution.yml
  rules/linux/process_creation/proc_creation_lnx_git_shell_execution.yml
  rules/linux/process_creation/proc_creation_lnx_nice_shell_execution.yml
  rules/linux/process_creation/proc_creation_lnx_python_shell_os_system.yml
  rules/linux/process_creation/proc_creation_lnx_rsync_shell_execution.yml
  rules/linux/process_creation/proc_creation_lnx_ssh_shell_execution.yml
  rules/linux/process_creation/proc_creation_lnx_vim_shell_execution.yml
Labels: Rules, Linux

#4990 Add rule net_connection_win_anydesk_incoming_connection
  rules/windows/network_connection/net_connection_win_remote_access_tools_anydesk_incoming_connection.yml
Labels: Rules, Windows

#4993 Fix Issues
  deprecated/linux/lnx_auditd_omigod_scx_runasprovider_executeshellcommand.yml
  deprecated/windows/registry_set_persistence_com_hijacking_susp_locations.yml
  deprecated/windows/registry_set_persistence_search_order.yml
  rules-threat-hunting/windows/builtin/security/account_management/win_security_scrcons_remote_wmi_scripteventconsumer.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_cli_obfuscation_unicode.yml
  rules/windows/process_creation/proc_creation_win_susp_cli_obfuscation_unicode_img.yml
  rules/windows/registry/registry_set/registry_set_persistence_com_hijacking_builtin.yml
Labels: Rules

#4983 Add Rule: `Task Scheduler DLL Loaded By Application Located In Potentially Suspicious Location`
  rules-threat-hunting/windows/image_load/image_load_dll_taskschd_by_process_in_potentially_suspicious_location.yml
Labels: Rules, Windows

#4997 PowerShell Web Access
  rules/windows/powershell/powershell_script/posh_ps_powershell_web_access_installation.yml
  rules/windows/process_creation/proc_creation_win_dism_enable_powershell_web_access_feature.yml
  rules/windows/process_creation/proc_creation_win_dism_remove.yml
Labels: Rules, Windows

#4995 feat: check for processes deleting themselves
  rules/windows/file/file_delete/file_delete_win_delete_own_image.yml
Labels: Rules, Windows

#4998 New Rule for Unusual DNS Queries from Windows Scripting Hosts
  rules-placeholder/windows/dns_query/dns_query_win_wscript_cscript_resolution.yml
Labels: Rules, Windows

#4999 New Rule: win_security_gp_priv_escalation.yml
  rules/windows/builtin/security/win_security_susp_group_policy_abuse_privilege_addition.yml
Labels: Rules, Windows

#5000 Add logic to win_security_gpo_scheduledtasks.yml
  rules/windows/builtin/security/win_security_gpo_scheduledtasks.yml
Labels: Rules, Windows

#5001 New Rule: win_security_gpo_startup_script.yml
  rules/windows/builtin/security/win_security_susp_group_policy_startup_script_added_to_gpo.yml
Labels: Rules, Windows

#5007 Fix resolve unreachable(404) GitHub URL reference
  deprecated/windows/proc_access_win_susp_invoke_patchingapi.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-1675/file_event_win_cve_2021_1675_printspooler.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-1675/win_exploit_cve_2021_1675_printspooler.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-41379/file_event_win_cve_2021_41379_msi_lpe.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-41379/win_vul_cve_2021_41379.yml
  rules/windows/builtin/security/account_management/win_security_rdp_bluekeep_poc_scanner.yml
  rules/windows/builtin/smbclient/security/win_smbclient_security_susp_failed_guest_logon.yml
  rules/windows/builtin/system/termdd/win_system_rdp_potential_cve_2019_0708.yml
  rules/windows/file/file_delete/file_delete_win_cve_2021_1675_print_nightmare.yml
  rules/windows/file/file_event/file_event_win_powershell_exploit_scripts.yml
  rules/windows/file/file_event/file_event_win_sam_dump.yml
  rules/windows/image_load/image_load_spoolsv_dll_load.yml
  rules/windows/powershell/powershell_module/posh_pm_exploit_scripts.yml
  rules/windows/process_creation/proc_creation_win_hktl_dinjector.yml
Labels: Rules, Windows, Emerging-Threats

#5006 FP miss the all modifier
  rules-emerging-threats/2020/TA/SolarWinds-Supply-Chain/proc_creation_win_apt_unc2452_cmds.yml
Labels: Rules, Emerging-Threats

#5005 Update lnx_auth_pwnkit_local_privilege_escalation.yml
  rules/linux/builtin/auth/lnx_auth_pwnkit_local_privilege_escalation.yml
Labels: Rules, Linux

#5003 BTunnels Detection for Data Exfiltration
  rules/windows/network_connection/net_connection_win_domain_btunnels.yml
Labels: Rules, Windows

#4980 Update dns_query_win_remote_access_software_domains_non_browsers.yml
  rules/windows/dns_query/dns_query_win_remote_access_software_domains_non_browsers.yml
Labels: Rules, Windows

#5022 some typos
  rules/windows/builtin/security/win_security_windows_defender_exclusions_write_access.yml
  rules/windows/builtin/windefend/win_defender_real_time_protection_disabled.yml
  rules/windows/powershell/powershell_classic/posh_pc_renamed_powershell.yml
Labels: Rules, Windows

#5020 Add detection rule for MeshAgent command execution
  rules/windows/process_creation/proc_creation_win_remote_access_tools_meshagent_exec.yml
Labels: Rules, Windows

#5013 remove the dual use tool nmap from "Linux HackTool Execution"
  rules/linux/process_creation/proc_creation_lnx_susp_hktl_execution.yml
  rules/linux/process_creation/proc_creation_lnx_susp_network_utilities_execution.yml
Labels: Rules, Linux
