Repository SigmaHQ/sigma, pull requests merged in 2024-04, with the labels that each got.

#4788 fix: being loaded by wsmprovhost.exe
  rules/windows/image_load/image_load_dll_vss_ps_susp_load.yml
Labels: Rules, Windows

#4794 Create proc_creation_lnx_susp_sshd_children.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-3094/proc_creation_lnx_exploit_cve_2024_3094_sshd_child_process.yml
Labels: Rules, 2nd Review Needed, Linux

#4797 fix: filter PS1 policy check for AppLocker mode
  rules/windows/file/file_event/file_event_win_shell_write_susp_files_extensions.yml
Labels: Rules, Windows

#4802 FP Fixes
  rules/windows/file/file_event/file_event_win_shell_write_susp_files_extensions.yml
  rules/windows/process_creation/proc_creation_win_rundll32_uncommon_dll_extension.yml
Labels: Rules, Windows

#4805 fix: FP with chocolatey shimgen tool
  rules/windows/process_creation/proc_creation_win_csc_susp_dynamic_compilation.yml
Labels: Rules, Windows

#4810 Fix references in proc_creation_win_exploit_cve_2017_11882.yml #4804
  rules-emerging-threats/2017/Exploits/CVE-2017-11882/proc_creation_win_exploit_cve_2017_11882.yml
Labels: Rules, Emerging-Threats

#4811 Update proc_creation_lnx_exploit_cve_2024_3094_sshd_child_process.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-3094/proc_creation_lnx_exploit_cve_2024_3094_sshd_child_process.yml
Labels: Rules, Emerging-Threats

#4815 feat : new malware UA
  rules/web/proxy_generic/proxy_ua_malware.yml
Labels: Rules

#4807 Update references and tags
  rules/windows/process_creation/proc_creation_win_csvde_export.yml
Labels: Rules, Windows

#4813 Add Image to avoid FP
  rules/windows/process_creation/proc_creation_win_cmd_dir_execution.yml
Labels: Rules, 2nd Review Needed, Windows

#4808 FP Bad practice GPO
  rules/windows/file/file_event/file_event_win_shell_write_susp_files_extensions.yml
Labels: Rules, 2nd Review Needed, Windows

#4803 Clean useless `.*` in regex
  rules/windows/builtin/security/win_security_invoke_obfuscation_var_services_security.yml
  rules/windows/builtin/security/win_security_invoke_obfuscation_via_var_services_security.yml
  rules/windows/builtin/system/service_control_manager/win_system_invoke_obfuscation_stdin_services.yml
  rules/windows/builtin/system/service_control_manager/win_system_invoke_obfuscation_var_services.yml
  rules/windows/builtin/system/service_control_manager/win_system_invoke_obfuscation_via_stdin_services.yml
  rules/windows/builtin/system/service_control_manager/win_system_invoke_obfuscation_via_var_services.yml
  rules/windows/powershell/powershell_module/posh_pm_invoke_obfuscation_clip.yml
  rules/windows/powershell/powershell_module/posh_pm_invoke_obfuscation_stdin.yml
  rules/windows/powershell/powershell_module/posh_pm_invoke_obfuscation_var.yml
  rules/windows/powershell/powershell_module/posh_pm_invoke_obfuscation_via_stdin.yml
  rules/windows/powershell/powershell_module/posh_pm_invoke_obfuscation_via_use_clip.yml
  rules/windows/powershell/powershell_module/posh_pm_invoke_obfuscation_via_var.yml
  rules/windows/powershell/powershell_script/posh_ps_invoke_obfuscation_clip.yml
  rules/windows/powershell/powershell_script/posh_ps_invoke_obfuscation_stdin.yml
  rules/windows/powershell/powershell_script/posh_ps_invoke_obfuscation_var.yml
  rules/windows/powershell/powershell_script/posh_ps_invoke_obfuscation_via_stdin.yml
  rules/windows/powershell/powershell_script/posh_ps_invoke_obfuscation_via_use_clip.yml
  rules/windows/powershell/powershell_script/posh_ps_invoke_obfuscation_via_var.yml
  rules/windows/process_creation/proc_creation_win_hktl_invoke_obfuscation_clip.yml
  rules/windows/process_creation/proc_creation_win_hktl_invoke_obfuscation_stdin.yml
  rules/windows/process_creation/proc_creation_win_hktl_invoke_obfuscation_var.yml
  rules/windows/process_creation/proc_creation_win_hktl_invoke_obfuscation_via_stdin.yml
  rules/windows/process_creation/proc_creation_win_hktl_invoke_obfuscation_via_use_clip.yml
  rules/windows/process_creation/proc_creation_win_hktl_invoke_obfuscation_via_var.yml
  rules/windows/process_creation/proc_creation_win_powershell_cmdline_special_characters.yml
Labels: Rules, 2nd Review Needed, Windows

#4798 Fix hashes
  rules/windows/process_creation/proc_creation_win_hktl_coercedpotato.yml
  rules/windows/process_creation/proc_creation_win_hktl_handlekatz.yml
  rules/windows/process_creation/proc_creation_win_hktl_sysmoneop.yml
Labels: Rules, Windows

#4790 correct the error message and variable name in test_rules.py
  tests/test_rules.py
Labels: Maintenance

#4787 fix a typo in test_logsource.py
  tests/test_logsource.py
Labels: Maintenance

#4799 fix: remove invalid slash in `ServiceDll Hijack` rule
  rules/windows/registry/registry_set/registry_set_servicedll_hijack.yml
Labels: Rules, Windows

#4819 fix: explicitly escape `{` to make it clear that it is a literal
  rules/windows/process_creation/proc_creation_win_hktl_invoke_obfuscation_via_stdin.yml
Labels: Rules, Windows

#4801 Pnscan rule creation
  rules/linux/process_creation/proc_creation_lnx_pnscan_binary_cli_pattern.yml
Labels: Rules, 2nd Review Needed, Linux

#4795 Update lnx_shell_clear_cmd_history.yml
  rules/linux/builtin/lnx_shell_clear_cmd_history.yml
Labels: Rules, 2nd Review Needed, Linux

#4823 Update proc_creation_macos_xattr_gatekeeper_bypass.yml
  rules/macos/process_creation/proc_creation_macos_xattr_gatekeeper_bypass.yml
Labels: Rules, 2nd Review Needed, MacOS

#4833 feat: add forest blizzard rules
  rules-emerging-threats/2024/TA/Forest-Blizzard/README.md
  rules-emerging-threats/2024/TA/Forest-Blizzard/file_event_win_apt_forest_blizzard_activity.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/file_event_win_apt_forest_blizzard_constrained_js.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/proc_creation_win_apt_forest_blizzard_activity.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/registry_set_apt_forest_blizzard_custom_protocol_handler.yml
  rules-emerging-threats/2024/TA/Forest-Blizzard/registry_set_apt_forest_blizzard_custom_protocol_handler_dll.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#4826 feat: add rule CVE-2024-3400
  rules-emerging-threats/2024/Exploits/CVE-2024-3400/paloalto_globalprotect_os_command_injection.yml
  tests/logsource.json
  tests/thor.yml
Labels: Rules, 2nd Review Needed, Maintenance, Emerging-Threats

#4825 New analytic for CVE-2024-3400
  rules-emerging-threats/2024/Exploits/CVE-2024-3400/file_event_paloalto_globalprotect_exploit_cve_2024_3400_command_inject_file_creation.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-3400/paloalto_globalprotect_exploit_cve_2024_3400_command_injection.yml
  tests/logsource.json
Labels: Rules, 2nd Review Needed, Emerging-Threats

#4824 New rule - proc_creation_win_pua_netscan.yml
  rules/windows/process_creation/proc_creation_win_pua_netscan.yml
Labels: Rules, 2nd Review Needed, Windows

#4829 Add Network Connection Initiated By RegAsm.EXE
  rules/windows/network_connection/net_connection_win_regasm_network_activity.yml
Labels: Rules, 2nd Review Needed, Windows

#4832 feat: lolbin updates
  rules/windows/process_creation/proc_creation_win_cdb_arbitrary_command_execution.yml
  rules/windows/process_creation/proc_creation_win_cmd_type_arbitrary_file_download.yml
  rules/windows/process_creation/proc_creation_win_cmdl32_arbitrary_file_download.yml
  rules/windows/process_creation/proc_creation_win_configsecuritypolicy_download_file.yml
  rules/windows/process_creation/proc_creation_win_dctask64_arbitrary_command_and_dll_execution.yml
  rules/windows/process_creation/proc_creation_win_defaultpack_uncommon_child_process.yml
  rules/windows/process_creation/proc_creation_win_dnx_execute_csharp_code.yml
  rules/windows/process_creation/proc_creation_win_dotnet_arbitrary_dll_csproj_execution.yml
  rules/windows/process_creation/proc_creation_win_dotnetdump_memory_dump.yml
  rules/windows/process_creation/proc_creation_win_fsi_fsharp_code_execution.yml
  rules/windows/process_creation/proc_creation_win_ftp_arbitrary_command_execution.yml
  rules/windows/process_creation/proc_creation_win_ilasm_il_code_compilation.yml
  rules/windows/process_creation/proc_creation_win_jsc_execution.yml
  rules/windows/process_creation/proc_creation_win_kd_execution.yml
  rules/windows/process_creation/proc_creation_win_lolbin_class_exec_xwizard.yml
  rules/windows/process_creation/proc_creation_win_lolbin_dctask64_proc_inject.yml
  rules/windows/process_creation/proc_creation_win_lolbin_dll_sideload_xwizard.yml
  rules/windows/process_creation/proc_creation_win_lolbin_jsc.yml
  rules/windows/process_creation/proc_creation_win_renamed_dctask64.yml
  rules/windows/process_creation/proc_creation_win_xwizard_execution_non_default_location.yml
  rules/windows/process_creation/proc_creation_win_xwizard_runwizard_com_object_exec.yml
Labels: Rules, Windows

#4837 fix: #4820
  rules/windows/file/file_delete/file_delete_win_zone_identifier_ads_uncommon.yml
Labels: Rules, Windows

#4836 Update AWS Rule to use fieldref modifier instead of contains
  rules/cloud/aws/cloudtrail/aws_update_login_profile.yml
Labels: Rules, 2nd Review Needed

#4834 Network connection from Microsoft Dialer
  rules/windows/network_connection/net_connection_win_dialer_initiated_connection.yml
Labels: Rules, 2nd Review Needed, Windows
