Repository SigmaHQ/sigma, pull requests merged in 2024-12, with the labels that each got.

#5084 Update registry_set_persistence_com_hijacking_builtin.yml
  rules/windows/registry/registry_set/registry_set_persistence_com_hijacking_builtin.yml
Labels: Rules, Windows

#5097 Add new binaries
  rules/linux/auditd/lnx_auditd_user_discovery.yml
Labels: Rules, Linux

#5082 Added ordinal of ShellExec_RunDLL
  rules/windows/process_creation/proc_creation_win_rundll32_susp_shellexec_execution.yml
  rules/windows/process_creation/proc_creation_win_rundll32_susp_shellexec_ordinal_execution.yml
Labels: Rules, Windows

#5046 Add Suspicius Setup16 Parent
  rules/windows/process_creation/proc_creation_win_setup16_custom_lst_execution.yml
Labels: Rules, Windows

#5106 add SID version of integrity levels
  rules-emerging-threats/2019/Exploits/CVE-2019-1388/proc_creation_win_exploit_cve_2019_1388.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-41379/proc_creation_win_exploit_cve_2021_41379.yml
  rules-emerging-threats/2021/Exploits/RazerInstaller-LPE-Exploit/proc_creation_win_exploit_other_razorinstaller_lpe.yml
  rules/windows/process_creation/proc_creation_win_conhost_legacy_option.yml
  rules/windows/process_creation/proc_creation_win_msiexec_install_quiet.yml
  rules/windows/process_creation/proc_creation_win_registry_privilege_escalation_via_service_key.yml
  rules/windows/process_creation/proc_creation_win_sc_change_sevice_image_path_by_non_admin.yml
  rules/windows/process_creation/proc_creation_win_schtasks_schedule_via_masqueraded_xml_file.yml
  rules/windows/process_creation/proc_creation_win_spoolsv_susp_child_processes.yml
  rules/windows/process_creation/proc_creation_win_susp_always_install_elevated_windows_installer.yml
  rules/windows/process_creation/proc_creation_win_susp_child_process_as_system_.yml
  rules/windows/process_creation/proc_creation_win_susp_non_priv_reg_or_ps.yml
  rules/windows/process_creation/proc_creation_win_susp_system_user_anomaly.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_accesschk_check_permissions.yml
  rules/windows/process_creation/proc_creation_win_tscon_rdp_session_hijacking.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_changepk_slui.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_cleanmgr.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_cmstp_com_object_access.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_computerdefaults.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_consent_comctl32.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_dismhost.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_idiagnostic_profile.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_ieinstal.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_msconfig_gui.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_ntfs_reparse_point.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_pkgmgr_dism.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_sdclt.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_winsat.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_wmp.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_wsreset_integrity_level.yml
  rules/windows/process_creation/proc_creation_win_webshell_susp_process_spawned_from_webserver.yml
Labels: Rules, Windows, Emerging-Threats

#5107 Add renamed binaries from DFIR report
  rules/windows/process_creation/proc_creation_win_renamed_binary_highly_relevant.yml
Labels: Rules, Windows

#5108 fix: FPs with NetNTLM downgrade attack
  rules/windows/registry/registry_event/registry_event_net_ntlm_downgrade.yml
Labels: Rules, Windows

#5017 Modify or Delete AWS RDS Cluster
  rules/cloud/aws/cloudtrail/aws_rds_dbcluster_actions.yml
Labels: Rules

#5110 Add AnyDesk to remote access tools service install rule
  rules/windows/builtin/security/win_security_service_install_remote_access_software.yml
Labels: Rules, Windows

#5099 Proc creation lnx local account
  rules/linux/process_creation/proc_creation_lnx_local_account.yml
Labels: Rules, Linux

#5126 Update registry_set_persistence_com_hijacking_builtin.yml
  rules/windows/registry/registry_set/registry_set_persistence_com_hijacking_builtin.yml
Labels: Rules, 2nd Review Needed, Windows

#5125 Update win_security_susp_sdelete.yml
  rules/windows/builtin/security/win_security_sdelete_potential_secure_deletion.yml
Labels: Rules, 2nd Review Needed, Windows

#5117 Proc creation lnx process discovery
  rules-threat-hunting/linux/process_creation/proc_creation_lnx_susp_running_process_discovery.yml
Labels: Rules, Work In Progress, Linux

#5119 xkill image added
  rules-threat-hunting/linux/process_creation/proc_creation_lnx_susp_process_termination_via_kill.yml
Labels: Rules, Linux

#5116 add: Huntress Labs Cleo exploitation rules
  rules-emerging-threats/2024/Exploits/CVE-2024-50623/proc_creation_win_exploit_cve_2024_50623_cleo.yml
  rules/windows/process_creation/proc_creation_win_webshell_recon_commands_and_processes.yml
Labels: Rules, Windows, Emerging-Threats

#5122 Fix XOR Encoded PS command line condition
  rules-threat-hunting/windows/powershell/powershell_classic/posh_pc_bxor_operator_usage.yml
  rules/windows/powershell/powershell_classic/posh_pc_xor_commandline.yml
Labels: Rules, Windows

#5123 new sigma rules related to lummac and RATs behaviors observed ITW
  rules-emerging-threats/2024/Malware/Generic/file_event_win_malware_generic_creation_configuration_rats.yml
  rules-emerging-threats/2024/Malware/Lummac-Stealer/proc_creation_win_malware_lummac_more_vbc.yml
Labels: Rules, Windows

#5095 Quick Assist Detection in the environment
  rules/windows/dns_query/dns_query_win_quickassist.yml
  rules/windows/process_creation/proc_creation_win_quickassist_execution.yml
Labels: Rules, Windows

#5023 new_rules
  rules/cloud/aws/cloudtrail/aws_ec2_import_key_pair_activity.yml
Labels: Rules

#5041 Update win_security_register_new_logon_process_by_rubeus.yml
  rules/windows/builtin/security/win_security_register_new_logon_process_by_rubeus.yml
Labels: Rules, Windows

#5015 DeleteSAMLProvider AWS
  rules/cloud/aws/cloudtrail/aws_delete_saml_provider.yml
Labels: Rules, 2nd Review Needed

#5016 CreateFunctionUrlConfig
  rules/cloud/aws/cloudtrail/aws_lambda_function_url.yml
Labels: Rules, 2nd Review Needed

#5132 add: domain for GetScreen
  rules/windows/dns_query/dns_query_win_remote_access_software_domains_non_browsers.yml
Labels: Rules, Windows

#5144 FP filters for legitimate events
  rules/windows/builtin/application/Other/win_av_relevant_match.yml
  rules/windows/builtin/appxdeployment_server/win_appxdeployment_server_uncommon_package_locations.yml
  rules/windows/builtin/bits_client/win_bits_client_new_transfer_via_uncommon_tld.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_attempted_dll_load.yml
Labels: Rules, Windows

#5145 Regex improvement on Powershell rules
  rules/windows/powershell/powershell_classic/posh_pc_renamed_powershell.yml
  rules/windows/powershell/powershell_classic/posh_pc_wsman_com_provider_no_powershell.yml
Labels: Rules, Windows
