Repository SigmaHQ/sigma, pull requests merged in 2024-11, with the labels that each got.

#5052 Update rule Powershell Exfiltration Over SMTP considering the attachm…
  rules-threat-hunting/windows/powershell/powershell_script/posh_ps_send_mailmessage.yml
Labels: Rules, Windows

#5063 Create file_event_win_susp_outlook_rdp.yml
  rules/windows/file/file_event/file_event_win_office_outlook_rdp_file_creation.yml
  rules/windows/file/file_event/file_event_win_rdp_file_susp_creation.yml
Labels: Rules, Windows

#5058 Added Fake CAPTCHA Campaign new rules
  rules-threat-hunting/windows/registry/registry_set/registry_set_runmru_command_execution.yml
  rules/windows/registry/registry_set/registry_set_runmru_susp_command_execution.yml
Labels: Rules, Windows

#5067 add missing links
  rules-threat-hunting/windows/registry/registry_set/registry_set_runmru_command_execution.yml
  rules/windows/registry/registry_set/registry_set_runmru_susp_command_execution.yml
Labels: Rules, Windows

#5070 Susp rdp outlook parent
  rules/windows/file/file_event/file_event_win_office_outlook_rdp_file_creation.yml
Labels: Rules, Windows

#5064 Update net_dns_pua_cryptocoin_mining_xmr.yml
  rules/network/dns/net_dns_pua_cryptocoin_mining_xmr.yml
Labels: Rules

#5068 Update 3 rules in category/antivirus
  rules/category/antivirus/av_exploiting.yml
  rules/category/antivirus/av_hacktool.yml
  rules/category/antivirus/av_password_dumper.yml
  rules/category/antivirus/av_ransomware.yml
  rules/category/antivirus/av_relevant_files.yml
  rules/category/antivirus/av_webshell.yml
Labels: Rules

#5042 Adjust 'Python Spawning Pretty TTY' to detect ways to circumvent detection
  rules/linux/process_creation/proc_creation_lnx_python_pty_spawn.yml
  rules/linux/process_creation/proc_creation_lnx_python_reverse_shell.yml
Labels: Rules, Linux

#5076 fix: FPs with Google Updater Uninstall Script
  rules/windows/process_creation/proc_creation_win_susp_system_user_anomaly.yml
Labels: Rules, Windows

#5077 Create net_connection_win_susp_azurefd_connection.yml
  rules-threat-hunting/windows/network_connection/net_connection_win_susp_azurefd_connection.yml
Labels: Rules, Windows

#5075 Update proc_creation_win_expand_cabinet_files.yml
  rules/windows/process_creation/proc_creation_win_expand_cabinet_files.yml
Labels: Rules, Windows

#5061 Add new rule Email Forwarding Rule - Exchange
  rules-threat-hunting/cloud/m365/audit/microsoft365_susp_email_forwarding_activity.yml
Labels: Rules

#5081 Detect RTLO extension spoofing, MITRE T1036.002 in File-Events
  rules/windows/file/file_event/file_event_win_susp_right_to_left_override_extension_spoofing.yml
Labels: Rules, Windows

#5054 Update App Role Added based on Microsoft description
  rules/cloud/azure/audit_logs/azure_app_role_added.yml
Labels: Rules, Additional Data Needed

#5086 update ESXCLI reference docs after broadcom acquisition of VMWare
  rules/linux/process_creation/proc_creation_lnx_esxcli_network_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_permission_change_admin.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_storage_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_syslog_config_change.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_system_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_user_account_creation.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_vm_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_vm_kill.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_vsan_discovery.yml
Labels: Rules, Windows, Linux

#5088 Clean old sigmac hash trick
  deprecated/windows/driver_load_win_mal_poortry_driver.yml
  deprecated/windows/driver_load_win_vuln_avast_anti_rootkit_driver.yml
  deprecated/windows/driver_load_win_vuln_dell_driver.yml
  deprecated/windows/driver_load_win_vuln_gigabyte_driver.yml
  deprecated/windows/driver_load_win_vuln_hw_driver.yml
  deprecated/windows/driver_load_win_vuln_lenovo_driver.yml
  deprecated/windows/proc_creation_win_apt_gallium.yml
  deprecated/windows/proc_creation_win_renamed_paexec.yml
  rules-emerging-threats/2020/TA/GALLIUM/proc_creation_win_apt_gallium_iocs.yml
  rules-emerging-threats/2023/TA/3CX-Supply-Chain/image_load_malware_3cx_compromise_susp_dll.yml
  rules-emerging-threats/2023/TA/3CX-Supply-Chain/proc_creation_win_malware_3cx_compromise_execution.yml
  rules/windows/create_stream_hash/create_stream_hash_hktl_generic_download.yml
  rules/windows/driver_load/driver_load_win_pua_process_hacker.yml
  rules/windows/driver_load/driver_load_win_pua_system_informer.yml
  rules/windows/driver_load/driver_load_win_vuln_hevd_driver.yml
  rules/windows/driver_load/driver_load_win_vuln_winring0_driver.yml
  rules/windows/driver_load/driver_load_win_windivert.yml
  rules/windows/image_load/image_load_hktl_sharpevtmute.yml
  rules/windows/process_creation/proc_creation_win_hktl_coercedpotato.yml
  rules/windows/process_creation/proc_creation_win_hktl_createminidump.yml
  rules/windows/process_creation/proc_creation_win_hktl_execution_via_imphashes.yml
  rules/windows/process_creation/proc_creation_win_hktl_gmer.yml
  rules/windows/process_creation/proc_creation_win_hktl_handlekatz.yml
  rules/windows/process_creation/proc_creation_win_hktl_impersonate.yml
  rules/windows/process_creation/proc_creation_win_hktl_localpotato.yml
  rules/windows/process_creation/proc_creation_win_hktl_pchunter.yml
  rules/windows/process_creation/proc_creation_win_hktl_selectmyparent.yml
  rules/windows/process_creation/proc_creation_win_hktl_stracciatella_execution.yml
  rules/windows/process_creation/proc_creation_win_hktl_sysmoneop.yml
  rules/windows/process_creation/proc_creation_win_hktl_uacme.yml
  rules/windows/process_creation/proc_creation_win_hktl_wce.yml
  rules/windows/process_creation/proc_creation_win_lolbin_mpiexec.yml
  rules/windows/process_creation/proc_creation_win_pua_frp.yml
  rules/windows/process_creation/proc_creation_win_pua_iox.yml
  rules/windows/process_creation/proc_creation_win_pua_nimgrab.yml
  rules/windows/process_creation/proc_creation_win_pua_nps.yml
  rules/windows/process_creation/proc_creation_win_pua_process_hacker.yml
  rules/windows/process_creation/proc_creation_win_pua_system_informer.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_netsupport_susp_exec.yml
  rules/windows/process_creation/proc_creation_win_renamed_adfind.yml
  rules/windows/process_creation/proc_creation_win_renamed_autoit.yml
  rules/windows/process_creation/proc_creation_win_renamed_netsupport_rat.yml
  rules/windows/process_creation/proc_creation_win_renamed_paexec.yml
  rules/windows/process_creation/proc_creation_win_wmic_squiblytwo_bypass.yml
  tests/test_logsource.py
Labels: Rules, Windows, Maintenance, Emerging-Threats
