Repository SigmaHQ/sigma, pull requests merged in 2024-06, with the labels that each got.

#4870 fixing sigma2stix urls in projects section
  README.md
Labels: Maintenance

#4869 New: Detect Activation of Windows Recall
  rules/windows/process_creation/proc_creation_win_reg_enable_windows_recall.yml
  rules/windows/registry/registry_delete/registry_delete_enable_windows_recall.yml
  rules/windows/registry/registry_set/registry_set_enable_windows_recall.yml
Labels: Rules, Windows

#4778 Qemu c2 tunnel
  rules/windows/process_creation/proc_creation_win_qemu_suspicious_execution.yml
Labels: Rules, Windows

#4873 Shorten AV string "Mimikatz" to "mikatz"
  rules/category/antivirus/av_hacktool.yml
  rules/category/antivirus/av_password_dumper.yml
  rules/windows/builtin/application/Other/win_av_relevant_match.yml
Labels: Rules, Windows

#4882 New Analytics: LocaltoNet tunneling
  rules/linux/network_connection/net_connection_lnx_domain_localtonet_tunnel.yml
  rules/windows/network_connection/net_connection_win_domain_localtonet_tunnel.yml
Labels: Rules, Windows, Linux

#4872 Update Rules
  Pipfile
  Pipfile.lock
  rules-threat-hunting/linux/file/file_event/file_event_lnx_python_path_configuration_files.yml
  rules-threat-hunting/macos/file/file_event/file_event_macos_python_path_configuration_files.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_explorer_child_of_shell_process.yml
  rules/windows/dns_query/dns_query_win_domain_azurewebsites.yml
  rules/windows/file/file_event/file_event_win_creation_system_dll_files.yml
  rules/windows/file/file_event/file_event_win_creation_system_file.yml
  rules/windows/file/file_event/file_event_win_dll_sideloading_space_path.yml
  rules/windows/network_connection/net_connection_win_domain_azurewebsites.yml
  rules/windows/network_connection/net_connection_win_rdp_outbound_over_non_standard_tools.yml
  rules/windows/powershell/powershell_module/posh_pm_hktl_evil_winrm_execution.yml
  rules/windows/process_creation/proc_creation_win_dump64_defender_av_bypass_rename.yml
  rules/windows/process_creation/proc_creation_win_esentutl_sensitive_file_copy.yml
  rules/windows/process_creation/proc_creation_win_explorer_break_process_tree.yml
  rules/windows/process_creation/proc_creation_win_explorer_lolbin_execution.yml
  rules/windows/process_creation/proc_creation_win_findstr_lsass.yml
  rules/windows/process_creation/proc_creation_win_fltmc_unload_driver.yml
  rules/windows/process_creation/proc_creation_win_hktl_lazagne.yml
  rules/windows/process_creation/proc_creation_win_iexpress_susp_execution.yml
  rules/windows/process_creation/proc_creation_win_kavremover_uncommon_execution.yml
  rules/windows/process_creation/proc_creation_win_lolbin_dump64.yml
  rules/windows/process_creation/proc_creation_win_lolbin_unregmp2.yml
  rules/windows/process_creation/proc_creation_win_mstsc_remote_connection.yml
  rules/windows/process_creation/proc_creation_win_renamed_sysinternals_procdump.yml
  rules/windows/process_creation/proc_creation_win_wermgr_susp_child_process.yml
  rules/windows/registry/registry_set/registry_set_desktop_background_change.yml
  sigma-schema.rx.yml
Labels: Rules, Windows

#4890 Update New Behaviours Okta Admin Console rule
  rules/cloud/okta/okta_new_behaviours_admin_console.yml
Labels: Rules
