Repository SigmaHQ/sigma, pull requests merged in 2024-10, with the labels that each got.

#5026 COM Object Hijacking Update
  rules/windows/registry/registry_set/registry_set_persistence_com_hijacking_builtin.yml
Labels: Rules, Windows

#5033 Update proc_creation_win_taskkill_execution.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_taskkill_execution.yml
Labels: Rules, Windows

#4935 Add iis configuration rules
  rules/windows/builtin/iis-configuration/win_iis_logging_etw_disabled.yml
  rules/windows/builtin/iis-configuration/win_iis_logging_http_disabled.yml
  rules/windows/builtin/iis-configuration/win_iis_module_added.yml
  rules/windows/builtin/iis-configuration/win_iis_module_removed.yml
  tests/logsource.json
  tests/thor.yml
Labels: Rules, Windows, Maintenance

#5031 Python DLL sideloading
  rules/windows/image_load/image_load_side_load_python.yml
Labels: Rules, Windows

#5012 Added the string corresponding to "{"alg":" since some token headers start with this
  rules/windows/process_creation/proc_creation_win_susp_jwt_token_search.yml
Labels: Rules, Windows

#5038 add: RustiveDump, NativeDump pattern, fix: NanoDump pattern
  rules/windows/file/file_event/file_event_win_lsass_default_dump_file_names.yml
Labels: Rules, Windows

#5037 Update registry_set_windows_defender_tamper.yml
  rules/windows/registry/registry_set/registry_set_windows_defender_tamper.yml
Labels: Rules, Windows

#5039 update rule with new images
  rules/linux/process_creation/proc_creation_lnx_local_account.yml
Labels: Rules, Linux

#5036 Add the Azure connected machine agent
  rules/windows/pipe_created/pipe_created_powershell_alternate_host_pipe.yml
Labels: Rules, Windows

#5008 Update proc_creation_win_hktl_certipy.yml
  rules/windows/process_creation/proc_creation_win_hktl_certipy.yml
Labels: Rules, Windows

#5040 add SuspDCSyncTraffic from MS Defender
  rules/category/antivirus/av_password_dumper.yml
Labels: Rules

#4994 Sigma FP fixes
  rules/windows/builtin/code_integrity/win_codeintegrity_attempted_dll_load.yml
  rules/windows/powershell/powershell_classic/posh_pc_renamed_powershell.yml
  rules/windows/powershell/powershell_classic/posh_pc_wsman_com_provider_no_powershell.yml
Labels: Rules, Windows

#5055 feat: update multiple rules
  rules/windows/builtin/bits_client/win_bits_client_new_transfer_via_file_sharing_domains.yml
  rules/windows/create_stream_hash/create_stream_hash_file_sharing_domains_download_susp_extension.yml
  rules/windows/create_stream_hash/create_stream_hash_file_sharing_domains_download_unusual_extension.yml
  rules/windows/network_connection/net_connection_win_domain_dead_drop_resolvers.yml
  rules/windows/network_connection/net_connection_win_susp_file_sharing_domains_susp_folders.yml
  rules/windows/process_creation/proc_creation_win_curl_download_susp_file_sharing_domains.yml
  rules/windows/process_creation/proc_creation_win_powershell_download_susp_file_sharing_domains.yml
  rules/windows/process_creation/proc_creation_win_susp_service_tamper.yml
  rules/windows/process_creation/proc_creation_win_wget_download_susp_file_sharing_domains.yml
  rules/windows/registry/registry_set/registry_set_persistence_com_hijacking_builtin.yml
Labels: Rules, Windows

#5060 Update proc_creation_win_schtasks_env_folder.yml
  rules/windows/process_creation/proc_creation_win_schtasks_env_folder.yml
Labels: Rules, Windows

#5057 Create win_security_access_to_browser_credential_files.yml
  rules-threat-hunting/windows/builtin/security/win_security_file_access_browser_credential.yml
  rules-threat-hunting/windows/file/file_access/file_access_win_browsers_credential.yml
Labels: Rules, Windows
