Repository SigmaHQ/sigma, pull requests merged in 2024-02, with the labels that each got.

#4713 feat: update Potential Dead Drop Resolvers rule
  rules/windows/network_connection/net_connection_win_dead_drop_resolvers.yml
Labels: Rules, Windows

#4703 Hack tool EventLogCrasher - imphash based detection
  rules/windows/process_creation/proc_creation_win_hktl_execution_via_imphashes.yml
Labels: Rules, Windows

#4711 Fix some FP in Rundll32 Execution With Uncommon DLL Extension
  rules/windows/process_creation/proc_creation_win_rundll32_uncommon_dll_extension.yml
Labels: Rules, 2nd Review Needed, Windows

#4715 fix: filter in hxtsr rule
  rules/windows/process_creation/proc_creation_win_hxtsr_masquerading.yml
Labels: Rules, 2nd Review Needed, Windows

#4704 Added RDP reg keys for darkgate malware
  rules/windows/registry/registry_set/registry_set_terminal_server_tampering.yml
Labels: Rules, 2nd Review Needed, Windows

#4714 Add Rule Covering Exploitation Indicators For CVE 2022-42475
  rules-emerging-threats/2022/Exploits/CVE-2022-42475/fortios_sslvpnd_exploit_cve_2022_42475_exploitation_indicators.yml
  tests/logsource.json
Labels: Rules, 2nd Review Needed

#4705 New Rule: WMIC Disk and Volume Recon
  rules/windows/process_creation/proc_creation_win_wmic_recon_volume.yml
Labels: Rules, 2nd Review Needed, Windows

#4717 fix: added the missing image condition
  rules/windows/network_connection/net_connection_win_rdp_outbound_over_non_standard_tools.yml
Labels: Rules, Windows

#4716 Update rule condition
  rules/windows/builtin/security/win_security_external_device.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_install_uncommon.yml
Labels: Rules, 2nd Review Needed, Windows

#4702 Rules Tuning
  deprecated/windows/net_connection_win_reddit_api_non_browser_access.yml
  rules-threat-hunting/windows/network_connection/net_connection_win_dfsvc_non_local_ip.yml
  rules-threat-hunting/windows/network_connection/net_connection_win_dfsvc_uncommon_ports.yml
  rules-threat-hunting/windows/network_connection/net_connection_win_hh_http_connection.yml
  rules-threat-hunting/windows/network_connection/net_connection_win_powershell_network_connection.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_net_execution.yml
  rules/windows/builtin/appxdeployment_server/win_appxdeployment_server_susp_domains.yml
  rules/windows/builtin/bits_client/win_bits_client_new_transfer_via_file_sharing_domains.yml
  rules/windows/create_stream_hash/create_stream_hash_file_sharing_domains_download_susp_extension.yml
  rules/windows/create_stream_hash/create_stream_hash_file_sharing_domains_download_unusual_extension.yml
  rules/windows/network_connection/net_connection_win_addinutil.yml
  rules/windows/network_connection/net_connection_win_certutil_initiated_connection.yml
  rules/windows/network_connection/net_connection_win_dllhost_non_local_ip.yml
  rules/windows/network_connection/net_connection_win_domain_mega_nz.yml
  rules/windows/network_connection/net_connection_win_domain_ngrok.yml
  rules/windows/network_connection/net_connection_win_domain_ngrok_tunnel.yml
  rules/windows/network_connection/net_connection_win_eqnedt.yml
  rules/windows/network_connection/net_connection_win_excel_outbound_network_connection.yml
  rules/windows/network_connection/net_connection_win_imewdbld.yml
  rules/windows/network_connection/net_connection_win_mega_nz.yml
  rules/windows/network_connection/net_connection_win_msiexec_http.yml
  rules/windows/network_connection/net_connection_win_notepad.yml
  rules/windows/network_connection/net_connection_win_notepad_network_connection.yml
  rules/windows/network_connection/net_connection_win_office_outbound_non_local_ip.yml
  rules/windows/network_connection/net_connection_win_office_uncommon_ports.yml
  rules/windows/network_connection/net_connection_win_python.yml
  rules/windows/network_connection/net_connection_win_rdp_outbound_over_non_standard_tools.yml
  rules/windows/network_connection/net_connection_win_rdp_reverse_tunnel.yml
  rules/windows/network_connection/net_connection_win_regsvr32_network_activity.yml
  rules/windows/network_connection/net_connection_win_susp_crypto_mining_pools.yml
  rules/windows/network_connection/net_connection_win_susp_dead_drop_resolvers.yml
  rules/windows/network_connection/net_connection_win_susp_devtunnel_connection.yml
  rules/windows/network_connection/net_connection_win_susp_file_sharing_domains_susp_folders.yml
  rules/windows/network_connection/net_connection_win_susp_google_api_non_browser_access.yml
  rules/windows/network_connection/net_connection_win_susp_remote_powershell_session.yml
  rules/windows/network_connection/net_connection_win_wordpad_uncommon_ports.yml
  rules/windows/process_creation/proc_creation_win_bitsadmin_download_file_sharing_domains.yml
  rules/windows/process_creation/proc_creation_win_certutil_download_file_sharing_domains.yml
  rules/windows/process_creation/proc_creation_win_curl_download_susp_file_sharing_domains.yml
  rules/windows/process_creation/proc_creation_win_hh_chm_remote_download_or_execution.yml
  rules/windows/process_creation/proc_creation_win_net_use_network_connections_discovery.yml
  rules/windows/process_creation/proc_creation_win_net_user_add.yml
  rules/windows/process_creation/proc_creation_win_net_user_default_accounts_manipulation.yml
  rules/windows/process_creation/proc_creation_win_net_view_share_and_sessions_enum.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_encoded_cmd_patterns.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_encoded_obfusc.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_hidden_flag.yml
  rules/windows/process_creation/proc_creation_win_powershell_remove_mppreference.yml
  rules/windows/process_creation/proc_creation_win_rundll32_uncommon_dll_extension.yml
  rules/windows/process_creation/proc_creation_win_wget_download_susp_file_sharing_domains.yml
  rules/windows/registry/registry_set/registry_set_bypass_uac_using_silentcleanup_task.yml
  rules/windows/registry/registry_set/registry_set_terminal_server_suspicious.yml
  rules/windows/registry/registry_set/registry_set_terminal_server_tampering.yml
Labels: Rules, 2nd Review Needed, Windows

#4698 Added rules that detect possible activities associated with services and modules enumeration
  rules-threat-hunting/windows/process_creation/proc_creation_win_sc_query.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_tasklist_basic_execution.yml
  rules/windows/process_creation/proc_creation_win_sc_query_interesting_services.yml
  rules/windows/process_creation/proc_creation_win_tasklist_module_enumeration.yml
Labels: Rules, 2nd Review Needed, Windows

#4721 Added user agent related to downloader used by RedCurl APT
  rules/web/proxy_generic/proxy_ua_apt.yml
Labels: Rules

#4732 ScreenConnect Exploitation Feb 2024
  rules-emerging-threats/2024/Exploits/CVE-2024-1708/file_event_win_exploit_cve_2024_1708_screenconnect.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-1708/win_security_exploit_cve_2024_1708_screenconnect.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-1709/file_event_win_exploit_cve_2024_1709_user_database_modification_screenconnect.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-1709/web_exploit_cve_2024_1709_screenconnect.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-1709/win_security_exploit_cve_2024_1709_user_database_modification_screenconnect.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#4719 Update Rules Related To `RunHTMLApplication` Abuse
  deprecated/windows/proc_creation_win_rundll32_js_runhtmlapplication.yml
  deprecated/windows/proc_creation_win_rundll32_script_run.yml
  rules/windows/process_creation/proc_creation_win_rundll32_mshtml_runhtmlapplication.yml
Labels: Rules, 2nd Review Needed, Windows

#4728 Update Multiple Rules to cover the '-' arguments along with '/' arguments
  rules/windows/builtin/system/service_control_manager/win_system_susp_service_installation_script.yml
  rules/windows/process_creation/proc_creation_win_chcp_codepage_lookup.yml
  rules/windows/process_creation/proc_creation_win_cmd_curl_download_exec_combo.yml
  rules/windows/process_creation/proc_creation_win_cmd_del_execution.yml
  rules/windows/process_creation/proc_creation_win_cmd_dir_execution.yml
  rules/windows/process_creation/proc_creation_win_cmd_ping_copy_combined_execution.yml
  rules/windows/process_creation/proc_creation_win_cmdkey_adding_generic_creds.yml
Labels: Rules, 2nd Review Needed, Windows

#4718 Update ATT&CK Mapping For Some Rules
  deprecated/windows/proc_creation_win_wuauclt_execution.yml
  rules-emerging-threats/2018/TA/APT29-CozyBear/file_event_win_apt_cozy_bear_phishing_campaign_indicators.yml
  rules-emerging-threats/2018/TA/APT29-CozyBear/proc_creation_win_apt_apt29_phishing_campaign_indicators.yml
  rules-emerging-threats/2021/Malware/Devil-Bait/proc_creation_win_malware_devil_bait_output_redirect.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_diskshadow_child_process.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_diskshadow_script_mode.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_iexpress_execution.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_regsvr32_dllregisterserver_exec.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_rundll32_dllregisterserver.yml
  rules/windows/builtin/application/msiinstaller/win_msi_install_from_web.yml
  rules/windows/file/file_event/file_event_win_sed_file_creation.yml
  rules/windows/file/file_executable_detected/file_executable_detected_win_susp_embeded_sed_file.yml
  rules/windows/process_creation/proc_creation_win_cmd_curl_download_exec_combo.yml
  rules/windows/process_creation/proc_creation_win_cmd_redirection_susp_folder.yml
  rules/windows/process_creation/proc_creation_win_diskshadow_child_process_susp.yml
  rules/windows/process_creation/proc_creation_win_diskshadow_script_mode_susp_ext.yml
  rules/windows/process_creation/proc_creation_win_diskshadow_script_mode_susp_location.yml
  rules/windows/process_creation/proc_creation_win_dsacls_abuse_permissions.yml
  rules/windows/process_creation/proc_creation_win_dsacls_password_spray.yml
  rules/windows/process_creation/proc_creation_win_expand_cabinet_files.yml
  rules/windows/process_creation/proc_creation_win_iexpress_susp_execution.yml
  rules/windows/process_creation/proc_creation_win_lolbin_dotnet.yml
  rules/windows/process_creation/proc_creation_win_lolbin_msdeploy.yml
  rules/windows/process_creation/proc_creation_win_mofcomp_execution.yml
  rules/windows/process_creation/proc_creation_win_susp_use_of_te_bin.yml
Labels: Rules, Emerging-Threats

#4737 Bitbucket Detection Rules
  rules/cloud/bitbucket/audit/bitbucket_audit_full_data_export_triggered.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_global_permissions_change_detected.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_global_secret_scanning_rule_deleted.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_global_ssh_settings_change_detected.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_log_configuration_update_detected.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_project_secret_scanning_allowlist_added.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_secret_scanning_exempt_repository_detected.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_secret_scanning_rule_deleted.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_unauthorized_access_detected.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_unauthorized_full_data_export_triggered.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_user_details_export_attempt_detected.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_user_login_failure_detected.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_user_login_failure_via_ssh_detected.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_user_permissions_export_attempt_detected.yml
  tests/logsource.json
Labels: Rules, 2nd Review Needed

#4733 Windows DNS Query to OneLaunch update service
  rules/windows/dns_query/dns_query_win_onelaunch_update_service.yml
Labels: Rules, 2nd Review Needed, Windows

#4727 Refractor 1/all of Condition unique
  rules-emerging-threats/2022/TA/MERCURY/proc_creation_win_apt_mercury.yml
  rules/windows/builtin/security/win_security_account_backdoor_dcsync_rights.yml
  rules/windows/builtin/system/service_control_manager/win_system_susp_service_installation_folder_pattern.yml
  rules/windows/file/file_event/file_event_win_lolbin_gather_network_info_script_output.yml
  rules/windows/file/file_event/file_event_win_susp_pfx_file_creation.yml
  rules/windows/process_creation/proc_creation_win_lolbin_setres.yml
  rules/windows/process_creation/proc_creation_win_net_use_password_plaintext.yml
  rules/windows/process_creation/proc_creation_win_nslookup_domain_discovery.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_susp_psexec_paexec_flags.yml
Labels: Rules, Windows, Emerging-Threats

#4738 Some House Cleaning & Fixes
  deprecated/web/proxy_cobalt_amazon.yml
  deprecated/web/proxy_cobalt_malformed_uas.yml
  deprecated/web/proxy_cobalt_ocsp.yml
  deprecated/web/proxy_cobalt_onedrive.yml
  deprecated/web/proxy_ios_implant.yml
  rules-emerging-threats/2019/Malware/Chafer/proxy_malware_chafer_url_pattern.yml
  rules-emerging-threats/2019/Malware/Ursnif/proxy_malware_ursnif_c2_url.yml
  rules-emerging-threats/2019/Malware/Ursnif/proxy_malware_ursnif_download_url.yml
  rules-emerging-threats/2019/TA/APT40/proxy_apt_apt40_dropbox_tool_ua.yml
  rules-emerging-threats/2020/Malware/ComRAT/proxy_malware_comrat_network_indicators.yml
  rules-emerging-threats/2022/Exploits/CVE-2022-41082/proxy_cve_2022_36804_exchange_owassrf_exploitation.yml
  rules-emerging-threats/2022/Exploits/CVE-2022-41082/proxy_cve_2022_36804_exchange_owassrf_poc_exploitation.yml
  rules-emerging-threats/2022/Exploits/CVE-2022-41082/web_cve_2022_36804_exchange_owassrf_exploitation.yml
  rules-emerging-threats/2022/Exploits/CVE-2022-41082/web_cve_2022_36804_exchange_owassrf_poc_exploitation.yml
  rules-threat-hunting/web/proxy_generic/proxy_susp_class_extension_request.yml
  rules/cloud/github/github_delete_action_invoked.yml
  rules/cloud/github/github_disable_high_risk_configuration.yml
  rules/cloud/github/github_disabled_outdated_dependency_or_vulnerability.yml
  rules/cloud/github/github_new_org_member.yml
  rules/cloud/github/github_new_secret_created.yml
  rules/cloud/github/github_outside_collaborator_detected.yml
  rules/cloud/github/github_self_hosted_runner_changes_detected.yml
  rules/web/proxy_generic/proxy_downloadcradle_webdav.yml
  rules/web/proxy_generic/proxy_hktl_baby_shark_default_agent_url.yml
  rules/web/proxy_generic/proxy_hktl_cobalt_strike_malleable_c2_requests.yml
  rules/web/proxy_generic/proxy_hktl_empire_ua_uri_patterns.yml
  rules/web/proxy_generic/proxy_pua_advanced_ip_scanner_update_check.yml
  rules/web/proxy_generic/proxy_raw_paste_service_access.yml
  rules/web/proxy_generic/proxy_ua_empty.yml
  rules/web/proxy_generic/proxy_ua_powershell.yml
  rules/windows/builtin/security/win_security_alert_ad_user_backdoors.yml
  tests/sigma_cli_conf.yml
Labels: Rules, Windows, Emerging-Threats

#4734 New Rule for AWS GetSigninToken Abuse
  rules/cloud/aws/cloudtrail/aws_console_getsignintoken.yml
Labels: Rules, 2nd Review Needed

#4743 Increase Coverage For SC Related Rule
  rules/windows/process_creation/proc_creation_win_remote_access_tools_screenconnect_remote_execution_susp.yml
Labels: Rules, Windows
