Repository SigmaHQ/sigma, pull requests merged in 2024-07, with the labels that each got.

#4894 Update proc_creation_win_wmic_uninstall_application.yml
  rules/windows/process_creation/proc_creation_win_wmic_uninstall_application.yml
Labels: Rules, Windows

#4898 Update proc_creation_lnx_exploit_cve_2024_3094_sshd_child_process.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-3094/proc_creation_lnx_exploit_cve_2024_3094_sshd_child_process.yml
Labels: Rules, Emerging-Threats

#4831 Kapeka backdoor sigma rules
  rules-emerging-threats/2024/Malware/kapeka/Kapeka.md
  rules-emerging-threats/2024/Malware/kapeka/file_event_win_malware_kapeka_backdoor_indicators.yml
  rules-emerging-threats/2024/Malware/kapeka/image_load_malware_kapeka_backdoor_wll.yml
  rules-emerging-threats/2024/Malware/kapeka/proc_creation_win_malware_kapeka_backdoor_persistence.yml
  rules-emerging-threats/2024/Malware/kapeka/proc_creation_win_malware_kapeka_backdoor_rundll32_execution.yml
  rules-emerging-threats/2024/Malware/kapeka/registry_set_malware_kapeka_backdoor_autorun_persistence.yml
  rules-emerging-threats/2024/Malware/kapeka/registry_set_malware_kapeka_backdoor_configuration.yml
  rules-emerging-threats/2024/Malware/kapeka/win_security_malware_kapeka_backdoor_scheduled_task_creation.yml
  rules/windows/registry/registry_set/registry_set_susp_pendingfilerenameoperations.yml
Labels: Rules, Emerging-Threats

#4904 Fixed typo (authencaition) in Suspicious SignIns From A Non Registered Device
  rules/cloud/azure/signin_logs/azure_ad_risky_sign_ins_with_singlefactorauth_from_unknown_devices.yml
Labels: Rules

#4911 Update sigma_cli_conf.yml
  tests/sigma_cli_conf.yml
Labels: Maintenance

#4905 Use `userIdentity.type` for AssumedRole in AWS Enum Buckets
  rules/cloud/aws/cloudtrail/aws_enum_buckets.yml
Labels: Rules

#4910 Added Rule - Microsoft Office Word Add-In Load (WLL)
  rules-threat-hunting/windows/image_load/image_load_office_word_wll_load.yml
  tests/sigma_cli_conf.yml
Labels: Rules, Windows

#4912 Fix validators issues
  .github/workflows/sigma-test.yml
  rules-emerging-threats/2024/Malware/kapeka/registry_set_malware_kapeka_backdoor_autorun_persistence.yml
  rules/windows/process_creation/proc_creation_win_node_abuse.yml
  tests/sigma_cli_conf.yml
Labels: Maintenance

#4906 Update image_load_side_load_from_non_system_location.yml
  rules/windows/image_load/image_load_side_load_dbgcore.yml
  rules/windows/image_load/image_load_side_load_dbghelp.yml
  rules/windows/image_load/image_load_side_load_dbgmodel.yml
  rules/windows/image_load/image_load_side_load_from_non_system_location.yml
  rules/windows/image_load/image_load_side_load_mpsvc.yml
  rules/windows/image_load/image_load_side_load_mscorsvc.yml
Labels: Rules, Windows

#4900 Add additional AWS rules
  rules/cloud/aws/cloudtrail/aws_cloudtrail_imds_malicious_usage.yml
  rules/cloud/aws/cloudtrail/aws_cloudtrail_new_acl_entries.yml
  rules/cloud/aws/cloudtrail/aws_cloudtrail_new_route_added.yml
  rules/cloud/aws/cloudtrail/aws_cloudtrail_security_group_change_ingress_egress.yml
  rules/cloud/aws/cloudtrail/aws_cloudtrail_security_group_change_loadbalancer.yml
  rules/cloud/aws/cloudtrail/aws_cloudtrail_security_group_change_rds.yml
  rules/cloud/aws/cloudtrail/aws_cloudtrail_ssm_malicious_usage.yml
Labels: Rules

#4899 Add Kubernetes rules in audit log format
  rules/application/kubernetes/audit/kubernetes_audit_change_admission_controller.yml
  rules/application/kubernetes/audit/kubernetes_audit_cronjob_modification.yml
  rules/application/kubernetes/audit/kubernetes_audit_rolebinding_modification.yml
  rules/application/kubernetes/audit/kubernetes_audit_secrets_modified_or_deleted.yml
  rules/application/kubernetes/audit/kubernetes_audit_unauthorized_unauthenticated_actions.yml
Labels: Rules

#4902 New Rule - BitLockerTogo.EXE Execution
  rules/windows/process_creation/proc_creation_win_bitlockertogo_execution.yml
Labels: Rules, Windows

#4903 New Rule - DSRM_Registry_Key_Modification.yml
  rules/windows/builtin/security/win_security_susp_dsrm_password_change.yml
  rules/windows/registry/registry_set/registry_set_dsrm_tampering.yml
Labels: Rules, Windows

#4878 Update "Create Remote Thread" based rules
  rules/windows/create_remote_thread/create_remote_thread_win_susp_relevant_source_image.yml
  rules/windows/create_remote_thread/create_remote_thread_win_susp_uncommon_source_image.yml
  rules/windows/create_remote_thread/create_remote_thread_win_susp_uncommon_target_image.yml
Labels: Rules, Windows

#4916 Move to emerging-threats
  rules-emerging-threats/2018/TA/APT32-Oceanlotus/registry_event_apt_oceanlotus_registry.yml
  rules-emerging-threats/2018/TA/OilRig/registry_event_apt_oilrig_mar18.yml
  rules-emerging-threats/2019/Malware/Ursnif/registry_add_malware_ursnif.yml
  rules-emerging-threats/2020/TA/Leviathan/registry_event_apt_leviathan.yml
Labels: Rules, Emerging-Threats

#4917 Antivirus signature matches - adjustments
  rules/category/antivirus/av_exploiting.yml
  rules/category/antivirus/av_hacktool.yml
  rules/category/antivirus/av_password_dumper.yml
  rules/category/antivirus/av_ransomware.yml
  rules/category/antivirus/av_relevant_files.yml
  rules/category/antivirus/av_webshell.yml
  rules/windows/builtin/application/Other/win_av_relevant_match.yml
Labels: Rules, Windows

#4918 Add chmod for final goodlogs run test on each job
  .github/workflows/goodlog-tests.yml
Labels: Maintenance

#4922 Add detected actions to github_disable_high_risk_configuration.yml
  rules/cloud/github/github_disable_high_risk_configuration.yml
Labels: Rules

#4920 Moved Two File Event Rules Under File Access
  deprecated/windows/file_event_win_access_susp_teams.yml
  deprecated/windows/file_event_win_access_susp_unattend_xml.yml
  rules-threat-hunting/windows/file/file_access/file_access_win_susp_unattend_xml.yml
  rules/windows/file/file_access/file_access_win_browsers_credential_access.yml
  rules/windows/file/file_access/file_access_win_office_outlook_mail_credential.yml
  rules/windows/file/file_access/file_access_win_susp_credential_manager_access.yml
  rules/windows/file/file_access/file_access_win_susp_credhist.yml
  rules/windows/file/file_access/file_access_win_susp_dpapi_master_key_access.yml
  rules/windows/file/file_access/file_access_win_susp_gpo_files.yml
  rules/windows/file/file_access/file_access_win_susp_reg_and_hive.yml
  rules/windows/file/file_access/file_access_win_teams_sensitive_files.yml
Labels: Rules, Windows

#4919 Added new detectors for BOINC
  rules-threat-hunting/windows/process_creation/proc_creation_win_boinc_execution.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_conhost_headless_execution.yml
  rules/windows/process_creation/proc_creation_win_conhost_headless_powershell.yml
  rules/windows/process_creation/proc_creation_win_renamed_boinc.yml
  rules/windows/process_creation/proc_creation_win_susp_no_image_name.yml
Labels: Rules, Windows

#4928 Fix FPs from testing
  rules/web/proxy_generic/proxy_ua_apt.yml
  rules/web/proxy_generic/proxy_ua_frameworks.yml
  rules/web/proxy_generic/proxy_ua_malware.yml
  rules/windows/builtin/ntlm/win_susp_ntlm_auth.yml
  rules/windows/image_load/image_load_side_load_dbgmodel.yml
  rules/windows/process_creation/proc_creation_win_susp_cli_obfuscation_unicode.yml
  rules/windows/process_creation/proc_creation_win_susp_system_user_anomaly.yml
Labels: Rules, Windows

#4936 FIN7 : proc_creation_win_fin7_exploitation_indicators
  rules-emerging-threats/2024/TA/FIN7/proc_creation_win_apt_fin7_exploitation_indicators.yml
Labels: Rules, Emerging-Threats

#4933 New Rule : Create Remote Thread In Shell Application
  rules/windows/create_remote_thread/create_remote_thread_win_susp_target_shell_application.yml
Labels: Rules, Windows

#4938 Add CVE-2024-37085 detection rules
  rules-emerging-threats/2024/Exploits/CVE-2024-37085/proc_creation_win_exploit_cve_2024_37085_esxi_admins_group_creation.yml
  rules-emerging-threats/2024/Exploits/CVE-2024-37085/win_security_exploit_cve_2024_37085_esxi_admins_group.yml
Labels: Rules, Emerging-Threats

#4940 Update unreachable references `blog.menasec[.]net`
  deprecated/windows/file_event_win_susp_clr_logs.yml
  rules-emerging-threats/2020/Exploits/CVE-2020-1350/proc_creation_win_exploit_cve_2020_1350.yml
  rules/network/zeek/zeek_smb_converted_win_atsvc_task.yml
  rules/network/zeek/zeek_smb_converted_win_impacket_secretdump.yml
  rules/network/zeek/zeek_smb_converted_win_susp_psexec.yml
  rules/windows/builtin/security/win_security_account_discovery.yml
  rules/windows/builtin/security/win_security_atsvc_task.yml
  rules/windows/builtin/security/win_security_impacket_psexec.yml
  rules/windows/builtin/security/win_security_impacket_secretdump.yml
  rules/windows/builtin/security/win_security_susp_psexec.yml
  rules/windows/builtin/security/win_security_svcctl_remote_service.yml
  rules/windows/file/file_event/file_event_win_net_cli_artefact.yml
  rules/windows/image_load/image_load_susp_script_dotnet_clr_dll_load.yml
  rules/windows/process_access/proc_access_win_lsass_memdump.yml
Labels: Rules, Windows, Emerging-Threats

#4934 Update and add new `file_access` rules
  rules-threat-hunting/windows/file/file_access/file_access_win_browsers_chromium_sensitive_files.yml
  rules-threat-hunting/windows/file/file_access/file_access_win_browsers_credential.yml
  rules-threat-hunting/windows/file/file_access/file_access_win_office_outlook_mail_credential.yml
  rules-threat-hunting/windows/file/file_access/file_access_win_susp_reg_and_hive.yml
  rules/windows/file/file_access/file_access_win_susp_credential_manager_access.yml
  rules/windows/file/file_access/file_access_win_susp_credhist.yml
  rules/windows/file/file_access/file_access_win_susp_crypto_currency_wallets.yml
  rules/windows/file/file_access/file_access_win_susp_dpapi_master_key_access.yml
  rules/windows/file/file_access/file_access_win_susp_gpo_files.yml
  rules/windows/file/file_access/file_access_win_teams_sensitive_files.yml
Labels: Rules, Windows

#4929 New rule to detect pbpaste LOOBin execution on macOS
  rules-threat-hunting/macos/process_creation/proc_creation_macos_pbpaste_execution.yml
Labels: Rules, MacOS

#4885 Create image_load_susp_dotnet_csharp_streamer_rat.yml
  rules-emerging-threats/2024/Malware/CSharp-Streamer/image_load_malware_csharp_streamer_dotnet_load.yml
Labels: Rules, Windows
