Repository SigmaHQ/sigma, pull requests merged in 2024-03, with the labels that each got.

#4750 Fix FP in proc_access_win_lsass_memdump.yml
  rules/windows/process_access/proc_access_win_lsass_memdump.yml
Labels: Rules, Windows

#4754 Update ATT&CK Mapping for Some Rules
  deprecated/windows/net_connection_win_binary_github_com.yml
  rules/windows/file/file_event/file_event_win_susp_desktopimgdownldr_file.yml
  rules/windows/network_connection/net_connection_win_susp_file_sharing_domains_susp_folders.yml
  rules/windows/registry/registry_event/registry_event_apt_pandemic.yml
Labels: Rules, Windows

#4755 Updated proc_creation_win_lolbin_susp_atbroker.yml to add exceptions.
  rules/windows/process_creation/proc_creation_win_atbroker_uncommon_ats_execution.yml
  rules/windows/process_creation/proc_creation_win_lolbin_susp_atbroker.yml
Labels: Rules, Windows

#4756 New Filter for Remote Thread Creation In Uncommon Target Image
  rules/windows/create_remote_thread/create_remote_thread_win_susp_uncommon_target_image.yml
Labels: Rules, Windows

#4749 Github New Rules for Secret Scanning and Push Protection Features
  rules/cloud/github/github_push_protection_bypass_detected.yml
  rules/cloud/github/github_push_protection_disabled.yml
  rules/cloud/github/github_secret_scanning_feature_disabled.yml
Labels: Rules

#4757 New Rules: Shell Context Menu Command Tampering
  rules-threat-hunting/windows/registry/registry_set/registry_set_shell_context_menu_tampering.yml
  rules/windows/registry/registry_set/registry_set_sentinelone_shell_context_tampering.yml
Labels: Rules, 2nd Review Needed, Windows

#4751 Potential Raspberry Robin CPL Execution Activity
  rules-emerging-threats/2024/Malware/Raspberry-Robin/proc_creation_win_malware_raspberry_robin_rundll32_shell32_cpl_exection.yml
Labels: Rules, Emerging-Threats

#4744 Update two rules involving loading of DLLs with Windows utilities
  rules/windows/image_load/image_load_susp_unsigned_dll.yml
  rules/windows/process_creation/proc_creation_win_susp_powershell_execution_via_dll.yml
Labels: Rules, Windows

#4731 Create win_system_tgs_request_etypes_missmatch.yml
  rules/windows/builtin/system/microsoft_windows_kerberos_key_distribution_center/win_system_kdcsvc_tgs_no_suitable_encryption_key_found.yml
Labels: Rules, Windows

#4730 New Rule: `Active Directory Certificate Services Denied Certificate Enrollment Request`
  rules/windows/builtin/system/microsoft_windows_certification_authority/win_system_adcs_enrollment_request_denied.yml
Labels: Rules, Windows

#4695 Add OpenCanary Rules
  rules/application/opencanary/opencanary_ftp_login_attempt.yml
  rules/application/opencanary/opencanary_git_clone_request.yml
  rules/application/opencanary/opencanary_http_get.yml
  rules/application/opencanary/opencanary_http_post_login_attempt.yml
  rules/application/opencanary/opencanary_httpproxy_login_attempt.yml
  rules/application/opencanary/opencanary_mssql_login_sqlauth.yml
  rules/application/opencanary/opencanary_mssql_login_winauth.yml
  rules/application/opencanary/opencanary_mysql_login_attempt.yml
  rules/application/opencanary/opencanary_ntp_monlist.yml
  rules/application/opencanary/opencanary_redis_command.yml
  rules/application/opencanary/opencanary_sip_request.yml
  rules/application/opencanary/opencanary_smb_file_open.yml
  rules/application/opencanary/opencanary_snmp_cmd.yml
  rules/application/opencanary/opencanary_ssh_login_attempt.yml
  rules/application/opencanary/opencanary_ssh_new_connection.yml
  rules/application/opencanary/opencanary_telnet_login_attempt.yml
  rules/application/opencanary/opencanary_tftp_request.yml
  rules/application/opencanary/opencanary_vnc_connection_attempt.yml
  tests/logsource.json
Labels: Rules, 2nd Review Needed

#4752 Update rules to use the `windash` modifier
  rules-emerging-threats/2023/Malware/Qakbot/proc_creation_win_malware_qakbot_regsvr32_calc_pattern.yml
  rules/linux/process_creation/proc_creation_lnx_capa_discovery.yml
  rules/windows/builtin/system/service_control_manager/win_system_susp_service_installation_script.yml
  rules/windows/process_creation/proc_creation_win_bash_command_execution.yml
  rules/windows/process_creation/proc_creation_win_bash_file_execution.yml
  rules/windows/process_creation/proc_creation_win_certoc_load_dll.yml
  rules/windows/process_creation/proc_creation_win_certoc_load_dll_susp_locations.yml
  rules/windows/process_creation/proc_creation_win_certutil_certificate_installation.yml
  rules/windows/process_creation/proc_creation_win_certutil_decode.yml
  rules/windows/process_creation/proc_creation_win_certutil_encode.yml
  rules/windows/process_creation/proc_creation_win_certutil_encode_susp_extensions.yml
  rules/windows/process_creation/proc_creation_win_certutil_encode_susp_location.yml
  rules/windows/process_creation/proc_creation_win_certutil_export_pfx.yml
  rules/windows/process_creation/proc_creation_win_chcp_codepage_lookup.yml
  rules/windows/process_creation/proc_creation_win_cmd_curl_download_exec_combo.yml
  rules/windows/process_creation/proc_creation_win_cmd_del_execution.yml
  rules/windows/process_creation/proc_creation_win_cmd_dir_execution.yml
  rules/windows/process_creation/proc_creation_win_cmd_ping_copy_combined_execution.yml
  rules/windows/process_creation/proc_creation_win_cmd_ping_del_combined_execution.yml
  rules/windows/process_creation/proc_creation_win_cmdkey_adding_generic_creds.yml
  rules/windows/process_creation/proc_creation_win_cmdkey_recon.yml
  rules/windows/process_creation/proc_creation_win_diskshadow_script_mode_susp_ext.yml
  rules/windows/process_creation/proc_creation_win_diskshadow_script_mode_susp_location.yml
  rules/windows/process_creation/proc_creation_win_esentutl_webcache.yml
  rules/windows/process_creation/proc_creation_win_expand_cabinet_files.yml
  rules/windows/process_creation/proc_creation_win_findstr_download.yml
  rules/windows/process_creation/proc_creation_win_findstr_subfolder_search.yml
  rules/windows/process_creation/proc_creation_win_forfiles_proxy_execution_.yml
  rules/windows/process_creation/proc_creation_win_lodctr_performance_counter_tampering.yml
  rules/windows/process_creation/proc_creation_win_odbcconf_response_file.yml
  rules/windows/process_creation/proc_creation_win_ssh_port_forward.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_psexec_paexec_escalate_system.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_psloglist.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_susp_psexec_paexec_flags.yml
  rules/windows/process_creation/proc_creation_win_whoami_all_execution.yml
  rules/windows/process_creation/proc_creation_win_wmic_xsl_script_processing.yml
  tests/sigma_cli_conf.yml
Labels: QA, Rules, Windows, Linux, Emerging-Threats

#4761 chore: use CIDR modifier
  rules/network/zeek/zeek_http_webdav_put_request.yml
  rules/network/zeek/zeek_rdp_public_listener.yml
  rules/windows/builtin/security/account_management/win_security_successful_external_remote_rdp_login.yml
  rules/windows/builtin/security/account_management/win_security_successful_external_remote_smb_login.yml
  rules/windows/builtin/security/account_management/win_security_susp_failed_logon_source.yml
  rules/windows/network_connection/net_connection_win_dllhost_non_local_ip.yml
  rules/windows/network_connection/net_connection_win_office_outbound_non_local_ip.yml
  rules/windows/network_connection/net_connection_win_rundll32_net_connections.yml
  rules/windows/network_connection/net_connection_win_script_wan.yml
  rules/windows/network_connection/net_connection_win_susp_malware_callback_port.yml
  rules/windows/network_connection/net_connection_win_susp_malware_callback_ports_uncommon.yml
  rules/windows/network_connection/net_connection_win_susp_outbound_mobsync_connection.yml
  rules/windows/network_connection/net_connection_win_winlogon_net_connections.yml
Labels: Rules, Windows

#4762 Fix false positive found in testing
  deprecated/windows/file_event_win_crackmapexec_patterns.yml
  deprecated/windows/net_connection_win_susp_epmap.yml
  rules-threat-hunting/windows/image_load/image_load_dll_dbghelp_dbgcore_susp_load.yml
  rules/windows/file/file_event/file_event_win_hktl_crackmapexec_indicators.yml
  rules/windows/image_load/image_load_dll_dbghelp_dbgcore_susp_load.yml
  rules/windows/image_load/image_load_side_load_from_non_system_location.yml
Labels: Rules, Windows

#4764 Update image_load_office_outlook_outlvba_load.yml
  rules/windows/image_load/image_load_office_outlook_outlvba_load.yml
Labels: Rules, Windows

#4724 Update validate script
  .github/workflows/sigma-validation.yml
  tests/validate-sigma-schema/validate.py
  tests/validate-sigma-schema/validate.sh
Labels: Maintenance

#4765 Update additional rules to use the `cidr` modifier
  rules-emerging-threats/2023/Exploits/CVE-2023-23397/win_smbclient_connectivity_exploit_cve_2023_23397_outlook_remote_file.yml
  rules-threat-hunting/windows/network_connection/net_connection_win_dfsvc_non_local_ip.yml
  rules-threat-hunting/windows/network_connection/net_connection_win_powershell_network_connection.yml
  rules/network/zeek/zeek_http_webdav_put_request.yml
  rules/network/zeek/zeek_rdp_public_listener.yml
  rules/web/proxy_generic/proxy_webdav_search_ms.yml
  rules/windows/network_connection/net_connection_win_dllhost_non_local_ip.yml
  rules/windows/network_connection/net_connection_win_office_outbound_non_local_ip.yml
  rules/windows/network_connection/net_connection_win_rdp_reverse_tunnel.yml
  rules/windows/network_connection/net_connection_win_rundll32_net_connections.yml
  rules/windows/network_connection/net_connection_win_script_wan.yml
  rules/windows/network_connection/net_connection_win_susp_malware_callback_port.yml
  rules/windows/network_connection/net_connection_win_susp_malware_callback_ports_uncommon.yml
  rules/windows/network_connection/net_connection_win_susp_outbound_mobsync_connection.yml
  rules/windows/network_connection/net_connection_win_winlogon_net_connections.yml
  rules/windows/network_connection/net_connection_win_wuauclt_network_connection.yml
Labels: Rules, Windows

#4768 Chore : update workflows action version
  .github/workflows/goodlog-tests.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/ref-archiver.yml
  .github/workflows/sigma-rule-promoter.yml
  .github/workflows/sigma-test.yml
Labels: Maintenance

#4769 Fix permission error
  .github/workflows/sigma-validation.yml
  tests/validate-sigma-schema/validate.py
Labels: 2nd Review Needed, Maintenance

#4767 Update rules with windash modifier
  rules-threat-hunting/windows/process_creation/proc_creation_win_diskshadow_script_mode.yml
  rules/windows/process_creation/proc_creation_win_iis_appcmd_susp_module_install.yml
  rules/windows/process_creation/proc_creation_win_lolbin_replace.yml
  rules/windows/process_creation/proc_creation_win_msdt_arbitrary_command_execution.yml
  rules/windows/process_creation/proc_creation_win_msdt_susp_cab_options.yml
  rules/windows/process_creation/proc_creation_win_msiexec_dll.yml
  rules/windows/process_creation/proc_creation_win_msiexec_execute_dll.yml
  rules/windows/process_creation/proc_creation_win_msiexec_install_quiet.yml
  rules/windows/process_creation/proc_creation_win_msiexec_install_remote.yml
  rules/windows/process_creation/proc_creation_win_odbcconf_response_file_susp.yml
  rules/windows/process_creation/proc_creation_win_reg_service_imagepath_change.yml
  rules/windows/process_creation/proc_creation_win_regedit_export_critical_keys.yml
  rules/windows/process_creation/proc_creation_win_regedit_export_keys.yml
  rules/windows/process_creation/proc_creation_win_regedit_import_keys.yml
  rules/windows/process_creation/proc_creation_win_regedit_import_keys_ads.yml
  rules/windows/process_creation/proc_creation_win_regsvr32_flags_anomaly.yml
  rules/windows/process_creation/proc_creation_win_rpcping_credential_capture.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_eula_accepted.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_livekd_kernel_memory_dump.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_procdump_lsass.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_sysmon_config_update.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_sysmon_uninstall.yml
  rules/windows/process_creation/proc_creation_win_tasklist_module_enumeration.yml
Labels: Rules, Windows

#4759 Create Incoming TeamViewer Connection Rules
  rules/linux/process_creation/proc_creation_lnx_remote_access_tools_teamviewer_incoming_connection.yml
  rules/macos/process_creation/proc_creation_macos_remote_access_tools_teamviewer_incoming_connection.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_teamviewer_incoming_connection.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_ultraviewer.yml
Labels: Rules, Windows

#4775 Change action name to sigma-rules-validator to avoid conflict when publishing on GH marketplace
  .github/workflows/sigma-validation.yml
Labels: Maintenance

#4776 fix links to elatic-homepage in rules-files
  rules/windows/file/file_change/file_change_win_unusual_modification_by_dns_exe.yml
  rules/windows/file/file_delete/file_delete_win_unusual_deletion_by_dns_exe.yml
  rules/windows/process_creation/proc_creation_win_dns_susp_child_process.yml
  tests/rule-references.txt
Labels: Rules, Windows, Maintenance

#4777 More ip lookup services
  rules/windows/dns_query/dns_query_win_susp_external_ip_lookup.yml
  rules/windows/network_connection/net_connection_win_susp_external_ip_lookup.yml
Labels: Rules, 2nd Review Needed, Windows

#4779 Update README.md
  README.md
Labels: Maintenance

#4780 Minor fix for ip lookup rule
  rules/windows/dns_query/dns_query_win_susp_external_ip_lookup.yml
  rules/windows/network_connection/net_connection_win_susp_external_ip_lookup.yml
Labels: Rules, Windows

#4783 Fix FP & Registry Logic
  deprecated/windows/registry_set_creation_service_uncommon_folder.yml
  deprecated/windows/registry_set_malware_adwind.yml
  rules-emerging-threats/2020/Exploits/CVE-2020-1048/registry_set_exploit_cve_2020_1048_new_printer_port.yml
  rules-emerging-threats/2020/Malware/FlowCloud/registry_event_malware_flowcloud_markers.yml
  rules-emerging-threats/2022/Exploits/CVE-2022-30190/registry_set_exploit_cve_2022_30190_msdt_follina.yml
  rules-threat-hunting/windows/registry/registry_set/registry_set_service_image_path_user_controlled_folder.yml
  rules/windows/network_connection/net_connection_win_wuauclt_network_connection.yml
  rules/windows/process_creation/proc_creation_win_powershell_download_susp_file_sharing_domains.yml
  rules/windows/process_creation/proc_creation_win_susp_electron_execution_proxy.yml
  rules/windows/registry/registry_event/registry_event_apt_pandemic.yml
  rules/windows/registry/registry_event/registry_event_mal_flowcloud.yml
  rules/windows/registry/registry_event/registry_event_portproxy_registry_key.yml
  rules/windows/registry/registry_event/registry_event_runonce_persistence.yml
  rules/windows/registry/registry_event/registry_event_ssp_added_lsa_config.yml
  rules/windows/registry/registry_set/registry_set_add_load_service_in_safe_mode.yml
  rules/windows/registry/registry_set/registry_set_add_port_monitor.yml
  rules/windows/registry/registry_set/registry_set_change_rdp_port.yml
  rules/windows/registry/registry_set/registry_set_change_sysmon_driver_altitude.yml
  rules/windows/registry/registry_set/registry_set_change_winevt_channelaccess.yml
  rules/windows/registry/registry_set/registry_set_cobaltstrike_service_installs.yml
  rules/windows/registry/registry_set/registry_set_disable_administrative_share.yml
  rules/windows/registry/registry_set/registry_set_disable_defender_firewall.yml
  rules/windows/registry/registry_set/registry_set_disable_windows_defender_service.yml
  rules/windows/registry/registry_set/registry_set_disable_winevt_logging.yml
  rules/windows/registry/registry_set/registry_set_hide_file.yml
  rules/windows/registry/registry_set/registry_set_persistence_ifilter.yml
  rules/windows/registry/registry_set/registry_set_servicedll_hijack.yml
  rules/windows/registry/registry_set/registry_set_timeproviders_dllname.yml
Labels: Rules, Windows, Emerging-Threats

#4694 Authored native Kubernetes Detections
  rules/application/kubernetes/audit/kubernetes_audit_deployment_deleted.yml
  rules/application/kubernetes/audit/kubernetes_audit_events_deleted.yml
  rules/application/kubernetes/audit/kubernetes_audit_exec_into_container.yml
  rules/application/kubernetes/audit/kubernetes_audit_hostpath_mount.yml
  rules/application/kubernetes/audit/kubernetes_audit_pod_in_system_namespace.yml
  rules/application/kubernetes/audit/kubernetes_audit_privileged_pod_creation.yml
  rules/application/kubernetes/audit/kubernetes_audit_rbac_permisions_listing.yml
  rules/application/kubernetes/audit/kubernetes_audit_secrets_enumeration.yml
  rules/application/kubernetes/audit/kubernetes_audit_serviceaccount_creation.yml
  rules/application/kubernetes/audit/kubernetes_audit_sidecar_injection.yml
  tests/logsource.json
Labels: Rules, 2nd Review Needed, Maintenance

#4774 fix: fp found in testing
  rules-emerging-threats/2024/Exploits/CVE-2024-1212/web_exploit_cve_2024_1212_.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_cmd_redirect.yml
  rules/windows/file/file_event/file_event_win_create_evtx_non_common_locations.yml
  rules/windows/file/file_event/file_event_win_creation_system_file.yml
  rules/windows/process_creation/proc_creation_win_cmd_redirection_susp_folder.yml
  rules/windows/process_creation/proc_creation_win_reg_add_safeboot.yml
  rules/windows/process_creation/proc_creation_win_schtasks_susp_pattern.yml
  rules/windows/registry/registry_set/registry_set_office_vba_warnings_tamper.yml
  rules/windows/registry/registry_set/registry_set_optimize_file_sharing_network.yml
  rules/windows/registry/registry_set/registry_set_susp_run_key_img_folder.yml
Labels: 2nd Review Needed
