Repository SigmaHQ/sigma, pull requests merged in 2024-05, with the labels that each got.

#4847 Update test Workflow
  .github/workflows/sigma-test.yml
  tests/sigma_cli_conf.yml
  tests/test_rules.py
Labels: Maintenance

#4844 Atomic T1548.002 Add new registry keys
  rules/windows/registry/registry_set/registry_set_disable_uac_registry.yml
  rules/windows/registry/registry_set/registry_set_uac_disable.yml
  rules/windows/registry/registry_set/registry_set_uac_disable_notification.yml
  rules/windows/registry/registry_set/registry_set_uac_disable_secure_desktop_prompt.yml
Labels: Rules, Windows

#4843 Add rule for Redcannary T1562.004
  rules-threat-hunting/windows/powershell/powershell_script/posh_ps_new_netfirewallrule_allow.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_powershell_new_netfirewallrule_allow.yml
  rules/windows/builtin/firewall_as/win_firewall_as_add_rule.yml
  rules/windows/builtin/firewall_as/win_firewall_as_add_rule_susp_folder.yml
  rules/windows/builtin/firewall_as/win_firewall_as_add_rule_wmiprvse.yml
Labels: Rules, Windows

#4845 Proxy WebDAV Rule Improvements/New Rule
  deprecated/web/proxy_webdav_search_ms.yml
  rules-threat-hunting/windows/file/file_event/file_event_win_webdav_tmpfile_creation.yml
  rules/web/proxy_generic/proxy_webdav_external_execution.yml
Labels: Rules

#4839 New Rule: RDP Originating From Domain Controller
  rules-placeholder/windows/network_connection/net_connection_win_susp_rdp_from_domain_controller.yml
  tests/logsource.json
  tests/test_logsource.py
Labels: Rules, Windows

#4851 Fix FP Forest-Blizzard/proc_creation_win_apt_forest_blizzard_activity
  rules-emerging-threats/2024/TA/Forest-Blizzard/proc_creation_win_apt_forest_blizzard_activity.yml
Labels: Rules, Emerging-Threats

#4830 LOLBAS wbadmin rule
  rules/windows/process_creation/proc_creation_win_esentutl_sensitive_file_copy.yml
  rules/windows/process_creation/proc_creation_win_wbadmin_delete_all_backups.yml
  rules/windows/process_creation/proc_creation_win_wbadmin_delete_backups.yml
  rules/windows/process_creation/proc_creation_win_wbadmin_delete_systemstatebackup.yml
  rules/windows/process_creation/proc_creation_win_wbadmin_dump_sensitive_files.yml
  rules/windows/process_creation/proc_creation_win_wbadmin_restore_file.yml
  rules/windows/process_creation/proc_creation_win_wbadmin_restore_sensitive_files.yml
Labels: Rules, Windows

#4850 Cleanup condition writing
  .github/workflows/known-FPs.csv
  rules-emerging-threats/2017/Malware/CosmicDuke/win_security_mal_cosmik_duke_persistence.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_schtasks_creation_from_susp_parent.yml
  rules/windows/file/file_event/file_event_win_susp_executable_creation.yml
  rules/windows/process_creation/proc_creation_win_format_uncommon_filesystem_load.yml
  rules/windows/process_creation/proc_creation_win_hktl_evil_winrm.yml
  rules/windows/process_creation/proc_creation_win_reg_disable_sec_services.yml
  rules/windows/process_creation/proc_creation_win_schtasks_creation_temp_folder.yml
  rules/windows/process_creation/proc_creation_win_schtasks_delete.yml
  rules/windows/process_creation/proc_creation_win_schtasks_disable.yml
  rules/windows/process_creation/proc_creation_win_vscode_tunnel_renamed_execution.yml
Labels: Rules, Windows

#4852 Add rule for Atomic t1040
  rules/windows/powershell/powershell_script/posh_ps_packet_capture.yml
Labels: Rules, Windows

#4818 Suspicious keyscrambler child process
  rules/windows/image_load/image_load_side_load_keyscrambler.yml
  rules/windows/process_creation/proc_creation_win_keyscrambler_susp_child_process.yml
Labels: Rules, Windows

#4782 New Rule: proc_creation_macos_susp_launchctl_execution.yml
  rules/macos/process_creation/proc_creation_macos_launchctl_execution.yml
Labels: Rules, MacOS

#4856 Remove smart quotes from file_event_win_iphlpapi_dll_sideloading.yml
  rules/windows/file/file_event/file_event_win_iphlpapi_dll_sideloading.yml
Labels: Rules, Windows

#4862 Uncommon Target Image For Process Access - PROCESS_ALL_ACCESS
  deprecated/windows/proc_access_win_susp_invoke_patchingapi.yml
  rules/windows/process_access/proc_access_win_susp_all_access_uncommon_target.yml
Labels: Rules, Windows

#4860 Minor fix for rule regex
  rules/windows/process_creation/proc_creation_win_csc_susp_dynamic_compilation.yml
  rules/windows/process_creation/proc_creation_win_csc_susp_parent.yml
Labels: Rules, Windows

#4859 fix: casing of `Win32_ShadowCopy`
  rules/windows/powershell/powershell_classic/posh_pc_delete_volume_shadow_copies.yml
  rules/windows/powershell/powershell_script/posh_ps_create_volume_shadow_copy.yml
  rules/windows/powershell/powershell_script/posh_ps_susp_win32_shadowcopy.yml
  rules/windows/powershell/powershell_script/posh_ps_susp_win32_shadowcopy_deletion.yml
  rules/windows/process_creation/proc_creation_win_powershell_base64_wmi_classes.yml
  rules/windows/process_creation/proc_creation_win_powershell_shadowcopy_deletion.yml
Labels: Rules, Windows

#4840 Suspicious Browser Launch
  rules/windows/file/file_event/file_event_win_mysqld_uncommon_file_creation.yml
  rules/windows/process_creation/proc_creation_win_susp_browser_launch_from_document_reader_process.yml
Labels: Rules, Windows

#4785 New Rule: proc_creation_macos_sysctl_discovery.yml
  rules/macos/process_creation/proc_creation_macos_sysctl_discovery.yml
Labels: Rules, MacOS

#4864 Refactor azure_aad_secops_ca_policy_updatedby_bad_actor.yml to use a map of fields
  rules/cloud/azure/audit_logs/azure_aad_secops_ca_policy_updatedby_bad_actor.yml
Labels: Rules

#4865 Create new rule: proc_creation_macos_tmutil_backup_tampering.yml
  rules/macos/process_creation/proc_creation_macos_tmutil_delete_backup.yml
  rules/macos/process_creation/proc_creation_macos_tmutil_disable_backup.yml
  rules/macos/process_creation/proc_creation_macos_tmutil_exclude_file_from_backup.yml
Labels: Rules, MacOS

#4784 Create file_event_win_malware_darkgate_autoit3_save_temp.yml
  rules-emerging-threats/2024/Malware/DarkGate/file_event_win_malware_darkgate_autoit3_save_temp.yml
Labels: Rules, Emerging-Threats
