Repository SigmaHQ/sigma, pull requests merged in 2024-08, with the labels that each got.

#4763 New rules related to Raspberry Robin TTPs
  rules-emerging-threats/2024/Malware/Raspberry-Robin/image_load_malware_raspberry_robin_side_load_aclui_oleview.yml
  rules-emerging-threats/2024/Malware/Raspberry-Robin/registry_set_malware_raspberry_robin_internet_settings_zonemap_tamper.yml
Labels: Rules, Emerging-Threats

#4944 added expand modifier to placeholder rule
  rules-placeholder/windows/process_creation/proc_creation_win_userdomain_variable_enumeration.yml
Labels: Rules, Windows

#4945 Update of the fields for EventId 5145
  rules/windows/builtin/security/win_security_atsvc_task.yml
  rules/windows/builtin/security/win_security_gpo_scheduledtasks.yml
  rules/windows/builtin/security/win_security_svcctl_remote_service.yml
Labels: Rules, Windows

#4952 Additional tuning for image_load_side_load_dbgmodel.yml
  rules/windows/image_load/image_load_side_load_dbgmodel.yml
Labels: Rules, Windows

#4946 Suspicious Process Masquerading as Svchost
  rules/windows/process_creation/proc_creation_win_susp_system_exe_anomaly.yml
  rules/windows/process_creation/proc_creation_win_svchost_masqueraded_execution.yml
Labels: Rules, Windows

#4941 Addition of rule to cover registry events related to Specula
  rules/windows/registry/registry_set/registry_set_persistence_outlook_homepage.yml
  rules/windows/registry/registry_set/registry_set_persistence_outlook_todaypage.yml
Labels: Rules, Windows

#4955 Tuning for agentexecutor.exe commands
  rules/windows/process_creation/proc_creation_win_agentexecutor_potential_abuse.yml
  rules/windows/process_creation/proc_creation_win_agentexecutor_susp_usage.yml
Labels: Rules, Windows

#4958 Update unreachable references
  deprecated/windows/proc_access_win_lsass_susp_access.yml
  rules-threat-hunting/windows/process_access/proc_access_win_lsass_susp_source_process.yml
  rules-threat-hunting/windows/process_access/proc_access_win_lsass_uncommon_access_flag.yml
  rules/cloud/azure/signin_logs/azure_ad_suspicious_signin_bypassing_mfa.yml
  rules/windows/builtin/security/win_security_possible_dc_shadow.yml
  rules/windows/builtin/security/win_security_user_driver_loaded.yml
  rules/windows/create_remote_thread/create_remote_thread_win_susp_uncommon_target_image.yml
  rules/windows/file/file_event/file_event_win_rdp_file_susp_creation.yml
  rules/windows/file/file_event/file_event_win_susp_procexplorer_driver_created_in_tmp_folder.yml
  rules/windows/network_connection/net_connection_win_dialer_initiated_connection.yml
  rules/windows/powershell/powershell_script/posh_ps_ntfs_ads_access.yml
  rules/windows/powershell/powershell_script/posh_ps_susp_getprocess_lsass.yml
  rules/windows/powershell/powershell_script/posh_ps_windows_firewall_profile_disabled.yml
  rules/windows/process_access/proc_access_win_lsass_susp_access_flag.yml
  rules/windows/process_creation/proc_creation_win_hktl_pchunter.yml
  rules/windows/process_creation/proc_creation_win_mstsc_run_local_rdp_file.yml
  rules/windows/process_creation/proc_creation_win_mstsc_run_local_rdp_file_susp_location.yml
  rules/windows/process_creation/proc_creation_win_mstsc_run_local_rpd_file_susp_parent.yml
  rules/windows/process_creation/proc_creation_win_powershell_getprocess_lsass.yml
Labels: Rules, Windows

#4960 Update unreachable references
  rules-emerging-threats/2017/TA/Turla/win_system_apt_turla_service_png.yml
  rules-emerging-threats/2019/Exploits/CVE-2019-1378/proc_creation_win_exploit_cve_2019_1378.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-44228/web_cve_2021_44228_log4j.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-44228/web_cve_2021_44228_log4j_fields.yml
  rules-threat-hunting/web/proxy_generic/proxy_susp_class_extension_request.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_rundll32_by_ordinal.yml
  rules/linux/auditd/lnx_auditd_unix_shell_configuration_modification.yml
  rules/web/webserver_generic/web_jndi_exploit.yml
  rules/windows/image_load/image_load_dll_rstrtmgr_suspicious_load.yml
  rules/windows/image_load/image_load_dll_rstrtmgr_uncommon_load.yml
  rules/windows/image_load/image_load_side_load_appverifui.yml
  rules/windows/network_connection/net_connection_win_domain_dead_drop_resolvers.yml
  rules/windows/process_creation/proc_creation_win_hktl_secutyxploded.yml
  rules/windows/process_creation/proc_creation_win_java_susp_child_process.yml
  rules/windows/process_creation/proc_creation_win_java_susp_child_process_2.yml
  rules/windows/process_creation/proc_creation_win_netsh_fw_add_rule.yml
  rules/windows/process_creation/proc_creation_win_pua_advancedrun.yml
  rules/windows/process_creation/proc_creation_win_pua_advancedrun_priv_user.yml
  rules/windows/process_creation/proc_creation_win_pua_nsudo.yml
  rules/windows/process_creation/proc_creation_win_susp_proc_wrong_parent.yml
  rules/windows/process_creation/proc_creation_win_svchost_execution_with_no_cli_flags.yml
  rules/windows/process_creation/proc_creation_win_whoami_execution_from_high_priv_process.yml
Labels: Rules, Windows, Linux, Emerging-Threats

#4957 Token obfuscation regex fix
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/greetings.yml
  CONTRIBUTING.md
  rules/windows/powershell/powershell_script/posh_ps_token_obfuscation.yml
  rules/windows/process_creation/proc_creation_win_powershell_token_obfuscation.yml
Labels: Rules, Windows, Maintenance

#4949 Add Rule: proc_creation_macos_susp_hdiutil_mount.yml
  rules/macos/process_creation/proc_creation_macos_hdiutil_create.yml
  rules/macos/process_creation/proc_creation_macos_hdiutil_mount.yml
Labels: Rules, MacOS

#4963 Fix `Startup Item File Created - MacOS`
  rules/macos/file_event/file_event_macos_startup_items.yml
  rules/macos/file_event/file_event_macos_susp_startup_item_created.yml
Labels: Rules, MacOS

#4964 Changed to not use `Lookahead` regex
  rules/windows/powershell/powershell_script/posh_ps_token_obfuscation.yml
  rules/windows/process_creation/proc_creation_win_powershell_token_obfuscation.yml
Labels: Rules, Windows

#4956 Use native datetime.date
  tests/promote_rules_status.py
Labels: Maintenance

#4923 Remove test cover by pySigma-validators-sigmahq 0.7.0
  tests/test_rules.py
Labels: Maintenance

#4967 Fix `Powershell Token Obfuscation - Powershell` - Revert accidental change introduced in #4950
  rules/windows/powershell/powershell_script/posh_ps_token_obfuscation.yml
Labels: Rules, Windows

#4973 Small fix
  deprecated/windows/proc_creation_win_rundll32_js_runhtmlapplication.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_wmic_recon_system_info.yml
  rules/windows/process_creation/proc_creation_win_diskshadow_script_mode_susp_location.yml
  rules/windows/process_creation/proc_creation_win_hktl_lazagne.yml
Labels: Rules, Windows

#4974 New Rule: Potentially Suspicious Rundll32.EXE Execution of UDL File
  rules/windows/process_creation/proc_creation_win_rundll32_udl_exec.yml
Labels: Rules, Windows

#4948 Add Rule: `Data Export From MSSQL Table Via BCP.EXE`
  rules/windows/process_creation/proc_creation_win_bcp_export_data.yml
Labels: Rules, Windows

#4951 Add Rule: `Hidden Flag Set On File/Directory Via Chflags - MacOS`
  rules/macos/process_creation/proc_creation_macos_chflags_hidden_flag.yml
Labels: Rules, MacOS

#4965 Add Rule: `Driver Added To Disallowed Images In HVCI - Registry`
  rules/windows/registry/registry_set/registry_set_hvci_disallowed_images.yml
Labels: Rules, Windows

#4969 Add Rule: `Potential File Override/Append Via SET Command`
  rules-threat-hunting/windows/process_creation/proc_creation_win_cmd_set_prompt_abuse.yml
Labels: Rules, Windows

#4947 Add Rule: `DNS Query To Put.io - DNS Client`
  rules/windows/builtin/dns_client/win_dns_client_put_io.yml
Labels: Rules, Windows

#4982 Update old rules services/scheduled task tampering
  rules/windows/process_creation/proc_creation_win_schtasks_disable.yml
  rules/windows/process_creation/proc_creation_win_susp_service_tamper.yml
Labels: Rules, Windows

#4985 feat: add more groups used for LDAP reconnaissance
  rules/windows/builtin/ldap/win_ldap_recon.yml
Labels: Rules, Windows

#4937 Multiple Updates
  rules-threat-hunting/windows/process_creation/proc_creation_win_extexport_execution.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_microsoft_workflow_compiler_execution.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_wsl_arbitrary_command_execution.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_wusa_cab_files_extraction.yml
  rules/windows/builtin/application/Other/win_av_relevant_match.yml
  rules/windows/image_load/image_load_side_load_coregen.yml
  rules/windows/process_creation/proc_creation_win_acccheckconsole_execution.yml
  rules/windows/process_creation/proc_creation_win_dxcap_arbitrary_binary_execution.yml
  rules/windows/process_creation/proc_creation_win_lolbin_extexport.yml
  rules/windows/process_creation/proc_creation_win_lolbin_susp_acccheckconsole.yml
  rules/windows/process_creation/proc_creation_win_rdrleakdiag_process_dumping.yml
  rules/windows/process_creation/proc_creation_win_sigverif_uncommon_child_process.yml
  rules/windows/process_creation/proc_creation_win_ssh_proxy_execution.yml
  rules/windows/process_creation/proc_creation_win_susp_bad_opsec_sacrificial_processes.yml
  rules/windows/process_creation/proc_creation_win_susp_eventlog_content_recon.yml
  rules/windows/process_creation/proc_creation_win_wermgr_susp_child_process.yml
  rules/windows/process_creation/proc_creation_win_wsl_windows_binaries_execution.yml
  rules/windows/process_creation/proc_creation_win_wusa_cab_files_extraction_from_susp_paths.yml
  rules/windows/process_creation/proc_creation_win_wusa_susp_parent_execution.yml
  rules/windows/process_creation/proc_creation_win_xwizard_execution_non_default_location.yml
  rules/windows/process_creation/proc_creation_win_xwizard_runwizard_com_object_exec.yml
Labels: Rules, Windows

#4961 Contribute Sigma Rules from Personal Repository to Main Sigma Repository
  rules-emerging-threats/2020/Exploits/CVE-2020-1472/proc_creation_win_exploit_cve_2020_1472_zero_poc.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-44228/proc_creation_win_exploit_cve_2021_44228_vmware_horizon_log4j.yml
  rules-emerging-threats/2022/Exploits/CVE-2022-22954/proc_creation_win_exploit_cve_2022_22954_vmware_workspace_one_rce.yml
  rules-emerging-threats/2022/Exploits/CVE-2022-29072/proc_creation_win_exploit_cve_2022_29072_7zip.yml
  rules-emerging-threats/2022/Malware/ChromeLoader/proc_creation_win_malware_chrome_loader_execution.yml
  rules-emerging-threats/2022/Malware/Emotet/proc_creation_win_malware_emotet_loader_execution.yml
  rules-emerging-threats/2022/Malware/Raspberry-Robin/proc_creation_win_malware_raspberry_robin_execution.yml
  rules-emerging-threats/2022/Malware/Raspberry-Robin/proc_creation_win_malware_raspberry_robin_external_drive_exec.yml
  rules-emerging-threats/2022/Malware/Serpent-Backdoor/proc_creation_win_malware_serpent_backdoor_payload_execution.yml
  rules-emerging-threats/2022/Malware/SocGholish/proc_creation_win_malware_socgholish_fakeupdates_activity.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-34362-MOVEit-Transfer-Exploit/file_event_win_exploit_cve_2023_34362_moveit_transfer.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-34362-MOVEit-Transfer-Exploit/proc_creation_win_exploit_cve_2023_34362_moveit_transfer_exploitation_activity.yml
  rules-emerging-threats/2023/Malware/GuLoader/proc_creation_win_malware_guloader_execution.yml
  rules-emerging-threats/2023/Malware/Ursnif/proc_creation_win_malware_ursnif_cmd_redirection.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_remote_access_tools_action1_code_exec_and_remote_sessions.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_remote_access_tools_ammyy_admin_execution.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_remote_access_tools_anyviewer_shell_exec.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_script_exec_from_compressed_parent.yml
  rules/windows/builtin/security/account_management/win_security_susp_privesc_kerberos_relay_over_ldap.yml
  rules/windows/builtin/security/win_security_kerberoasting_activity.yml
  rules/windows/network_connection/net_connection_win_adws_unusual_connection.yml
  rules/windows/process_creation/proc_creation_win_explorer_folder_shortcut_via_shell_binary.yml
  rules/windows/process_creation/proc_creation_win_hktl_sharpwsus_wsuspendu_execution.yml
  rules/windows/process_creation/proc_creation_win_hktl_soaphound_execution.yml
  rules/windows/process_creation/proc_creation_win_office_onenote_embedded_script_execution.yml
  rules/windows/process_creation/proc_creation_win_powershell_amsi_init_failed_bypass.yml
  rules/windows/process_creation/proc_creation_win_powershell_download_cradle_obfuscated.yml
  rules/windows/process_creation/proc_creation_win_reg_lsa_disable_restricted_admin.yml
  rules/windows/process_creation/proc_creation_win_registry_office_disable_python_security_warnings.yml
  rules/windows/process_creation/proc_creation_win_registry_special_accounts_hide_user.yml
  rules/windows/process_creation/proc_creation_win_sdiagnhost_susp_child.yml
  rules/windows/process_creation/proc_creation_win_susp_emoji_usage_in_cli_1.yml
  rules/windows/process_creation/proc_creation_win_susp_emoji_usage_in_cli_2.yml
  rules/windows/process_creation/proc_creation_win_susp_emoji_usage_in_cli_3.yml
  rules/windows/process_creation/proc_creation_win_susp_emoji_usage_in_cli_4.yml
  rules/windows/registry/registry_set/registry_set_devdrv_disallow_antivirus_filter.yml
  rules/windows/registry/registry_set/registry_set_lsa_disablerestrictedadmin.yml
  rules/windows/registry/registry_set/registry_set_office_disable_python_security_warnings.yml
  rules/windows/registry/registry_set/registry_set_special_accounts.yml
  tests/sigma_cli_conf.yml
Labels: Rules, Windows

#4987 MacOS rule filter for wifivelocityd false positives
  rules/macos/process_creation/proc_creation_macos_susp_system_network_discovery.yml
Labels: Rules, MacOS

#4986 Sigma rules FP fixes
  rules/windows/builtin/appxdeployment_server/win_appxdeployment_server_uncommon_package_locations.yml
  rules/windows/builtin/code_integrity/win_codeintegrity_attempted_dll_load.yml
  rules/windows/builtin/firewall_as/win_firewall_as_add_rule.yml
  rules/windows/builtin/firewall_as/win_firewall_as_delete_rule.yml
Labels: Rules, Windows
