Repository SigmaHQ/sigma, pull requests merged in 2025-07, with the labels that each got.

#5503 Update `proc_creation_win_filefix_browsers` to include cmd.exe
  rules/windows/process_creation/proc_creation_win_filefix_browsers.yml
Labels: Rules, Windows, Ready to Merge

#5500 feat: Potential Notepad++ CVE-2025-49144 Exploitation
  rules-emerging-threats/2025/Exploits/CVE-2025-49144/proc_creation_win_exploit_cve_2025_49144.yml
Labels: Rules, Emerging-Threats, Ready to Merge

#5508 COM Object Hijacking Update
  rules/windows/registry/registry_set/registry_set_persistence_com_hijacking_builtin.yml
Labels: Rules, Windows

#5181 update Ssh proxy execution rule
  rules/windows/process_creation/proc_creation_win_ssh_proxy_execution.yml
Labels: Rules, Windows, Ready to Merge

#5509 Doppelganger - Cloning and Dumping LSASS
  rules/windows/process_creation/proc_creation_win_hktl_doppelganger.yml
  rules/windows/process_creation/proc_creation_win_hktl_hollowreaper.yml
Labels: Rules, Windows, Ready to Merge

#5478 add rule to detect vshadow.exe with -exec parameter
  rules/windows/process_creation/proc_creation_win_vshadow_exec.yml
Labels: Rules, 2nd Review Needed, Windows

#5512 Fix "Potential AS-REP Roasting via Kerberos TGT Requests"
  rules/windows/builtin/security/win_security_kerberos_asrep_roasting.yml
Labels: Rules, Windows

#5515 Coverage for Invoke-PowerDPAPI
  rules/windows/file/file_event/file_event_win_powershell_exploit_scripts.yml
  rules/windows/powershell/powershell_module/posh_pm_exploit_scripts.yml
  rules/windows/powershell/powershell_module/posh_pm_malicious_commandlets.yml
  rules/windows/powershell/powershell_script/posh_ps_malicious_commandlets.yml
  rules/windows/process_creation/proc_creation_win_powershell_malicious_cmdlets.yml
Labels: Rules, Windows, Ready to Merge

#5514 Add Filefix TypedPaths Registry rule
  rules/windows/registry/registry_set/registry_set_filefix_typedpath_commands.yml
Labels: Rules, 2nd Review Needed, Windows

#5520 Fix Logic in some rules that were causing FPs and FNs
  rules/windows/builtin/security/win_security_transf_files_with_cred_data_via_network_shares.yml
  rules/windows/image_load/image_load_dll_vss_ps_susp_load.yml
  rules/windows/process_creation/proc_creation_win_susp_system_exe_anomaly.yml
  rules/windows/registry/registry_delete/registry_delete_removal_com_hijacking_registry_key.yml
  rules/windows/registry/registry_set/registry_set_treatas_persistence.yml
Labels: Rules, Windows, Ready to Merge

#5537 feat: potential sharepoint cve-2025-53770 exploitation
  rules-emerging-threats/2025/Exploits/CVE-2025-53770/file_event_win_exploit_cve_2025_53770.yml
  rules-emerging-threats/2025/Exploits/CVE-2025-53770/proc_creation_win_exploit_cve_2025_53770_indicators.yml
  rules-emerging-threats/2025/Exploits/CVE-2025-53770/web_win_iis_exploit_cve_2025_53770.yml
Labels: Rules, Emerging-Threats

#5528 Add new defense evasion rules
  rules/windows/process_creation/proc_creation_win_defender_default_action_modified.yml
  rules/windows/process_creation/proc_creation_win_defender_remove_context_menu.yml
  rules/windows/process_creation/proc_creation_win_reg_disable_defender_wmi_autologger.yml
  rules/windows/registry/registry_delete/registry_delete_defender_context_menu.yml
  rules/windows/registry/registry_event/registry_event_defender_threat_action_modified.yml
Labels: Rules, Windows, Ready to Merge

#5564 Update net_connection_win_domain_devtunnels.yml Mitre technique and tactics
  rules/windows/network_connection/net_connection_win_domain_devtunnels.yml
Labels: Rules, Windows

#5565 Update net_connection_win_domain_ngrok.yml Mitre technique and tactics
  rules/windows/network_connection/net_connection_win_domain_ngrok.yml
Labels: Rules, Windows

#5561 Update net_connection_win_domain_vscode_tunnel_connection.yml Mitre Techniques
  rules/windows/network_connection/net_connection_win_domain_vscode_tunnel_connection.yml
Labels: Rules, Windows

#5568 [New Rule] - Password Never Expires Set via WMI
  rules/windows/process_creation/proc_creation_win_wmi_password_never_expire.yml
Labels: Rules, Windows, Ready to Merge
