Repository SigmaHQ/sigma, pull requests merged in 2025-03, with the labels that each got.

#5214 Add Rule: Zeek rule looking for suspicious file downloads
  rules/network/zeek/zeek_http_susp_file_ext_from_susp_tld.yml
Labels: Rules, Ready to Merge

#5211 Update Nslookup PowerShell Download Cradle Rule with Extended Coverage
  rules/windows/powershell/powershell_classic/posh_pc_abuse_nslookup_with_dns_records.yml
Labels: Rules, Windows, Ready to Merge

#5207 Updated Anydesk related rules
  rules/windows/builtin/system/service_control_manager/win_system_service_install_anydesk.yml
  rules/windows/file/file_event/file_event_win_anydesk_writing_susp_binaries.yml
  rules/windows/network_connection/net_connection_win_remote_access_tools_anydesk_incoming_connection.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_anydesk.yml
  rules/windows/process_creation/proc_creation_win_remote_access_tools_anydesk_susp_exec.yml
Labels: Rules, Windows, Ready to Merge

#5204 Veeam get creds
  rules/windows/file/file_event/file_event_win_powershell_exploit_scripts.yml
  rules/windows/powershell/powershell_module/posh_pm_exploit_scripts.yml
  rules/windows/powershell/powershell_module/posh_pm_malicious_commandlets.yml
  rules/windows/process_creation/proc_creation_win_powershell_malicious_cmdlets.yml
Labels: Rules, Windows, Ready to Merge

#5198 New rule contribution for latest Public Report - case #27244
  rules/windows/process_creation/proc_creation_win_notepad_local_passwd_discovery.yml
Labels: Rules, Windows, Ready to Merge

#5098 Add a new technique with a service
  rules/linux/auditd/lnx_auditd_susp_service_reload_or_restart.yml
Labels: Rules, 2nd Review Needed, Linux

#4858 Add deprecated csv script
  .github/workflows/sigma-rule-deprecated.yml
  deprecated/README.md
  deprecated/deprecated.csv
  tests/deprecated_rules.py
Labels: Rules, Maintenance

#5227 Fixed wrong date format and wrong keyword
  deprecated/windows/proc_creation_win_indirect_command_execution_forfiles.yml
  deprecated/windows/sysmon_powershell_execution_moduleload.yml
Labels: Rules, Ready to Merge

#5229 Update proc_creation_win_apt_fin7_exploitation_indicators.yml to add false positive
  rules-emerging-threats/2024/TA/FIN7/proc_creation_win_apt_fin7_exploitation_indicators.yml
Labels: Rules, Emerging-Threats, Ready to Merge
