Repository SigmaHQ/sigma, pull requests merged in 2025-10, with the labels that each got.

#5647 adding filegrabber to macos
  rules-emerging-threats/2025/Malware/filegrabber/proc_creation_macos_malware_amos_filegrabber.yml
Labels: Rules, MacOS, Ready to Merge

#5619 Add two rules for defense evasion and discovery
  rules/windows/process_creation/proc_creation_win_powershell_uninstall_defender_feature.yml
Labels: Rules, 2nd Review Needed, Windows

#5387 feat: SAP Netweaver CVE-2025-31324 Potential Exploitation
  rules-emerging-threats/2025/Exploits/CVE-2025-31324/file_event_lnx_sap_netweaver_webshell_creation.yml
  rules-emerging-threats/2025/Exploits/CVE-2025-31324/file_event_win_sap_netweaver_webshell_creation.yml
  rules-emerging-threats/2025/Exploits/CVE-2025-31324/proc_creation_lnx_sap_netweaver_susp_child_process.yml
  rules-emerging-threats/2025/Exploits/CVE-2025-31324/proc_creation_win_sap_netweaver_susp_child_process.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#5640 feat: iis webserver logs deletion
  rules/windows/file/file_delete/file_delete_win_delete_iis_access_logs.yml
  rules/windows/process_creation/proc_creation_win_iis_logs_deletion.yml
Labels: Rules, Windows, Ready to Merge
