Repository SigmaHQ/sigma, pull requests merged in 2025-09, with the labels that each got.

#5639 Fix some more aurora fps
  rules/windows/file/file_event/file_event_win_notepad_plus_plus_persistence.yml
  rules/windows/process_creation/proc_creation_win_sc_create_service.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_psexec_remote_execution.yml
  rules/windows/raw_access_thread/raw_access_thread_susp_disk_access_using_uncommon_tools.yml
Labels: Rules, 2nd Review Needed, Windows

#5175 Analytic for WDAC Policy abuse
  rules-threat-hunting/windows/file/file_event/file_event_win_wdac_policy_creation_in_codeintegrity_folder.yml
  tests/logsource.json
Labels: Rules, Windows, Ready to Merge

#5644 Adjust provider name selection in kerberos-key-distribution-center rules
  rules/windows/builtin/system/microsoft_windows_kerberos_key_distribution_center/win_system_kdcsvc_cert_use_no_strong_mapping.yml
  rules/windows/builtin/system/microsoft_windows_kerberos_key_distribution_center/win_system_kdcsvc_rc4_downgrade.yml
  rules/windows/builtin/system/microsoft_windows_kerberos_key_distribution_center/win_system_kdcsvc_tgs_no_suitable_encryption_key_found.yml
Labels: Rules, Windows, Ready to Merge

#5576 Add rule for CVE-2025-54309 CrushFTP
  rules-emerging-threats/2025/Exploits/CVE-2025-54309/proc_creation_win_exploit_cve_2025_54309.yml
Labels: Rules, Emerging-Threats, Ready to Merge
