Repository SigmaHQ/sigma, pull requests merged in 2025-06, with the labels that each got.

#5451 chore: cleanup metadata
  rules-emerging-threats/2017/TA/Turla/pipe_created_apt_turla_named_pipes.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-20090/web_cve_2021_20090_2021_20091_arcadyan_router_exploit.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-26084/web_cve_2021_26084_confluence_rce_exploit.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-33771/file_event_win_cve_2021_31979_cve_2021_33771_exploits.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-33771/registry_set_cve_2021_31979_cve_2021_33771_exploits.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-42321/win_exchange_cve_2021_42321.yml
  rules-emerging-threats/2022/Malware/win_mssql_sp_maggie.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-21554/win_cve_2023_21554_msmq_corrupted_packet.yml
  rules-emerging-threats/2023/Exploits/CVE-2023-23397/win_smbclient_connectivity_exploit_cve_2023_23397_outlook_remote_file.yml
  rules-emerging-threats/2023/TA/PaperCut-Print-Management-Exploitation/proc_creation_win_papercut_print_management_exploitation_pc_app.yml
  rules-emerging-threats/2025/Exploits/CVE-2025-30406/proc_creation_win_exploit_cve_2025_30406_centrestack_portal_child_process.yml
  rules/application/rpc_firewall/rpc_firewall_atsvc_lateral_movement.yml
  rules/application/rpc_firewall/rpc_firewall_atsvc_recon.yml
  rules/application/rpc_firewall/rpc_firewall_dcsync_attack.yml
  rules/application/rpc_firewall/rpc_firewall_efs_abuse.yml
  rules/application/rpc_firewall/rpc_firewall_eventlog_recon.yml
  rules/application/rpc_firewall/rpc_firewall_itaskschedulerservice_lateral_movement.yml
  rules/application/rpc_firewall/rpc_firewall_itaskschedulerservice_recon.yml
  rules/application/rpc_firewall/rpc_firewall_printing_lateral_movement.yml
  rules/application/rpc_firewall/rpc_firewall_remote_dcom_or_wmi.yml
  rules/application/rpc_firewall/rpc_firewall_remote_registry_lateral_movement.yml
  rules/application/rpc_firewall/rpc_firewall_remote_registry_recon.yml
  rules/application/rpc_firewall/rpc_firewall_remote_server_service_abuse.yml
  rules/application/rpc_firewall/rpc_firewall_remote_service_lateral_movement.yml
  rules/application/rpc_firewall/rpc_firewall_sasec_lateral_movement.yml
  rules/application/rpc_firewall/rpc_firewall_sasec_recon.yml
  rules/application/rpc_firewall/rpc_firewall_sharphound_recon_account.yml
  rules/application/rpc_firewall/rpc_firewall_sharphound_recon_sessions.yml
  rules/cloud/aws/cloudtrail/aws_iam_s3browser_templated_s3_bucket_policy_creation.yml
  rules/cloud/azure/activity_logs/azure_container_registry_created_or_deleted.yml
  rules/cloud/azure/activity_logs/azure_kubernetes_cluster_created_or_deleted.yml
  rules/cloud/azure/activity_logs/azure_kubernetes_network_policy_change.yml
  rules/cloud/azure/activity_logs/azure_kubernetes_role_access.yml
  rules/cloud/azure/activity_logs/azure_kubernetes_rolebinding_modified_or_deleted.yml
  rules/cloud/azure/activity_logs/azure_kubernetes_secret_or_config_object_access.yml
  rules/cloud/azure/activity_logs/azure_kubernetes_service_account_modified_or_deleted.yml
  rules/cloud/okta/okta_suspicious_activity_enduser_report.yml
  rules/linux/builtin/lnx_buffer_overflows.yml
  rules/linux/builtin/lnx_file_copy.yml
  rules/linux/builtin/lnx_shell_susp_log_entries.yml
  rules/linux/builtin/lnx_space_after_filename_.yml
  rules/linux/process_creation/proc_creation_lnx_proxy_connection.yml
  rules/linux/process_creation/proc_creation_lnx_setgid_setuid.yml
  rules/network/zeek/zeek_rdp_public_listener.yml
  rules/windows/builtin/application/msiinstaller/win_msi_install_from_web.yml
  rules/windows/builtin/security/win_security_disable_event_auditing_critical.yml
  rules/windows/builtin/security/win_security_petitpotam_susp_tgt_request.yml
  rules/windows/builtin/security/win_security_susp_computer_name.yml
  rules/windows/file/file_event/file_event_win_hktl_remote_cred_dump.yml
  rules/windows/network_connection/net_connection_win_adws_unusual_connection.yml
  rules/windows/process_access/proc_access_win_hktl_sysmonente.yml
  rules/windows/process_creation/proc_creation_win_esentutl_params.yml
  rules/windows/process_creation/proc_creation_win_gpg4win_portable_execution.yml
  rules/windows/process_creation/proc_creation_win_hktl_sharpview.yml
  rules/windows/process_creation/proc_creation_win_hktl_trufflesnout.yml
  rules/windows/process_creation/proc_creation_win_mstsc_run_local_rpd_file_susp_parent.yml
  rules/windows/process_creation/proc_creation_win_office_susp_child_processes.yml
  rules/windows/process_creation/proc_creation_win_susp_16bit_application.yml
  rules/windows/process_creation/proc_creation_win_wscript_cscript_susp_child_processes.yml
Labels: Rules, Windows, Linux, Emerging-Threats

#5436 Obfuscated PowerShell MSI Install via WindowsInstaller COM
  rules/windows/process_creation/proc_creation_win_powershell_comobject_msi.yml
Labels: Rules, Author Input Required, Windows

#5208 Fixed fps and added coverage for ARM based windows dotnet paths
  rules-threat-hunting/windows/file/file_event/file_event_win_susp_binary_dropper.yml
  rules-threat-hunting/windows/image_load/image_load_dll_amsi_uncommon_process.yml
  rules-threat-hunting/windows/image_load/image_load_wmi_module_load_by_uncommon_process.yml
  rules/windows/image_load/image_load_dll_system_management_automation_susp_load.yml
  rules/windows/image_load/image_load_side_load_from_non_system_location.yml
  rules/windows/image_load/image_load_side_load_mscorsvc.yml
  rules/windows/image_load/image_load_wsman_provider_image_load.yml
  rules/windows/process_creation/proc_creation_win_addinutil_uncommon_dir_exec.yml
  rules/windows/process_creation/proc_creation_win_aspnet_compiler_exectuion.yml
  rules/windows/process_creation/proc_creation_win_aspnet_compiler_susp_paths.yml
Labels: Rules, Work In Progress, 2nd Review Needed, Windows

#5465 Update level for `File Decoded From Base64/Hex Via Certutil.EXE`
  rules/windows/process_creation/proc_creation_win_certutil_decode.yml
Labels: Ready to Merge

#5461 added new image for user discovery
  rules/linux/auditd/lnx_auditd_user_discovery.yml
Labels: Rules, Linux, Ready to Merge

#5459 refactor logic of detection and add another syscall
  rules/linux/auditd/lnx_auditd_web_rce.yml
Labels: Rules, Linux, Ready to Merge

#5445 feat: Add coverage for Unicode Space Character Obfuscation
  rules/windows/file/file_event/file_event_win_susp_double_extension.yml
  rules/windows/process_creation/proc_creation_win_susp_cli_obfuscation_unicode_img.yml
  rules/windows/process_creation/proc_creation_win_susp_double_extension.yml
Labels: Rules, Windows, Ready to Merge

#5413 feat: Mshta suspicious files Execution
  rules/windows/process_creation/proc_creation_win_mshta_susp_execution.yml
Labels: Rules, Windows, Ready to Merge

#5473 Chore add threat tags
  rules-emerging-threats/2019/Malware/Chafer/proxy_malware_chafer_url_pattern.yml
  rules-emerging-threats/2019/Malware/Ursnif/proxy_malware_ursnif_c2_url.yml
  rules-emerging-threats/2019/Malware/Ursnif/proxy_malware_ursnif_download_url.yml
  rules-emerging-threats/2019/TA/APT40/proxy_apt_apt40_dropbox_tool_ua.yml
  rules-emerging-threats/2020/Exploits/CVE-2020-1048/registry_set_exploit_cve_2020_1048_new_printer_port.yml
  rules-emerging-threats/2020/Malware/ComRAT/proxy_malware_comrat_network_indicators.yml
  rules-emerging-threats/2020/Malware/FlowCloud/registry_event_malware_flowcloud_markers.yml
  rules-emerging-threats/2021/Exploits/CVE-2021-1675/av_printernightmare_cve_2021_34527.yml
  rules-threat-hunting/windows/image_load/image_load_dll_taskschd_by_process_in_potentially_suspicious_location.yml
  rules-threat-hunting/windows/network_connection/net_connection_win_dfsvc_uncommon_ports.yml
  rules-threat-hunting/windows/process_access/proc_access_win_lsass_susp_source_process.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_boinc_execution.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_conhost_headless_execution.yml
  rules-threat-hunting/windows/process_creation/proc_creation_win_powershell_new_netfirewallrule_allow.yml
Labels: Rules, Windows, Emerging-Threats, Ready to Merge

#5453 Create dns_query_win_common_malware_hosting_services.yml
  rules/windows/dns_query/dns_query_win_common_malware_hosting_services.yml
Labels: Rules

#5471 feat: BadSuccessor Exploits Detection
  rules/windows/file/file_event/file_event_win_powershell_exploit_scripts.yml
  rules/windows/powershell/powershell_module/posh_pm_exploit_scripts.yml
  rules/windows/powershell/powershell_module/posh_pm_malicious_commandlets.yml
  rules/windows/process_creation/proc_creation_win_hktl_sharpsuccessor_execution.yml
Labels: Rules, Windows

#5485 Update registry_set rules to add 64 bits Program Files directory in filters
  rules/windows/registry/registry_set/registry_set_asep_reg_keys_modification_common.yml
  rules/windows/registry/registry_set/registry_set_asep_reg_keys_modification_currentversion.yml
Labels: Rules, Windows

#5483 Add AlphaSOC to the list of products that use or integrate sigma rules
  README.md
Labels: Maintenance, Ready to Merge

#5488 Trusted path bypass
  rules/windows/image_load/image_load_win_trusted_path_bypass.yml
  rules/windows/process_creation/proc_creation_win_uac_bypass_trustedpath.yml
Labels: Rules, 2nd Review Needed, Windows

#5050 detect vacuuming of journald as clearing syslog
  rules/linux/process_creation/proc_creation_lnx_clear_syslog.yml
Labels: Rules, 2nd Review Needed, Linux

#5466 PowerShell MSI Install via WindowsInstaller COM From Remote Location
  rules/windows/process_creation/proc_creation_win_powershell_comobject_msi_remote.yml
Labels: Rules, 2nd Review Needed, Windows
