Repository SigmaHQ/sigma, pull requests merged in 2025-02, with the labels that each got.

#5195 Fp schtask
  rules/windows/process_creation/proc_creation_win_schtasks_system.yml
Labels: Rules, Windows

#5184 Added new rule that detect execution of nimscan, a port scanner utility
  rules/windows/process_creation/proc_creation_win_pua_nimscan.yml
Labels: Rules, 2nd Review Needed, Windows

#5192 Create process_creation_win_malware_Kalambur_curl_socks_tor.yml
  rules-emerging-threats/2025/Malware/proc_creation_win_malware_kalambur_curl_socks_tor.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#5189 Feat: Suspicious WDAC Policy File Creation
  rules/windows/file/file_event/file_event_win_susp_wdac_policy_creation.yml
Labels: Rules, Windows, Ready to Merge

#5200 Fix dot in filter name
  rules/windows/network_connection/net_connection_win_domain_google_api_non_browser_access.yml
Labels: Rules, Windows

#5173 feat: Potential Common Log File Exploit
  rules/windows/image_load/image_load_clfs_load.yml
  rules/windows/network_connection/net_connection_win_python.yml
  rules/windows/process_creation/proc_creation_win_python_inline_command_execution.yml
Labels: Rules, 2nd Review Needed, Windows

#5136 Privilege Escalation via CVE-2024-35250
  rules-emerging-threats/2024/Exploits/CVE-2024-35250/image_load_exploit_cve_2024_35250_privilege_escalation.yml
Labels: Rules, Emerging-Threats, Ready to Merge

#5202 Added coverage to detect alternative methods of representing ordinal obfuscation attempts.
  rules/windows/process_creation/proc_creation_win_rundll32_obfuscated_ordinal_call.yml
  rules/windows/process_creation/proc_creation_win_rundll32_process_dump_via_comsvcs.yml
Labels: Rules, 2nd Review Needed, Windows

#5215 docs: typo fixes
  rules/windows/file/file_delete/file_delete_win_delete_backup_file.yml
  rules/windows/file/file_delete/file_delete_win_sysinternals_sdelete_file_deletion.yml
Labels: Rules, Windows
