Repository SigmaHQ/sigma, pull requests merged in 2025-04, with the labels that each got.

#4886 Unconstrained delegation
  rules/windows/powershell/powershell_script/posh_ps_potential_unconstrained_delegation_discovery.yml
Labels: Rules, Windows, Ready to Merge

#5224 Fixed more fps
  rules-threat-hunting/windows/process_creation/proc_creation_win_susp_elevated_system_shell.yml
  rules/windows/file/file_event/file_event_win_powershell_drop_binary_or_script.yml
  rules/windows/network_connection/net_connection_win_python.yml
  rules/windows/process_creation/proc_creation_win_conhost_uncommon_parent.yml
  rules/windows/process_creation/proc_creation_win_susp_elevated_system_shell_uncommon_parent.yml
  rules/windows/process_creation/proc_creation_win_susp_inline_win_api_access.yml
  rules/windows/process_creation/proc_creation_win_susp_proc_wrong_parent.yml
  rules/windows/process_creation/proc_creation_win_whoami_parent_anomaly.yml
Labels: Rules, Windows, Ready to Merge

#5236 Tune and rename AWS attached malicious Lambda layer rule
  rules/cloud/aws/cloudtrail/aws_new_lambda_layer_attached.yml
Labels: Rules, Ready to Merge

#5237 refactor: reworked old rule
  rules/linux/builtin/lnx_buffer_overflows.yml
Labels: Rules, Linux, Ready to Merge

#5241 fix: issue with event id 30804
  rules-emerging-threats/2023/Exploits/CVE-2023-23397/win_smbclient_connectivity_exploit_cve_2023_23397_outlook_remote_file.yml
Labels: Rules, Emerging-Threats, Ready to Merge

#5256 Add Support for XML
  rules-emerging-threats/2023/Exploits/CVE-2023-23397/win_smbclient_connectivity_exploit_cve_2023_23397_outlook_remote_file.yml
Labels: Rules, 2nd Review Needed, Emerging-Threats

#5264 Potential Binary Impersonating Sysinternals Tools
  rules/windows/process_creation/proc_creation_win_sysinternals_tools_masquerading.yml
Labels: Rules, Windows, Ready to Merge

#5258 Add a missing mitre tag to one rule
  rules/windows/process_creation/proc_creation_win_adplus_memory_dump.yml
Labels: Rules, Windows, Ready to Merge

#5240 Addded rule for LNK Command-Line Padding with Whitespace Characters
  rules/windows/process_creation/proc_creation_win_susp_lnk_exec_hidden_cmd.yml
Labels: Rules, Windows, Ready to Merge

#5239 Add esentutl.exe in potential browser data stealing
  rules/windows/process_creation/proc_creation_win_susp_copy_browser_data.yml
Labels: Rules, Windows, Ready to Merge

#5234 Added AntiSpywareProduct class enumeration
  rules/windows/process_creation/proc_creation_win_wmic_recon_product_class.yml
Labels: Rules, Windows, Ready to Merge

#5228 Added rule to detect clearing of event logs via dotnet class
  rules/windows/powershell/powershell_script/posh_ps_susp_clear_eventlog.yml
  rules/windows/process_creation/proc_creation_win_susp_eventlog_clear.yml
Labels: Rules, Windows, Ready to Merge

#5265 The DFIR Report Rule Modifications
  rules-emerging-threats/2020/Exploits/CVE-2020-1472/proc_creation_win_exploit_cve_2020_1472_zero_poc.yml
  rules/windows/process_creation/proc_creation_win_powershell_download_cradle_obfuscated.yml
  rules/windows/process_creation/proc_creation_win_reg_rdp_keys_tamper.yml
  rules/windows/process_creation/proc_creation_win_registry_special_accounts_hide_user.yml
  rules/windows/process_creation/proc_creation_win_schtasks_reg_loader_encoded.yml
  rules/windows/process_creation/proc_creation_win_susp_emoji_usage_in_cli_1.yml
  rules/windows/process_creation/proc_creation_win_susp_emoji_usage_in_cli_2.yml
  rules/windows/process_creation/proc_creation_win_susp_emoji_usage_in_cli_3.yml
  rules/windows/process_creation/proc_creation_win_susp_emoji_usage_in_cli_4.yml
Labels: Rules, Windows, Emerging-Threats, Ready to Merge

#5263 new: Suspicious Process Spawn by CentreStack Portal AppPool
  rules-emerging-threats/2025/Exploits/proc_creation_win_exploit_cve_2025_30406_centrestack_portal_child_process.yml
Labels: Rules, Windows, Ready to Merge

#5261 feat: Suspicious CrushFTP Child Process
  rules-emerging-threats/2025/Exploits/CVE-2025-31161/proc_creation_win_crushftp_susp_child_processes.yml
Labels: Rules, Emerging-Threats, Ready to Merge

#5382 Adds Detection Studio to README.md page
  README.md
Labels: Maintenance, Ready to Merge

#5381 Adding mitre tags to 9 rules
  rules/application/rpc_firewall/rpc_firewall_sharphound_recon_sessions.yml
  rules/cloud/bitbucket/audit/bitbucket_audit_user_permissions_export_attempt_detected.yml
  rules/windows/process_creation/proc_creation_win_hktl_sharpup.yml
  rules/windows/process_creation/proc_creation_win_hktl_winpeas.yml
  rules/windows/process_creation/proc_creation_win_regedit_export_critical_keys.yml
  rules/windows/process_creation/proc_creation_win_regedit_export_keys.yml
  rules/windows/process_creation/proc_creation_win_webshell_chopper.yml
  rules/windows/process_creation/proc_creation_win_webshell_hacking.yml
  rules/windows/process_creation/proc_creation_win_webshell_recon_commands_and_processes.yml
Labels: Rules, Windows, Ready to Merge

#5380 Adding missing mitre attack tags for 8 rules.
  rules/windows/process_access/proc_access_win_hktl_handlekatz_lsass_access.yml
  rules/windows/process_creation/proc_creation_win_createdump_lolbin_execution.yml
  rules/windows/process_creation/proc_creation_win_dumpminitool_execution.yml
  rules/windows/process_creation/proc_creation_win_dumpminitool_susp_execution.yml
  rules/windows/process_creation/proc_creation_win_hktl_xordump.yml
  rules/windows/process_creation/proc_creation_win_renamed_createdump.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_procdump.yml
  rules/windows/process_creation/proc_creation_win_sysinternals_procdump_evasion.yml
Labels: Rules, Windows, Ready to Merge
