Repository SigmaHQ/sigma, pull requests merged in 2025-05, with the labels that each got.

#5394 chore: update pySigma validator and fix surrounding issues
  .github/workflows/sigma-test.yml
  tests/sigma_cli_conf.yml
Labels: Maintenance

#5196 Updated and Added rule related to Autorun Registry
  rules/windows/powershell/powershell_module/posh_pm_susp_invocation_specific.yml
  rules/windows/powershell/powershell_script/posh_ps_susp_invocation_specific.yml
  rules/windows/process_creation/proc_creation_win_autorun_registry_modified_via_wmic.yml
  rules/windows/process_creation/proc_creation_win_reg_add_run_key.yml
  rules/windows/process_creation/proc_creation_win_reg_direct_asep_registry_keys_modification.yml
  rules/windows/registry/registry_event/registry_event_susp_download_run_key.yml
  rules/windows/registry/registry_set/registry_set_powershell_in_run_keys.yml
  rules/windows/registry/registry_set/registry_set_susp_run_key_img_folder.yml
Labels: Rules, Windows, Ready to Merge

#5378 fix: FP related to Potentially Suspicious WDAC Policy File Creation
  rules/windows/file/file_event/file_event_win_susp_wdac_policy_creation.yml
Labels: Rules, Windows, Ready to Merge

#5427 feat: CVE-2025-4427/4428 Pre-Auth RCE in Ivanti EPMM
  rules-emerging-threats/2025/Exploits/CVE-2025-4427/web_invanti_epmm_cve_2025_4427_and_cve_2025_4428.yml
Labels: Rules, Emerging-Threats, Ready to Merge

#5395 Updating mitre tags for 18 rules
  rules/application/kubernetes/audit/kubernetes_audit_serviceaccount_creation.yml
  rules/category/database/db_anomalous_query.yml
  rules/cloud/azure/audit_logs/azure_auditlogs_laps_credential_dumping.yml
  rules/windows/builtin/iis-configuration/win_iis_logging_etw_disabled.yml
  rules/windows/builtin/iis-configuration/win_iis_logging_http_disabled.yml
  rules/windows/builtin/security/account_management/win_security_admin_rdp_login.yml
  rules/windows/builtin/security/win_security_possible_dc_shadow.yml
  rules/windows/builtin/security/win_security_susp_outbound_kerberos_connection.yml
  rules/windows/builtin/system/service_control_manager/win_system_service_install_remote_access_software.yml
  rules/windows/process_creation/proc_creation_win_conhost_headless_powershell.yml
  rules/windows/process_creation/proc_creation_win_dnscmd_discovery.yml
  rules/windows/process_creation/proc_creation_win_hktl_execution_via_pe_metadata.yml
  rules/windows/process_creation/proc_creation_win_susp_service_tamper.yml
  rules/windows/process_creation/proc_creation_win_wmic_namespace_defender.yml
  rules/windows/registry/registry_event/registry_event_mal_azorult.yml
  rules/windows/registry/registry_set/registry_set_crashdump_disabled.yml
  rules/windows/registry/registry_set/registry_set_disable_windows_event_log_access.yml
  rules/windows/registry/registry_set/registry_set_mal_blue_mockingbird.yml
Labels: Rules, Windows, Ready to Merge

#5390 Adding additional mitre tags for 9 rules
  rules/application/opencanary/opencanary_httpproxy_login_attempt.yml
  rules/linux/process_creation/proc_creation_lnx_proxy_connection.yml
  rules/linux/process_creation/proc_creation_lnx_susp_curl_fileupload.yml
  rules/macos/process_creation/proc_creation_macos_chflags_hidden_flag.yml
  rules/windows/builtin/application/msiinstaller/win_software_atera_rmm_agent_install.yml
  rules/windows/dns_query/dns_query_win_quickassist.yml
  rules/windows/network_connection/net_connection_win_dialer_initiated_connection.yml
  rules/windows/process_creation/proc_creation_win_findstr_download.yml
  rules/windows/process_creation/proc_creation_win_findstr_subfolder_search.yml
Labels: Rules, Windows, Linux, MacOS, Ready to Merge

#5388 Adding additional mitre tags for 8 rules
  rules/linux/auditd/lnx_auditd_data_compressed.yml
  rules/macos/process_creation/proc_creation_macos_hdiutil_mount.yml
  rules/network/zeek/zeek_dce_rpc_potential_petit_potam_efs_rpc_call.yml
  rules/windows/builtin/security/win_security_alert_ruler.yml
  rules/windows/builtin/system/microsoft_windows_distributed_com/win_system_lpe_indicators_tabtip.yml
  rules/windows/process_creation/proc_creation_win_browsers_chromium_headless_debugging.yml
  rules/windows/process_creation/proc_creation_win_browsers_remote_debugging.yml
  rules/windows/process_creation/proc_creation_win_hktl_relay_attacks_tools.yml
Labels: Rules, Windows, Linux, MacOS, Ready to Merge

#5405 Update registry_set_persistence_com_hijacking_builtin.yml
  rules/windows/registry/registry_set/registry_set_persistence_com_hijacking_builtin.yml
Labels: Rules, Windows, Ready to Merge

#5421 chore: update evtx-baseline
  .github/workflows/goodlog-tests.yml
Labels: Maintenance

#5393 Updating some vmware rules to match mitre V17
  rules/linux/process_creation/proc_creation_lnx_esxcli_network_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_permission_change_admin.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_storage_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_syslog_config_change.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_system_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_user_account_creation.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_vm_discovery.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_vm_kill.yml
  rules/linux/process_creation/proc_creation_lnx_esxcli_vsan_discovery.yml
Labels: Rules, 2nd Review Needed, Linux

#5417 Create Detection for Crash Dump Created By Operating System
  rules/windows/builtin/system/microsoft_windows_wer_systemerrorreporting/win_system_crash_dump_created.yml
Labels: Rules, 2nd Review Needed, Windows

#5431 chore: fix broken links
  tests/test_rules.py
Labels: Maintenance, Ready to Merge

#5429 Katz stealer malware
  rules-emerging-threats/2025/Malware/Katz-Stealer/dns_query_win_katz_stealer_domain.yml
  rules-emerging-threats/2025/Malware/Katz-Stealer/image_load_win_katz_stealer_payloads.yml
  rules-emerging-threats/2025/Malware/Katz-Stealer/net_dns_katz_stealer_domain.yml
  rules-emerging-threats/2025/Malware/Katz-Stealer/zeek_http_katz_stealer_susp_useragent.yml
  rules/windows/file/file_access/file_access_win_susp_process_access_browser_cred_files.yml
  rules/windows/process_creation/proc_creation_win_registry_enumeration_for_credentials_cli.yml
  rules/windows/process_creation/proc_creation_win_registry_export_of_thirdparty_creds.yml
Labels: Rules, Windows, Emerging-Threats

#5428 Create windows_security_kerberos_asrep_roasting.yml
  rules/windows/builtin/security/win_security_kerberos_asrep_roasting.yml
Labels: Rules, Windows

#5425 New Rule: Impacket File Indicators
  rules/windows/file/file_event/file_event_win_impacket_file_indicators.yml
Labels: Rules, 2nd Review Needed, Windows

#5435 Disabling aslr via personality syscall
  rules/linux/auditd/lnx_auditd_disable_aslr_protection.yml
Labels: Rules, Linux

#5440 Update MSSQL Server Failed Logon From External Network to filter for local machine without IP
  rules/windows/builtin/application/mssqlserver/win_mssql_failed_logon_from_external_network.yml
Labels: Rules, Windows

#5441 add poc for simulate this attack
  rules/linux/auditd/lnx_auditd_disable_aslr_protection.yml
Labels: Rules, Linux

#5438 clean dmesg logs
  rules/linux/auditd/lnx_auditd_clean_disable_dmesg_logs_via_syslog.yml
Labels: Rules, 2nd Review Needed, Linux
